#if($floorRespDto && ${floorRespDto.id} && ${floorRespDto.id} != '')
<div class="lbook-wrap clearfix">
    <div class="lbook">
        <div class="img-wrap">
            <a href="javascript:void(0);" lazy-href="$!{floorAdvertise.linkUrl}"><img style = "height:370px"src="#genImageUrl($!{floorAdvertise.vfsId},'194x370!')"></a>
        </div>
        <ul class="list clearfix">
            #foreach($floorLabel in $!{floorLabelList})
    			#if( $velocityCount < 9 )
    				<li><a  href="javascript:void(0);" lazy-href="$!{floorLabel.linkUrl}" title ="$!{floorLabel.labelName}"> · $!{floorLabel.labelName}</a></li>
    			#end
    		#end
        </ul>
    </div>
    <div class="tpl-arrowNav">
        <div class="tab-nav">
            <ul id="digitn" class="floorTabList" floor-id = "$!{floorRespDto.id}">
                #foreach($floorTab in $!{floorTabList})
    				<li  #if($velocityCount==1) class="active" #end>
    					<a  href="javascript:void(0);" lazy-href = "$!{floorTab.linkUrl}" id="$!{floorTab.id}" isLoad="no" floorId="$!{floorRespDTO.id}">$!{floorTab.tabName}</a></li>
				#end
            </ul>
        </div>
        <div class="tab-content">
			<!--yes -->
			#if($!{floorTabList.size()} > 0)
        		#foreach($floorTab in $!{floorTabList})##有页签
        		<div class="nItem floor-div-gds #if($velocityCount > 1) hide #end" id="floorGdsDIV_$!{floorTab.id}">
        		</div>
        		#end
        	#end
		</div>
	</div>
</div>
#else
<div class="nodata">
	<span>
	#if($errMsg && $errMsg != '')$!errMsg #else 未配置楼层！#end
    </span>
</div>
#end