#parse("sys/sys_param.vm")
<div class="template">
	#if(${gdsList} && $gdsList.size() > 0)
    <ul class="tUl tpl-books">
    	#foreach($gds in $!{gdsList})
        <li class="tLi">
            <div class="li-inner">
                <a class="tpl-img" href='#if($!{gds.url} && $!{gds.url} !='')$!{MALL_SITE_URL}$!{gds.url}' target='_blank' #else javascript:void(0);'#end><img src="$!{gds.mainPic.URL}"></a>
                <p class="name"><a href="#if($!{gds.url} && $!{gds.url} !='')$!{MALL_SITE_URL}$!{gds.url}" target='_blank' #else javascript:void(0);"#end>$!{gds.gdsName}</a></p>
               	 	#set($authorValue = '')
               	 	#set($authorValue = $!{gds.skuInfo.allPropMaps.get("1001").values[0].propValue})
                <p class="author">#if($authorValue && $authorValue != '')$!{authorValue} 著 #end</p>
                <p class="price"><span class="rob">#money($!{gds.skuInfo.discountPrice})</span><span class="price_r">#money($!{gds.guidePrice})</span></p>
            </div>
        </li>
        #end
    </ul>
	#else
		<div class='pro-empty'>#if(${errorMsg} && $!{errorMsg} != '')$!{errorMsg} #else 亲，暂无数据！#end</div>
	#end
</div>