<div class="heading">
	   属性组配置
</div>
<form  class="form-horizontal" style="margin-top: 0px;" id="groupBaseInfoForm">
    <div class="row-fluid">
    	<div class="span6">
    		<div class="control-group">
    			<label class="control-label">分类编码：</label>
    			<div class="controls">
    			     <input type="text" name="catgCode" id="group-catg-code" value="" class="input-medium" readonly/>
    			</div>
    		</div>
    	</div>
    	<div class="span6">
    		<div class="control-group">
    			<label class="control-label">分类名称：</label>
    			<div class="controls">
    			     <input type="text" name="catgName" id="group-catg-name" value="" class="input-medium" readonly/>
    			</div>
    		</div>
    	</div>
    </div>
</form>
##<div class="heading">
##    			已选属性组
##</div>
##<div class="well well-searchForm">
##	<form id="configedGroupsForm" class="form-horizontal required-validate" style="margin-bottom: 0px;" onsubmit="return false;">
##    	<div class="row-fluid">
##			<div class="span4">
##    			<div class="control-group">
##    				<button type="button" class="btn" id="batch-del-groups">批量删除</button>
##    			</div>
##            </div>
##    		<div class="span8">
##    			<div class="control-group">
##    				<label class="control-label">属性名称：</label>
##    				<div class="controls">
##						<input type="hidden" name="catgCode" id="configed-group-catgcode"/>
##    					<input type="text" name="groupName"  class="input-medium htmlcheck" value="" placeholder="输入属性名称查询">
##							<button type="button" class="btn" id="search-btn-1">查询</button>
##    				</div>
##    			</div>
##    		</div>
##    		<div class="clear"></div>
##    	</div>
##	</form>
##</div>

##<div class="row-fluid">
##    <div style=" height:300px;overflow:auto;">
##	  <table id="configedGroupsGridTable"></table>
##    </div>
##</div>
	
<div class="heading">
            可选属性组 
	<span class="alert rk-alert">属性组添加成功后,与属性组相关联的属性将会自动关联至当前分类</span>
</div>

<div class="well well-searchForm">
	<form id="optionalGroupsForm" class="form-horizontal required-validate" style="margin-bottom: 0px;" onsubmit="return false;">
    	<div class="row-fluid">
			<div class="span4">
    			<div class="control-group">
    				<button type="button" class="btn" id="batch-add-groups"><i class=" icon-plus icon-white"></i> 批量添加</button>
    			</div>
            </div>
    		<div class="span8">
    			<div class="control-group">
    				<label class="control-label">属性名称：</label>
    				<div class="controls">
						<input type="hidden" name="catgCode" id="opt-group-catgcode"/>
    					<input type="text" name="groupName" class="input-medium htmlcheck" value="" placeholder="输入属性名称查询"/>
							<button type="button" class="btn btn-info" id="search-btn-2"><i class="icon-search icon-white"></i> 查询</button>
    				</div>
    			</div>
    		</div>
    		<div class="clear"></div>
    	</div>
	</form>
</div>
<div class="row-fluid">
    <div style=" height:300px;overflow:auto;">
	  <table id="optionalGroupsGridTable"></table>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
		<center>
	       <a class="btn" id="btnGroupBack"><i class="icon-reply icon-white"></i> 返  回</a>
	   </center>
    </div>
</div>
