 #parse("/sys/sys_param.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/seller/prom/importdata/import-list.js?version=$!{JS_VERSION}" ></script>
	 <table class="seller-table mt15 table-striped">
                               <thead>
                               <tr>
                                    <td style="width:50px">店铺</td>
                                    <td style="width:60px">站点</td>
                                    <td style="width:60px">促销编码</td>
						            <td style="width:120px">分类</td>
						            <td style="width:120px">商品编码</td>
						            <td style="width:120px">单品编码</td>
						            <td style="width:240px">单品名称</td>
						            <td style="width:80px">促销量</td>
									#if($!{promTypeCode} == "1000000019")
									<td style="width:70px">价格类型</td>
									<td style="width:70px">秒杀价</td>
									#end
						            <td style="width:240px">操作</td>
                                </tr>
                               </thead>
                               <tbody>
        	#if(!$importPage.getResult()||$importPage.count==0)
        		<tr><td colspan='11'>很遗憾，暂无数据。</td><tr>
        	#end
        	#foreach($attr in $importPage.getResult())
        		<tr>
	                <td style="width:120px;">$!{attr.shopName}</td>
	                <td style="width:120px;">$!{attr.siteName}</td>
	                <td style="width:80px;">$!{attr.promId}</td>
	                <td style="width:120px">$!{attr.mainCatgName}</td>
	                <td style="width:240px">$!{attr.gdsId}</td>
	                <td style="width:240px">$!{attr.skuId}</td>
	                <td  class="td-hhtxt" > <div>$!{attr.gdsName}</div></td>
	                <td style="width:240px">$!{attr.promCnt}</td>
					#if($!{promTypeCode} == "1000000019")
    					#if($!{attr.priceType} == "0")
    					<td style="width:70px">折扣率</td>
    					#else
    					<td style="width:70px">固定价</td>
						#end
						<td style="width:70px">#moneyNum($!{attr.priceValue})</td>
					#end
	                <td style="width:240px"><a href='javascript:void(0)' onclick="del($!{attr.id},$!{attr.promId})">&nbsp;删除 &nbsp;</a></td>
	            </tr>
			#end
		</tbody>
	</table>
    <div class="fav-opt clearfix" style="margin-top: 20px;">
        <div class="row-fluid">
		<div id="pageControlbar" class="ecppage" data-total-page="${importPage.pageCount}" data-total-row="${importPage.count}" data-page-size="${importPage.pageSize}" data-page-number="${importPage.pageNo}" data-status="begin"></div>
		</div>
    </div>
