#parse("sys/sys_param.vm")
#parse("module/mod-upload.vm")
#parse("module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/pageConfig/edit/public/public-js.js?v=${JS_VERSION}"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/pageConfig/edit/floornav/floor-nav.js?v=${JS_VERSION}"></script>	
<style type="text/css">
.page-header {
    margin: 0px;
    margin-bottom: 10px;
}
.btn-wrap {
	text-align: right;padding-bottom: 0px;padding-top: 10px;
}
div.page-header h3 {
	font-size: 18px;font-weight: normal;
}
.closeRow{
	cursor: pointer;
}
.formExtendArea{display: none;}
</style>
<input type="hidden" id="publicModularId" value="$!{modularId}"/>
<input type="hidden" id="publicPageId" value="$!{pageId}"/>
<input type="hidden" id="publicItemId" value="$!{itemId}"/>


<div class="">
	<div class="page-header">
		<h3>楼层导航设置</h3>
	</div>
	<!-- form必须要设置templateItemForms样式 -->
	<!-- data-url设置表单Ajax提交数据的URL -->
	<form id="paramsSetForm" class="required-validate form-horizontal templateItemForms" data-url="$!{CONTEXT_PATH}/modular-dynamic/publicFormSave"></form>
	<div class="text-center">
		</br>
		<span class="btn btn-info" id="btnSave"><i class="icon-ok-sign icon-white"></i>确定</span>
		<span class="btn" id="btnCancel"><i class="icon-remove-sign icon-white"></i>取消</span>
	</div>

	<!-- 表单扩展操作区域，将需要放到手动生成位置的内容放在此处统一处理 -->	    
	<div class="formExtendArea">
		<div class="buildItems">
			<!-- 动态楼层名称区 -->
			<div class="controls buildItem">
			    <input placeholder="请输入8字以内的字符" type="text" class="dynamicFormItem floorName input-medium required" name="">
			    <span class="help-inline"><a href="javascript:void(0);" class="releatLayer">关联楼层</a></span>
			    <i class="iconfont gray closeRow" title="移除导航"></i>
			</div>		
		</div>

		<!-- 添加楼层按钮 -->
		<div class="row-fluid addFloorRow">
		    <div class="control-group">
		        <div class="controls">
		            <span class="btn" id="btnAddFloor" style="width: 70px;"><i class="icon-plus icon-white"></i>添加楼层</span>
		        </div>
		    </div>
		</div>
	</div>
	
	<!-- 关联楼层的弹出层 -->
	<div class="floor-config-box" style="position: fixed;">
	#foreach($!layout in $!pageConfig)
		##悬浮层（楼层导航）的布局不加载
		#if($layout.cmsLayoutTypeRespDTO.layoutShowType && 
        	$layout.cmsLayoutTypeRespDTO.layoutShowType != "03" && 
        	$layout.cmsLayoutTypeRespDTO.layoutShowType != "04")
        	
        	#set($widthStr="[")
        	#set($prefix="")
        	#foreach($!item in $!layout.layoutItemPreRespDTOList)
        		#set($itemIndex = $velocityCount - 1)
        		#if($itemIndex > 0)
        			#set($prefix = ",")
        		#end
        		#set($widthStr = $widthStr + $prefix + $!item.itemSize)
        	#end
        	#set($widthStr = $widthStr + "]")
	    <div class="floor-laylout" data-widths="$!{widthStr}">
	        <div class="config-box">
	            <div class="config-box-wrap">
	            #foreach($!item in $!layout.layoutItemPreRespDTOList)
	                <div class="item">$!{item.modularRespDTO.modularName}</div>
				#end
	            </div>
	        </div>
	        <div class="checkwrap">
	            <input type="radio" name="floorConfigSelect" value="$!{layout.id}"/>
	        </div>
	    </div>
	    #end
	#end
	    <div class="text-center">
			</br>
	        <span class="btn btn-info" id="btnFloorConfigOk"><i class="icon-ok-sign icon-white"></i>确定</span>
	        <span class="btn" id="btnFloorConfigCancel"><i class="icon-remove-sign icon-white"></i>取消</span>
	    </div>
	</div>

</div>