<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.goods.dao.mapper.common.GdsCatalogMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.goods.dao.model.GdsCatalog" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CATLOG_NAME" property="catlogName" jdbcType="VARCHAR" />
    <result column="CATLOG_CODE" property="catlogCode" jdbcType="VARCHAR" />
    <result column="CATLOG_TYPE" property="catlogType" jdbcType="VARCHAR" />
    <result column="CATLOG_DESC" property="catlogDesc" jdbcType="VARCHAR" />
    <result column="IF_DEFAULT" property="ifDefault" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CATLOG_NAME, CATLOG_CODE, CATLOG_TYPE, CATLOG_DESC, IF_DEFAULT, STATUS, CREATE_TIME, 
    CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.goods.dao.model.GdsCatalogCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_gds_catlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_gds_catlog
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_gds_catlog
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.goods.dao.model.GdsCatalogCriteria" >
    delete from t_gds_catlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.goods.dao.model.GdsCatalog" >
    insert into t_gds_catlog (ID, CATLOG_NAME, CATLOG_CODE, 
      CATLOG_TYPE, CATLOG_DESC, IF_DEFAULT, 
      STATUS, CREATE_TIME, CREATE_STAFF, 
      UPDATE_TIME, UPDATE_STAFF)
    values (#{id,jdbcType=INTEGER}, #{catlogName,jdbcType=VARCHAR}, #{catlogCode,jdbcType=VARCHAR}, 
      #{catlogType,jdbcType=VARCHAR}, #{catlogDesc,jdbcType=VARCHAR}, #{ifDefault,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.goods.dao.model.GdsCatalog" >
    insert into t_gds_catlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="catlogName != null" >
        CATLOG_NAME,
      </if>
      <if test="catlogCode != null" >
        CATLOG_CODE,
      </if>
      <if test="catlogType != null" >
        CATLOG_TYPE,
      </if>
      <if test="catlogDesc != null" >
        CATLOG_DESC,
      </if>
      <if test="ifDefault != null" >
        IF_DEFAULT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catlogName != null" >
        #{catlogName,jdbcType=VARCHAR},
      </if>
      <if test="catlogCode != null" >
        #{catlogCode,jdbcType=VARCHAR},
      </if>
      <if test="catlogType != null" >
        #{catlogType,jdbcType=VARCHAR},
      </if>
      <if test="catlogDesc != null" >
        #{catlogDesc,jdbcType=VARCHAR},
      </if>
      <if test="ifDefault != null" >
        #{ifDefault,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.goods.dao.model.GdsCatalogCriteria" resultType="java.lang.Long" >
    select count(*) from t_gds_catlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_gds_catlog
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.catlogName != null" >
        CATLOG_NAME = #{record.catlogName,jdbcType=VARCHAR},
      </if>
      <if test="record.catlogCode != null" >
        CATLOG_CODE = #{record.catlogCode,jdbcType=VARCHAR},
      </if>
      <if test="record.catlogType != null" >
        CATLOG_TYPE = #{record.catlogType,jdbcType=VARCHAR},
      </if>
      <if test="record.catlogDesc != null" >
        CATLOG_DESC = #{record.catlogDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.ifDefault != null" >
        IF_DEFAULT = #{record.ifDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_gds_catlog
    set ID = #{record.id,jdbcType=INTEGER},
      CATLOG_NAME = #{record.catlogName,jdbcType=VARCHAR},
      CATLOG_CODE = #{record.catlogCode,jdbcType=VARCHAR},
      CATLOG_TYPE = #{record.catlogType,jdbcType=VARCHAR},
      CATLOG_DESC = #{record.catlogDesc,jdbcType=VARCHAR},
      IF_DEFAULT = #{record.ifDefault,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.goods.dao.model.GdsCatalog" >
    update t_gds_catlog
    <set >
      <if test="catlogName != null" >
        CATLOG_NAME = #{catlogName,jdbcType=VARCHAR},
      </if>
      <if test="catlogCode != null" >
        CATLOG_CODE = #{catlogCode,jdbcType=VARCHAR},
      </if>
      <if test="catlogType != null" >
        CATLOG_TYPE = #{catlogType,jdbcType=VARCHAR},
      </if>
      <if test="catlogDesc != null" >
        CATLOG_DESC = #{catlogDesc,jdbcType=VARCHAR},
      </if>
      <if test="ifDefault != null" >
        IF_DEFAULT = #{ifDefault,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.goods.dao.model.GdsCatalog" >
    update t_gds_catlog
    set CATLOG_NAME = #{catlogName,jdbcType=VARCHAR},
      CATLOG_CODE = #{catlogCode,jdbcType=VARCHAR},
      CATLOG_TYPE = #{catlogType,jdbcType=VARCHAR},
      CATLOG_DESC = #{catlogDesc,jdbcType=VARCHAR},
      IF_DEFAULT = #{ifDefault,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
