<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.order.dao.mapper.busi.OrdDelyShopIdxMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.order.dao.model.OrdDelyShopIdx" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="EXPRESS_NO" property="expressNo" jdbcType="VARCHAR" />
    <result column="SEND_DATE" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="ENTITY_CODE" property="entityCode" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SHOP_ID, EXPRESS_NO, SEND_DATE, ENTITY_CODE, ORDER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.order.dao.model.OrdDelyShopIdxCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ord_dely_shop_idx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_ord_dely_shop_idx
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_ord_dely_shop_idx
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.order.dao.model.OrdDelyShopIdxCriteria" >
    delete from t_ord_dely_shop_idx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.order.dao.model.OrdDelyShopIdx" >
    insert into t_ord_dely_shop_idx (ID, SHOP_ID, EXPRESS_NO, 
      SEND_DATE, ENTITY_CODE, ORDER_ID
      )
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{expressNo,jdbcType=VARCHAR}, 
      #{sendDate,jdbcType=TIMESTAMP}, #{entityCode,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.order.dao.model.OrdDelyShopIdx" >
    insert into t_ord_dely_shop_idx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="expressNo != null" >
        EXPRESS_NO,
      </if>
      <if test="sendDate != null" >
        SEND_DATE,
      </if>
      <if test="entityCode != null" >
        ENTITY_CODE,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="expressNo != null" >
        #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entityCode != null" >
        #{entityCode,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.order.dao.model.OrdDelyShopIdxCriteria" resultType="java.lang.Long" >
    select count(*) from t_ord_dely_shop_idx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_ord_dely_shop_idx
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.expressNo != null" >
        EXPRESS_NO = #{record.expressNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sendDate != null" >
        SEND_DATE = #{record.sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.entityCode != null" >
        ENTITY_CODE = #{record.entityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_ord_dely_shop_idx
    set ID = #{record.id,jdbcType=INTEGER},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      EXPRESS_NO = #{record.expressNo,jdbcType=VARCHAR},
      SEND_DATE = #{record.sendDate,jdbcType=TIMESTAMP},
      ENTITY_CODE = #{record.entityCode,jdbcType=VARCHAR},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.order.dao.model.OrdDelyShopIdx" >
    update t_ord_dely_shop_idx
    <set >
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="expressNo != null" >
        EXPRESS_NO = #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null" >
        SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entityCode != null" >
        ENTITY_CODE = #{entityCode,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.order.dao.model.OrdDelyShopIdx" >
    update t_ord_dely_shop_idx
    set SHOP_ID = #{shopId,jdbcType=INTEGER},
      EXPRESS_NO = #{expressNo,jdbcType=VARCHAR},
      SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      ENTITY_CODE = #{entityCode,jdbcType=VARCHAR},
      ORDER_ID = #{orderId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.zengshi.ecp.order.dao.model.OrdDelyShopIdx" >
    insert into t_ord_dely_shop_idx (ID, 
      SHOP_ID, EXPRESS_NO, SEND_DATE, 
      ENTITY_CODE, ORDER_ID)
    values <foreach collection="list" item="item" index="index" separator="," > (#{item.id,jdbcType=INTEGER}, 
      #{item.shopId,jdbcType=INTEGER}, #{item.expressNo,jdbcType=VARCHAR}, #{item.sendDate,jdbcType=TIMESTAMP}, 
      #{item.entityCode,jdbcType=VARCHAR}, #{item.orderId,jdbcType=VARCHAR})</foreach>
  </insert>
</mapper>