<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.order.dao.mapper.busi.OrdBackApplyMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.order.dao.model.OrdBackApply" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="APPLY_TYPE" property="applyType" jdbcType="VARCHAR" />
    <result column="APPLY_TIME" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="BACK_TYPE" property="backType" jdbcType="VARCHAR" />
    <result column="BACK_TYPE_NAME" property="backTypeName" jdbcType="VARCHAR" />
    <result column="BACK_DESC" property="backDesc" jdbcType="VARCHAR" />
    <result column="IS_ENTIRE" property="isEntire" jdbcType="VARCHAR" />
    <result column="NUM" property="num" jdbcType="INTEGER" />
    <result column="STAFF_ID" property="staffId" jdbcType="INTEGER" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="CHECK_DESC" property="checkDesc" jdbcType="VARCHAR" />
    <result column="PAY_TYPE" property="payType" jdbcType="VARCHAR" />
    <result column="BACK_MONEY" property="backMoney" jdbcType="INTEGER" />
    <result column="BACK_SCORE" property="backScore" jdbcType="INTEGER" />
    <result column="BACK_ACCOUNT" property="backAccount" jdbcType="INTEGER" />
    <result column="EXPRESS_ID" property="expressId" jdbcType="INTEGER" />
    <result column="EXPRESS" property="express" jdbcType="VARCHAR" />
    <result column="EXPRESS_NO" property="expressNo" jdbcType="VARCHAR" />
    <result column="SITE_ID" property="siteId" jdbcType="INTEGER" />
    <result column="IS_IN_AUDIT_FILE" property="isInAuditFile" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="PAY_TRAN_NO" property="payTranNo" jdbcType="VARCHAR" />
    <result column="REFUND_TIME" property="refundTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, APPLY_TYPE, APPLY_TIME, STATUS, BACK_TYPE, BACK_TYPE_NAME, BACK_DESC, 
    IS_ENTIRE, NUM, STAFF_ID, SHOP_ID, CHECK_DESC, PAY_TYPE, BACK_MONEY, BACK_SCORE, 
    BACK_ACCOUNT, EXPRESS_ID, EXPRESS, EXPRESS_NO, SITE_ID, IS_IN_AUDIT_FILE, CREATE_TIME, 
    CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF, PAY_TRAN_NO, REFUND_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.order.dao.model.OrdBackApplyCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ord_back_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_ord_back_apply
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_ord_back_apply
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.order.dao.model.OrdBackApplyCriteria" >
    delete from t_ord_back_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.order.dao.model.OrdBackApply" >
    insert into t_ord_back_apply (ID, ORDER_ID, APPLY_TYPE, 
      APPLY_TIME, STATUS, BACK_TYPE, 
      BACK_TYPE_NAME, BACK_DESC, IS_ENTIRE, 
      NUM, STAFF_ID, SHOP_ID, 
      CHECK_DESC, PAY_TYPE, BACK_MONEY, 
      BACK_SCORE, BACK_ACCOUNT, EXPRESS_ID, 
      EXPRESS, EXPRESS_NO, SITE_ID, 
      IS_IN_AUDIT_FILE, CREATE_TIME, CREATE_STAFF, 
      UPDATE_TIME, UPDATE_STAFF, PAY_TRAN_NO, 
      REFUND_TIME)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{applyType,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{backType,jdbcType=VARCHAR}, 
      #{backTypeName,jdbcType=VARCHAR}, #{backDesc,jdbcType=VARCHAR}, #{isEntire,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, 
      #{checkDesc,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, #{backMoney,jdbcType=INTEGER}, 
      #{backScore,jdbcType=INTEGER}, #{backAccount,jdbcType=INTEGER}, #{expressId,jdbcType=INTEGER}, 
      #{express,jdbcType=VARCHAR}, #{expressNo,jdbcType=VARCHAR}, #{siteId,jdbcType=INTEGER}, 
      #{isInAuditFile,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, #{payTranNo,jdbcType=VARCHAR}, 
      #{refundTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.order.dao.model.OrdBackApply" >
    insert into t_ord_back_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="applyType != null" >
        APPLY_TYPE,
      </if>
      <if test="applyTime != null" >
        APPLY_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="backType != null" >
        BACK_TYPE,
      </if>
      <if test="backTypeName != null" >
        BACK_TYPE_NAME,
      </if>
      <if test="backDesc != null" >
        BACK_DESC,
      </if>
      <if test="isEntire != null" >
        IS_ENTIRE,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="checkDesc != null" >
        CHECK_DESC,
      </if>
      <if test="payType != null" >
        PAY_TYPE,
      </if>
      <if test="backMoney != null" >
        BACK_MONEY,
      </if>
      <if test="backScore != null" >
        BACK_SCORE,
      </if>
      <if test="backAccount != null" >
        BACK_ACCOUNT,
      </if>
      <if test="expressId != null" >
        EXPRESS_ID,
      </if>
      <if test="express != null" >
        EXPRESS,
      </if>
      <if test="expressNo != null" >
        EXPRESS_NO,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="isInAuditFile != null" >
        IS_IN_AUDIT_FILE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="payTranNo != null" >
        PAY_TRAN_NO,
      </if>
      <if test="refundTime != null" >
        REFUND_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null" >
        #{applyType,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="backType != null" >
        #{backType,jdbcType=VARCHAR},
      </if>
      <if test="backTypeName != null" >
        #{backTypeName,jdbcType=VARCHAR},
      </if>
      <if test="backDesc != null" >
        #{backDesc,jdbcType=VARCHAR},
      </if>
      <if test="isEntire != null" >
        #{isEntire,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="checkDesc != null" >
        #{checkDesc,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="backMoney != null" >
        #{backMoney,jdbcType=INTEGER},
      </if>
      <if test="backScore != null" >
        #{backScore,jdbcType=INTEGER},
      </if>
      <if test="backAccount != null" >
        #{backAccount,jdbcType=INTEGER},
      </if>
      <if test="expressId != null" >
        #{expressId,jdbcType=INTEGER},
      </if>
      <if test="express != null" >
        #{express,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null" >
        #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="isInAuditFile != null" >
        #{isInAuditFile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="payTranNo != null" >
        #{payTranNo,jdbcType=VARCHAR},
      </if>
      <if test="refundTime != null" >
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.order.dao.model.OrdBackApplyCriteria" resultType="java.lang.Long" >
    select count(*) from t_ord_back_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_ord_back_apply
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyType != null" >
        APPLY_TYPE = #{record.applyType,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null" >
        APPLY_TIME = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.backType != null" >
        BACK_TYPE = #{record.backType,jdbcType=VARCHAR},
      </if>
      <if test="record.backTypeName != null" >
        BACK_TYPE_NAME = #{record.backTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.backDesc != null" >
        BACK_DESC = #{record.backDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.isEntire != null" >
        IS_ENTIRE = #{record.isEntire,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        NUM = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.checkDesc != null" >
        CHECK_DESC = #{record.checkDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null" >
        PAY_TYPE = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.backMoney != null" >
        BACK_MONEY = #{record.backMoney,jdbcType=INTEGER},
      </if>
      <if test="record.backScore != null" >
        BACK_SCORE = #{record.backScore,jdbcType=INTEGER},
      </if>
      <if test="record.backAccount != null" >
        BACK_ACCOUNT = #{record.backAccount,jdbcType=INTEGER},
      </if>
      <if test="record.expressId != null" >
        EXPRESS_ID = #{record.expressId,jdbcType=INTEGER},
      </if>
      <if test="record.express != null" >
        EXPRESS = #{record.express,jdbcType=VARCHAR},
      </if>
      <if test="record.expressNo != null" >
        EXPRESS_NO = #{record.expressNo,jdbcType=VARCHAR},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.isInAuditFile != null" >
        IS_IN_AUDIT_FILE = #{record.isInAuditFile,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.payTranNo != null" >
        PAY_TRAN_NO = #{record.payTranNo,jdbcType=VARCHAR},
      </if>
      <if test="record.refundTime != null" >
        REFUND_TIME = #{record.refundTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_ord_back_apply
    set ID = #{record.id,jdbcType=INTEGER},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      APPLY_TYPE = #{record.applyType,jdbcType=VARCHAR},
      APPLY_TIME = #{record.applyTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=VARCHAR},
      BACK_TYPE = #{record.backType,jdbcType=VARCHAR},
      BACK_TYPE_NAME = #{record.backTypeName,jdbcType=VARCHAR},
      BACK_DESC = #{record.backDesc,jdbcType=VARCHAR},
      IS_ENTIRE = #{record.isEntire,jdbcType=VARCHAR},
      NUM = #{record.num,jdbcType=INTEGER},
      STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      CHECK_DESC = #{record.checkDesc,jdbcType=VARCHAR},
      PAY_TYPE = #{record.payType,jdbcType=VARCHAR},
      BACK_MONEY = #{record.backMoney,jdbcType=INTEGER},
      BACK_SCORE = #{record.backScore,jdbcType=INTEGER},
      BACK_ACCOUNT = #{record.backAccount,jdbcType=INTEGER},
      EXPRESS_ID = #{record.expressId,jdbcType=INTEGER},
      EXPRESS = #{record.express,jdbcType=VARCHAR},
      EXPRESS_NO = #{record.expressNo,jdbcType=VARCHAR},
      SITE_ID = #{record.siteId,jdbcType=INTEGER},
      IS_IN_AUDIT_FILE = #{record.isInAuditFile,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      PAY_TRAN_NO = #{record.payTranNo,jdbcType=VARCHAR},
      REFUND_TIME = #{record.refundTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.order.dao.model.OrdBackApply" >
    update t_ord_back_apply
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null" >
        APPLY_TYPE = #{applyType,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="backType != null" >
        BACK_TYPE = #{backType,jdbcType=VARCHAR},
      </if>
      <if test="backTypeName != null" >
        BACK_TYPE_NAME = #{backTypeName,jdbcType=VARCHAR},
      </if>
      <if test="backDesc != null" >
        BACK_DESC = #{backDesc,jdbcType=VARCHAR},
      </if>
      <if test="isEntire != null" >
        IS_ENTIRE = #{isEntire,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="checkDesc != null" >
        CHECK_DESC = #{checkDesc,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        PAY_TYPE = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="backMoney != null" >
        BACK_MONEY = #{backMoney,jdbcType=INTEGER},
      </if>
      <if test="backScore != null" >
        BACK_SCORE = #{backScore,jdbcType=INTEGER},
      </if>
      <if test="backAccount != null" >
        BACK_ACCOUNT = #{backAccount,jdbcType=INTEGER},
      </if>
      <if test="expressId != null" >
        EXPRESS_ID = #{expressId,jdbcType=INTEGER},
      </if>
      <if test="express != null" >
        EXPRESS = #{express,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null" >
        EXPRESS_NO = #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        SITE_ID = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="isInAuditFile != null" >
        IS_IN_AUDIT_FILE = #{isInAuditFile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="payTranNo != null" >
        PAY_TRAN_NO = #{payTranNo,jdbcType=VARCHAR},
      </if>
      <if test="refundTime != null" >
        REFUND_TIME = #{refundTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.order.dao.model.OrdBackApply" >
    update t_ord_back_apply
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      APPLY_TYPE = #{applyType,jdbcType=VARCHAR},
      APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      BACK_TYPE = #{backType,jdbcType=VARCHAR},
      BACK_TYPE_NAME = #{backTypeName,jdbcType=VARCHAR},
      BACK_DESC = #{backDesc,jdbcType=VARCHAR},
      IS_ENTIRE = #{isEntire,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=INTEGER},
      STAFF_ID = #{staffId,jdbcType=INTEGER},
      SHOP_ID = #{shopId,jdbcType=INTEGER},
      CHECK_DESC = #{checkDesc,jdbcType=VARCHAR},
      PAY_TYPE = #{payType,jdbcType=VARCHAR},
      BACK_MONEY = #{backMoney,jdbcType=INTEGER},
      BACK_SCORE = #{backScore,jdbcType=INTEGER},
      BACK_ACCOUNT = #{backAccount,jdbcType=INTEGER},
      EXPRESS_ID = #{expressId,jdbcType=INTEGER},
      EXPRESS = #{express,jdbcType=VARCHAR},
      EXPRESS_NO = #{expressNo,jdbcType=VARCHAR},
      SITE_ID = #{siteId,jdbcType=INTEGER},
      IS_IN_AUDIT_FILE = #{isInAuditFile,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      PAY_TRAN_NO = #{payTranNo,jdbcType=VARCHAR},
      REFUND_TIME = #{refundTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>