<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.order.dao.mapper.busi.OrdCartItemMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.order.dao.model.OrdCartItem" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CART_ID" property="cartId" jdbcType="INTEGER" />
    <result column="CART_TYPE" property="cartType" jdbcType="VARCHAR" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="SHOP_NAME" property="shopName" jdbcType="VARCHAR" />
    <result column="CATEGORY_CODE" property="categoryCode" jdbcType="VARCHAR" />
    <result column="GDS_ID" property="gdsId" jdbcType="INTEGER" />
    <result column="GDS_NAME" property="gdsName" jdbcType="VARCHAR" />
    <result column="SKU_ID" property="skuId" jdbcType="INTEGER" />
    <result column="SKU_INFO" property="skuInfo" jdbcType="VARCHAR" />
    <result column="GROUP_TYPE" property="groupType" jdbcType="VARCHAR" />
    <result column="GROUP_DETAIL" property="groupDetail" jdbcType="VARCHAR" />
    <result column="ORDER_AMOUNT" property="orderAmount" jdbcType="INTEGER" />
    <result column="PROM_ID" property="promId" jdbcType="INTEGER" />
    <result column="STAFF_ID" property="staffId" jdbcType="INTEGER" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="SITE_ID" property="siteId" jdbcType="INTEGER" />
    <result column="GDS_TYPE" property="gdsType" jdbcType="INTEGER" />
    <result column="SCORE_TYPE_ID" property="scoreTypeId" jdbcType="INTEGER" />
    <result column="PRN_FLAG" property="prnFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CART_ID, CART_TYPE, SHOP_ID, SHOP_NAME, CATEGORY_CODE, GDS_ID, GDS_NAME, SKU_ID, 
    SKU_INFO, GROUP_TYPE, GROUP_DETAIL, ORDER_AMOUNT, PROM_ID, STAFF_ID, ADD_TIME, CREATE_TIME, 
    UPDATE_TIME, CREATE_STAFF, UPDATE_STAFF, SITE_ID, GDS_TYPE, SCORE_TYPE_ID, PRN_FLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.order.dao.model.OrdCartItemCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ord_cart_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_ord_cart_item
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_ord_cart_item
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.order.dao.model.OrdCartItemCriteria" >
    delete from t_ord_cart_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.order.dao.model.OrdCartItem" >
    insert into t_ord_cart_item (ID, CART_ID, CART_TYPE, 
      SHOP_ID, SHOP_NAME, CATEGORY_CODE, 
      GDS_ID, GDS_NAME, SKU_ID, 
      SKU_INFO, GROUP_TYPE, GROUP_DETAIL, 
      ORDER_AMOUNT, PROM_ID, STAFF_ID, 
      ADD_TIME, CREATE_TIME, UPDATE_TIME, 
      CREATE_STAFF, UPDATE_STAFF, SITE_ID, 
      GDS_TYPE, SCORE_TYPE_ID, PRN_FLAG
      )
    values (#{id,jdbcType=INTEGER}, #{cartId,jdbcType=INTEGER}, #{cartType,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, 
      #{gdsId,jdbcType=INTEGER}, #{gdsName,jdbcType=VARCHAR}, #{skuId,jdbcType=INTEGER}, 
      #{skuInfo,jdbcType=VARCHAR}, #{groupType,jdbcType=VARCHAR}, #{groupDetail,jdbcType=VARCHAR}, 
      #{orderAmount,jdbcType=INTEGER}, #{promId,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createStaff,jdbcType=INTEGER}, #{updateStaff,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, 
      #{gdsType,jdbcType=INTEGER}, #{scoreTypeId,jdbcType=INTEGER}, #{prnFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.order.dao.model.OrdCartItem" >
    insert into t_ord_cart_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="cartId != null" >
        CART_ID,
      </if>
      <if test="cartType != null" >
        CART_TYPE,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="shopName != null" >
        SHOP_NAME,
      </if>
      <if test="categoryCode != null" >
        CATEGORY_CODE,
      </if>
      <if test="gdsId != null" >
        GDS_ID,
      </if>
      <if test="gdsName != null" >
        GDS_NAME,
      </if>
      <if test="skuId != null" >
        SKU_ID,
      </if>
      <if test="skuInfo != null" >
        SKU_INFO,
      </if>
      <if test="groupType != null" >
        GROUP_TYPE,
      </if>
      <if test="groupDetail != null" >
        GROUP_DETAIL,
      </if>
      <if test="orderAmount != null" >
        ORDER_AMOUNT,
      </if>
      <if test="promId != null" >
        PROM_ID,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="gdsType != null" >
        GDS_TYPE,
      </if>
      <if test="scoreTypeId != null" >
        SCORE_TYPE_ID,
      </if>
      <if test="prnFlag != null" >
        PRN_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="cartType != null" >
        #{cartType,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="gdsId != null" >
        #{gdsId,jdbcType=INTEGER},
      </if>
      <if test="gdsName != null" >
        #{gdsName,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="skuInfo != null" >
        #{skuInfo,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null" >
        #{groupType,jdbcType=VARCHAR},
      </if>
      <if test="groupDetail != null" >
        #{groupDetail,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="promId != null" >
        #{promId,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="gdsType != null" >
        #{gdsType,jdbcType=INTEGER},
      </if>
      <if test="scoreTypeId != null" >
        #{scoreTypeId,jdbcType=INTEGER},
      </if>
      <if test="prnFlag != null" >
        #{prnFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.order.dao.model.OrdCartItemCriteria" resultType="java.lang.Long" >
    select count(*) from t_ord_cart_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_ord_cart_item
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cartId != null" >
        CART_ID = #{record.cartId,jdbcType=INTEGER},
      </if>
      <if test="record.cartType != null" >
        CART_TYPE = #{record.cartType,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null" >
        SHOP_NAME = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryCode != null" >
        CATEGORY_CODE = #{record.categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gdsId != null" >
        GDS_ID = #{record.gdsId,jdbcType=INTEGER},
      </if>
      <if test="record.gdsName != null" >
        GDS_NAME = #{record.gdsName,jdbcType=VARCHAR},
      </if>
      <if test="record.skuId != null" >
        SKU_ID = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.skuInfo != null" >
        SKU_INFO = #{record.skuInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.groupType != null" >
        GROUP_TYPE = #{record.groupType,jdbcType=VARCHAR},
      </if>
      <if test="record.groupDetail != null" >
        GROUP_DETAIL = #{record.groupDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAmount != null" >
        ORDER_AMOUNT = #{record.orderAmount,jdbcType=INTEGER},
      </if>
      <if test="record.promId != null" >
        PROM_ID = #{record.promId,jdbcType=INTEGER},
      </if>
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.gdsType != null" >
        GDS_TYPE = #{record.gdsType,jdbcType=INTEGER},
      </if>
      <if test="record.scoreTypeId != null" >
        SCORE_TYPE_ID = #{record.scoreTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.prnFlag != null" >
        PRN_FLAG = #{record.prnFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_ord_cart_item
    set ID = #{record.id,jdbcType=INTEGER},
      CART_ID = #{record.cartId,jdbcType=INTEGER},
      CART_TYPE = #{record.cartType,jdbcType=VARCHAR},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      SHOP_NAME = #{record.shopName,jdbcType=VARCHAR},
      CATEGORY_CODE = #{record.categoryCode,jdbcType=VARCHAR},
      GDS_ID = #{record.gdsId,jdbcType=INTEGER},
      GDS_NAME = #{record.gdsName,jdbcType=VARCHAR},
      SKU_ID = #{record.skuId,jdbcType=INTEGER},
      SKU_INFO = #{record.skuInfo,jdbcType=VARCHAR},
      GROUP_TYPE = #{record.groupType,jdbcType=VARCHAR},
      GROUP_DETAIL = #{record.groupDetail,jdbcType=VARCHAR},
      ORDER_AMOUNT = #{record.orderAmount,jdbcType=INTEGER},
      PROM_ID = #{record.promId,jdbcType=INTEGER},
      STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      SITE_ID = #{record.siteId,jdbcType=INTEGER},
      GDS_TYPE = #{record.gdsType,jdbcType=INTEGER},
      SCORE_TYPE_ID = #{record.scoreTypeId,jdbcType=INTEGER},
      PRN_FLAG = #{record.prnFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.order.dao.model.OrdCartItem" >
    update t_ord_cart_item
    <set >
      <if test="cartId != null" >
        CART_ID = #{cartId,jdbcType=INTEGER},
      </if>
      <if test="cartType != null" >
        CART_TYPE = #{cartType,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="gdsId != null" >
        GDS_ID = #{gdsId,jdbcType=INTEGER},
      </if>
      <if test="gdsName != null" >
        GDS_NAME = #{gdsName,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="skuInfo != null" >
        SKU_INFO = #{skuInfo,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null" >
        GROUP_TYPE = #{groupType,jdbcType=VARCHAR},
      </if>
      <if test="groupDetail != null" >
        GROUP_DETAIL = #{groupDetail,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        ORDER_AMOUNT = #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="promId != null" >
        PROM_ID = #{promId,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        SITE_ID = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="gdsType != null" >
        GDS_TYPE = #{gdsType,jdbcType=INTEGER},
      </if>
      <if test="scoreTypeId != null" >
        SCORE_TYPE_ID = #{scoreTypeId,jdbcType=INTEGER},
      </if>
      <if test="prnFlag != null" >
        PRN_FLAG = #{prnFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.order.dao.model.OrdCartItem" >
    update t_ord_cart_item
    set CART_ID = #{cartId,jdbcType=INTEGER},
      CART_TYPE = #{cartType,jdbcType=VARCHAR},
      SHOP_ID = #{shopId,jdbcType=INTEGER},
      SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
      GDS_ID = #{gdsId,jdbcType=INTEGER},
      GDS_NAME = #{gdsName,jdbcType=VARCHAR},
      SKU_ID = #{skuId,jdbcType=INTEGER},
      SKU_INFO = #{skuInfo,jdbcType=VARCHAR},
      GROUP_TYPE = #{groupType,jdbcType=VARCHAR},
      GROUP_DETAIL = #{groupDetail,jdbcType=VARCHAR},
      ORDER_AMOUNT = #{orderAmount,jdbcType=INTEGER},
      PROM_ID = #{promId,jdbcType=INTEGER},
      STAFF_ID = #{staffId,jdbcType=INTEGER},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      SITE_ID = #{siteId,jdbcType=INTEGER},
      GDS_TYPE = #{gdsType,jdbcType=INTEGER},
      SCORE_TYPE_ID = #{scoreTypeId,jdbcType=INTEGER},
      PRN_FLAG = #{prnFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>