<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.order.dao.mapper.busi.OrdPresentMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.order.dao.model.OrdPresent" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="SUB_ORDER" property="subOrder" jdbcType="VARCHAR" />
    <result column="PROM_ID" property="promId" jdbcType="INTEGER" />
    <result column="CREDITS" property="credits" jdbcType="INTEGER" />
    <result column="COUPON_TYPE_ID" property="couponTypeId" jdbcType="VARCHAR" />
    <result column="COUPON_CNT" property="couponCnt" jdbcType="INTEGER" />
    <result column="DISCOUNT_TYPE" property="discountType" jdbcType="VARCHAR" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="CREDIT_TIMES" property="creditTimes" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, SUB_ORDER, PROM_ID, CREDITS, COUPON_TYPE_ID, COUPON_CNT, DISCOUNT_TYPE, 
    CREATE_STAFF, CREATE_TIME, UPDATE_TIME, UPDATE_STAFF, CREDIT_TIMES
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.order.dao.model.OrdPresentCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ord_present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_ord_present
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_ord_present
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.order.dao.model.OrdPresentCriteria" >
    delete from t_ord_present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.order.dao.model.OrdPresent" >
    insert into t_ord_present (ID, ORDER_ID, SUB_ORDER, 
      PROM_ID, CREDITS, COUPON_TYPE_ID, 
      COUPON_CNT, DISCOUNT_TYPE, CREATE_STAFF, 
      CREATE_TIME, UPDATE_TIME, UPDATE_STAFF, 
      CREDIT_TIMES)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{subOrder,jdbcType=VARCHAR}, 
      #{promId,jdbcType=INTEGER}, #{credits,jdbcType=INTEGER}, #{couponTypeId,jdbcType=VARCHAR}, 
      #{couponCnt,jdbcType=INTEGER}, #{discountType,jdbcType=VARCHAR}, #{createStaff,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, 
      #{creditTimes,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.order.dao.model.OrdPresent" >
    insert into t_ord_present
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="subOrder != null" >
        SUB_ORDER,
      </if>
      <if test="promId != null" >
        PROM_ID,
      </if>
      <if test="credits != null" >
        CREDITS,
      </if>
      <if test="couponTypeId != null" >
        COUPON_TYPE_ID,
      </if>
      <if test="couponCnt != null" >
        COUPON_CNT,
      </if>
      <if test="discountType != null" >
        DISCOUNT_TYPE,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="creditTimes != null" >
        CREDIT_TIMES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="subOrder != null" >
        #{subOrder,jdbcType=VARCHAR},
      </if>
      <if test="promId != null" >
        #{promId,jdbcType=INTEGER},
      </if>
      <if test="credits != null" >
        #{credits,jdbcType=INTEGER},
      </if>
      <if test="couponTypeId != null" >
        #{couponTypeId,jdbcType=VARCHAR},
      </if>
      <if test="couponCnt != null" >
        #{couponCnt,jdbcType=INTEGER},
      </if>
      <if test="discountType != null" >
        #{discountType,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="creditTimes != null" >
        #{creditTimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.order.dao.model.OrdPresentCriteria" resultType="java.lang.Long" >
    select count(*) from t_ord_present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_ord_present
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.subOrder != null" >
        SUB_ORDER = #{record.subOrder,jdbcType=VARCHAR},
      </if>
      <if test="record.promId != null" >
        PROM_ID = #{record.promId,jdbcType=INTEGER},
      </if>
      <if test="record.credits != null" >
        CREDITS = #{record.credits,jdbcType=INTEGER},
      </if>
      <if test="record.couponTypeId != null" >
        COUPON_TYPE_ID = #{record.couponTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.couponCnt != null" >
        COUPON_CNT = #{record.couponCnt,jdbcType=INTEGER},
      </if>
      <if test="record.discountType != null" >
        DISCOUNT_TYPE = #{record.discountType,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.creditTimes != null" >
        CREDIT_TIMES = #{record.creditTimes,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_ord_present
    set ID = #{record.id,jdbcType=INTEGER},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      SUB_ORDER = #{record.subOrder,jdbcType=VARCHAR},
      PROM_ID = #{record.promId,jdbcType=INTEGER},
      CREDITS = #{record.credits,jdbcType=INTEGER},
      COUPON_TYPE_ID = #{record.couponTypeId,jdbcType=VARCHAR},
      COUPON_CNT = #{record.couponCnt,jdbcType=INTEGER},
      DISCOUNT_TYPE = #{record.discountType,jdbcType=VARCHAR},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      CREDIT_TIMES = #{record.creditTimes,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.order.dao.model.OrdPresent" >
    update t_ord_present
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="subOrder != null" >
        SUB_ORDER = #{subOrder,jdbcType=VARCHAR},
      </if>
      <if test="promId != null" >
        PROM_ID = #{promId,jdbcType=INTEGER},
      </if>
      <if test="credits != null" >
        CREDITS = #{credits,jdbcType=INTEGER},
      </if>
      <if test="couponTypeId != null" >
        COUPON_TYPE_ID = #{couponTypeId,jdbcType=VARCHAR},
      </if>
      <if test="couponCnt != null" >
        COUPON_CNT = #{couponCnt,jdbcType=INTEGER},
      </if>
      <if test="discountType != null" >
        DISCOUNT_TYPE = #{discountType,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="creditTimes != null" >
        CREDIT_TIMES = #{creditTimes,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.order.dao.model.OrdPresent" >
    update t_ord_present
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      SUB_ORDER = #{subOrder,jdbcType=VARCHAR},
      PROM_ID = #{promId,jdbcType=INTEGER},
      CREDITS = #{credits,jdbcType=INTEGER},
      COUPON_TYPE_ID = #{couponTypeId,jdbcType=VARCHAR},
      COUPON_CNT = #{couponCnt,jdbcType=INTEGER},
      DISCOUNT_TYPE = #{discountType,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      CREDIT_TIMES = #{creditTimes,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>