<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.order.dao.mapper.common.AuditAutoLogMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.order.dao.model.AuditAutoLog" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="EXEC_METHODS" property="execMethods" jdbcType="VARCHAR" />
    <result column="STEP_DESC" property="stepDesc" jdbcType="VARCHAR" />
    <result column="PAY_WAY" property="payWay" jdbcType="VARCHAR" />
    <result column="EXECUTE_TIME" property="executeTime" jdbcType="TIMESTAMP" />
    <result column="SERVER_PID" property="serverPid" jdbcType="VARCHAR" />
    <result column="SERVER_HOSTIP" property="serverHostip" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zengshi.ecp.order.dao.model.AuditAutoLog" extends="BaseResultMap" >
    <result column="REMARK" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, EXEC_METHODS, STEP_DESC, PAY_WAY, EXECUTE_TIME, SERVER_PID, SERVER_HOSTIP
  </sql>
  <sql id="Blob_Column_List" >
    REMARK
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLogCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_audit_auto_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLogCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_audit_auto_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_audit_auto_log
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_audit_auto_log
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLogCriteria" >
    delete from t_audit_auto_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLog" >
    insert into t_audit_auto_log (ID, EXEC_METHODS, STEP_DESC, 
      PAY_WAY, EXECUTE_TIME, SERVER_PID, 
      SERVER_HOSTIP, REMARK)
    values (#{id,jdbcType=INTEGER}, #{execMethods,jdbcType=VARCHAR}, #{stepDesc,jdbcType=VARCHAR}, 
      #{payWay,jdbcType=VARCHAR}, #{executeTime,jdbcType=TIMESTAMP}, #{serverPid,jdbcType=VARCHAR}, 
      #{serverHostip,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLog" >
    insert into t_audit_auto_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="execMethods != null" >
        EXEC_METHODS,
      </if>
      <if test="stepDesc != null" >
        STEP_DESC,
      </if>
      <if test="payWay != null" >
        PAY_WAY,
      </if>
      <if test="executeTime != null" >
        EXECUTE_TIME,
      </if>
      <if test="serverPid != null" >
        SERVER_PID,
      </if>
      <if test="serverHostip != null" >
        SERVER_HOSTIP,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="execMethods != null" >
        #{execMethods,jdbcType=VARCHAR},
      </if>
      <if test="stepDesc != null" >
        #{stepDesc,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="executeTime != null" >
        #{executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serverPid != null" >
        #{serverPid,jdbcType=VARCHAR},
      </if>
      <if test="serverHostip != null" >
        #{serverHostip,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLogCriteria" resultType="java.lang.Long" >
    select count(*) from t_audit_auto_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_audit_auto_log
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.execMethods != null" >
        EXEC_METHODS = #{record.execMethods,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDesc != null" >
        STEP_DESC = #{record.stepDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.payWay != null" >
        PAY_WAY = #{record.payWay,jdbcType=VARCHAR},
      </if>
      <if test="record.executeTime != null" >
        EXECUTE_TIME = #{record.executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.serverPid != null" >
        SERVER_PID = #{record.serverPid,jdbcType=VARCHAR},
      </if>
      <if test="record.serverHostip != null" >
        SERVER_HOSTIP = #{record.serverHostip,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_audit_auto_log
    set ID = #{record.id,jdbcType=INTEGER},
      EXEC_METHODS = #{record.execMethods,jdbcType=VARCHAR},
      STEP_DESC = #{record.stepDesc,jdbcType=VARCHAR},
      PAY_WAY = #{record.payWay,jdbcType=VARCHAR},
      EXECUTE_TIME = #{record.executeTime,jdbcType=TIMESTAMP},
      SERVER_PID = #{record.serverPid,jdbcType=VARCHAR},
      SERVER_HOSTIP = #{record.serverHostip,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_audit_auto_log
    set ID = #{record.id,jdbcType=INTEGER},
      EXEC_METHODS = #{record.execMethods,jdbcType=VARCHAR},
      STEP_DESC = #{record.stepDesc,jdbcType=VARCHAR},
      PAY_WAY = #{record.payWay,jdbcType=VARCHAR},
      EXECUTE_TIME = #{record.executeTime,jdbcType=TIMESTAMP},
      SERVER_PID = #{record.serverPid,jdbcType=VARCHAR},
      SERVER_HOSTIP = #{record.serverHostip,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLog" >
    update t_audit_auto_log
    <set >
      <if test="execMethods != null" >
        EXEC_METHODS = #{execMethods,jdbcType=VARCHAR},
      </if>
      <if test="stepDesc != null" >
        STEP_DESC = #{stepDesc,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        PAY_WAY = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="executeTime != null" >
        EXECUTE_TIME = #{executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serverPid != null" >
        SERVER_PID = #{serverPid,jdbcType=VARCHAR},
      </if>
      <if test="serverHostip != null" >
        SERVER_HOSTIP = #{serverHostip,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLog" >
    update t_audit_auto_log
    set EXEC_METHODS = #{execMethods,jdbcType=VARCHAR},
      STEP_DESC = #{stepDesc,jdbcType=VARCHAR},
      PAY_WAY = #{payWay,jdbcType=VARCHAR},
      EXECUTE_TIME = #{executeTime,jdbcType=TIMESTAMP},
      SERVER_PID = #{serverPid,jdbcType=VARCHAR},
      SERVER_HOSTIP = #{serverHostip,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.order.dao.model.AuditAutoLog" >
    update t_audit_auto_log
    set EXEC_METHODS = #{execMethods,jdbcType=VARCHAR},
      STEP_DESC = #{stepDesc,jdbcType=VARCHAR},
      PAY_WAY = #{payWay,jdbcType=VARCHAR},
      EXECUTE_TIME = #{executeTime,jdbcType=TIMESTAMP},
      SERVER_PID = #{serverPid,jdbcType=VARCHAR},
      SERVER_HOSTIP = #{serverHostip,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>