#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/solr/solr-confirm-window.js?version=$!{JS_VERSION}" ></script>
<input type="hidden" value="$!{}" id="gdsId"/>
<form id="gdsVerify" class="form-horizontal required-validate" style="margin-top: 20px;">
    <div class="control-group">
        <label class="control-label" style="width:180px">
		是否清除之前的索引：</label>
		<div class="controls" style="margin-left:-180px">
		   <label class="radio inline" style="margin-right: 20px;">
				<input style="margin-top:4px" type="radio" name="textbox" checked id="1"/>是
			</label>
			<label class="radio inline" style="margin-right: 20px;">
				<input style="margin-top:4px" type="radio" name="textbox" checked id="0"/>否
			</label>
		</div>
     
    </div>
     <!--
       <div class="controls">
            <textarea rows="3" class="span7 required" id="verifyOption"></textarea>
        </div>
         <div class="control-group">
        <div class="controls">
            <label class="radio inline" style="margin-right: 20px;">
				<input type="radio" name="textbox" checked id="1"/>是
			</label>
			<label class="radio inline" style="margin-right: 20px;">
				<input type="radio" name="textbox" checked id="0"/>否
			</label>
        </div>
    </div>
      --> 
   
</form>
<div class="row" style="text-align:center;">
	<button type="button" class="btn btn-info" id="btnConfirm"><i class="icon-ok-sign icon-white"></i> 确认</button>
	<button type="button" class="btn" id="btnReturn"><i class="icon-remove-sign icon-white"></i> 关闭</button>
</div>
