
.gouxuan{
	margin-right:3px;
	width: 15px;
    height: 10px;
    background-repeat: no-repeat; 
    background-size: cover;    
    display: inline-block;
    background-image:url(./img/gouxuan.png) ;
}