<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.prom.dao.mapper.busi.PromOrdPresentMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.prom.dao.model.PromOrdPresent" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="RELA_ID" property="relaId" jdbcType="INTEGER" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="ORD_SUB_ID" property="ordSubId" jdbcType="VARCHAR" />
    <result column="PROM_ID" property="promId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TYPE_CODE" property="typeCode" jdbcType="VARCHAR" />
    <result column="PRESENT_VALUE1" property="presentValue1" jdbcType="VARCHAR" />
    <result column="PRESENT_VALUE2" property="presentValue2" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, RELA_ID, SHOP_ID, ORDER_ID, ORD_SUB_ID, PROM_ID, STATUS, TYPE_CODE, PRESENT_VALUE1, 
    PRESENT_VALUE2, REMARK, CREATE_STAFF, CREATE_TIME, UPDATE_STAFF, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.prom.dao.model.PromOrdPresentCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_prom_ord_present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_prom_ord_present
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_prom_ord_present
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.prom.dao.model.PromOrdPresentCriteria" >
    delete from t_prom_ord_present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.prom.dao.model.PromOrdPresent" >
    insert into t_prom_ord_present (ID, RELA_ID, SHOP_ID, 
      ORDER_ID, ORD_SUB_ID, PROM_ID, 
      STATUS, TYPE_CODE, PRESENT_VALUE1, 
      PRESENT_VALUE2, REMARK, CREATE_STAFF, 
      CREATE_TIME, UPDATE_STAFF, UPDATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{relaId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=VARCHAR}, #{ordSubId,jdbcType=VARCHAR}, #{promId,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, #{presentValue1,jdbcType=VARCHAR}, 
      #{presentValue2,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createStaff,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.prom.dao.model.PromOrdPresent" >
    insert into t_prom_ord_present
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="relaId != null" >
        RELA_ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="ordSubId != null" >
        ORD_SUB_ID,
      </if>
      <if test="promId != null" >
        PROM_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="typeCode != null" >
        TYPE_CODE,
      </if>
      <if test="presentValue1 != null" >
        PRESENT_VALUE1,
      </if>
      <if test="presentValue2 != null" >
        PRESENT_VALUE2,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="relaId != null" >
        #{relaId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="ordSubId != null" >
        #{ordSubId,jdbcType=VARCHAR},
      </if>
      <if test="promId != null" >
        #{promId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="presentValue1 != null" >
        #{presentValue1,jdbcType=VARCHAR},
      </if>
      <if test="presentValue2 != null" >
        #{presentValue2,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.prom.dao.model.PromOrdPresentCriteria" resultType="java.lang.Long" >
    select count(*) from t_prom_ord_present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_prom_ord_present
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.relaId != null" >
        RELA_ID = #{record.relaId,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.ordSubId != null" >
        ORD_SUB_ID = #{record.ordSubId,jdbcType=VARCHAR},
      </if>
      <if test="record.promId != null" >
        PROM_ID = #{record.promId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.typeCode != null" >
        TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.presentValue1 != null" >
        PRESENT_VALUE1 = #{record.presentValue1,jdbcType=VARCHAR},
      </if>
      <if test="record.presentValue2 != null" >
        PRESENT_VALUE2 = #{record.presentValue2,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_prom_ord_present
    set ID = #{record.id,jdbcType=INTEGER},
      RELA_ID = #{record.relaId,jdbcType=INTEGER},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      ORD_SUB_ID = #{record.ordSubId,jdbcType=VARCHAR},
      PROM_ID = #{record.promId,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=VARCHAR},
      TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
      PRESENT_VALUE1 = #{record.presentValue1,jdbcType=VARCHAR},
      PRESENT_VALUE2 = #{record.presentValue2,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.prom.dao.model.PromOrdPresent" >
    update t_prom_ord_present
    <set >
      <if test="relaId != null" >
        RELA_ID = #{relaId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="ordSubId != null" >
        ORD_SUB_ID = #{ordSubId,jdbcType=VARCHAR},
      </if>
      <if test="promId != null" >
        PROM_ID = #{promId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="presentValue1 != null" >
        PRESENT_VALUE1 = #{presentValue1,jdbcType=VARCHAR},
      </if>
      <if test="presentValue2 != null" >
        PRESENT_VALUE2 = #{presentValue2,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.prom.dao.model.PromOrdPresent" >
    update t_prom_ord_present
    set RELA_ID = #{relaId,jdbcType=INTEGER},
      SHOP_ID = #{shopId,jdbcType=INTEGER},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      ORD_SUB_ID = #{ordSubId,jdbcType=VARCHAR},
      PROM_ID = #{promId,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
      PRESENT_VALUE1 = #{presentValue1,jdbcType=VARCHAR},
      PRESENT_VALUE2 = #{presentValue2,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>