#parse("sys/sys_param.vm")
<link rel="stylesheet" type="text/css" media="screen" href="$CSS_PATH/reset.css"/>

<link rel="stylesheet" type="text/css" media="screen" href="$CSS_PATH/member.css"/>

<script type="text/javascript" src="$BUSIJS_PATH/staff/buyer/acct/acct-index.js?version=$!{JS_VERSION}"></script>

<!--会员中心 我的钱包-->
<div id="main">

    <!--钱包tab-->
    <div class="point-tab clearfix" id="tabHost">
        <ul>
            <li ><a href="javascript:void(0);" class="active" id="acctBalance">资金余额</a></li>
            <li ><a href="javascript:void(0);" id="acctDetail">交易明细</a></li>
        </ul>
    </div>
    <div class="point-con" id="tabContent">
		#parse("/staff/buyer/acct/tab/acct-balance.vm")
    </div>
</div>