#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/floor/gds/gds-view.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>

<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />
<input type="hidden" id="floorSearchParams" value="$!{floorSearchParams}" />

<div class="formBox row-fluid">
	<form id="detailInfoForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="$!{CONTEXT_PATH}/cmsadvertise/saveform">
		<div class="span8">
			<input type="hidden" id="id" name="id" value="$!{respDTO.id}" />
			<input type="hidden" id="placeId" name="placeId" value="$!{respDTO.placeId}" />
			<input type="hidden" id="floorId" name="floorId" value="$!{respDTO.floorId}" />
    		<div class="formSep">
    			<div class="control-group">
					<label class="control-label">所属楼层：</label>
    				<label class="controls  text_line">
    				 #escapeHtml($!{respDTO.floorName})	
					</label>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">所属页签：</label>
    				<label class="controls  text_line">
    				 #escapeHtml($!{respDTO.tabName})	
					</label>
    			</div>
    		</div>
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">楼层商品：</label>
    				<label class="controls  text_line">
    				 #escapeHtml($!{respDTO.gdsName})	
					</label>
    			</div>
    		</div>
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">是否促销商品：</label>
    				<label class="controls  text_line">
    				 #translate("PUBLIC_PARAM_ISNOT",$!{respDTO.isProm})
					</label>
    			</div>
    		</div>
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">促销Id：</label>
    				<label class="controls  text_line">
    				 #escapeHtml($!{respDTO.promId})	
					</label>
    			</div>
    		</div>
			<div class="formSep">
        		<div class="control-group">
        			<label class="control-label">排序：</label>
        			<label class="controls  text_line">
    				 #escapeHtml($!{respDTO.sortNo})	
					</label>
        		</div>
        	</div>
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">备注：</label>
    				<label class="controls  text_line">
    				 #escapeHtml($!{respDTO.remark})	
					</label>
    			</div>
    		</div>
			
			<div class="formSep">
				<div class="control-group">
					<label class="control-label">状态：</label>
					<label class="controls  text_line">
						$!{respDTO.statusZH}
					</label>
				</div>
			</div>
		
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label required">创建时间：</label>
    				<label class="controls  text_line">
						$!date.format('yyyy-MM-dd',$!{respDTO.createTime})
					</label>
    			</div>
    		</div>
			
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label required">修改时间：</label>
    				<label class="controls  text_line">
						$!date.format('yyyy-MM-dd',$!{respDTO.updateTime})
					</label>
    			</div>
    		</div>
			
			<div class="text-center">
				<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i>返回</button>
			</div>
			
    </div>
    <div class="clear"></div>
</form>
</div>
