<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.unpf.dao.mapper.busi.UnpfOrdDeliveryDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.unpf.dao.model.UnpfOrdDeliveryDetails" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="BATCH_ID" property="batchId" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="ORDER_SUB_ID" property="orderSubId" jdbcType="VARCHAR" />
    <result column="EXPRESS_NO" property="expressNo" jdbcType="VARCHAR" />
    <result column="CATEGORY_CODE" property="categoryCode" jdbcType="VARCHAR" />
    <result column="GDS_ID" property="gdsId" jdbcType="INTEGER" />
    <result column="SKU_ID" property="skuId" jdbcType="INTEGER" />
    <result column="SKU_INFO" property="skuInfo" jdbcType="VARCHAR" />
    <result column="GDS_NAME" property="gdsName" jdbcType="VARCHAR" />
    <result column="DELIVERY_AMOUNT" property="deliveryAmount" jdbcType="INTEGER" />
    <result column="SEND_DATE" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="STAFF_ID" property="staffId" jdbcType="INTEGER" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="PLAT_TYPE" property="platType" jdbcType="VARCHAR" />
    <result column="OUTER_ID" property="outerId" jdbcType="VARCHAR" />
    <result column="OUTER_SUB_ID" property="outerSubId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, BATCH_ID, ORDER_ID, ORDER_SUB_ID, EXPRESS_NO, CATEGORY_CODE, GDS_ID, SKU_ID, 
    SKU_INFO, GDS_NAME, DELIVERY_AMOUNT, SEND_DATE, STAFF_ID, SHOP_ID, CREATE_TIME, CREATE_STAFF, 
    UPDATE_TIME, UPDATE_STAFF, PLAT_TYPE, OUTER_ID, OUTER_SUB_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.unpf.dao.model.UnpfOrdDeliveryDetailsCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_unpf_ord_delivery_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_unpf_ord_delivery_details
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_unpf_ord_delivery_details
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.unpf.dao.model.UnpfOrdDeliveryDetailsCriteria" >
    delete from t_unpf_ord_delivery_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.unpf.dao.model.UnpfOrdDeliveryDetails" >
    insert into t_unpf_ord_delivery_details (ID, BATCH_ID, ORDER_ID, 
      ORDER_SUB_ID, EXPRESS_NO, CATEGORY_CODE, 
      GDS_ID, SKU_ID, SKU_INFO, 
      GDS_NAME, DELIVERY_AMOUNT, SEND_DATE, 
      STAFF_ID, SHOP_ID, CREATE_TIME, 
      CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF, 
      PLAT_TYPE, OUTER_ID, OUTER_SUB_ID
      )
    values (#{id,jdbcType=INTEGER}, #{batchId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{orderSubId,jdbcType=VARCHAR}, #{expressNo,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, 
      #{gdsId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{skuInfo,jdbcType=VARCHAR}, 
      #{gdsName,jdbcType=VARCHAR}, #{deliveryAmount,jdbcType=INTEGER}, #{sendDate,jdbcType=TIMESTAMP}, 
      #{staffId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createStaff,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, 
      #{platType,jdbcType=VARCHAR}, #{outerId,jdbcType=VARCHAR}, #{outerSubId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.unpf.dao.model.UnpfOrdDeliveryDetails" >
    insert into t_unpf_ord_delivery_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="batchId != null" >
        BATCH_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="orderSubId != null" >
        ORDER_SUB_ID,
      </if>
      <if test="expressNo != null" >
        EXPRESS_NO,
      </if>
      <if test="categoryCode != null" >
        CATEGORY_CODE,
      </if>
      <if test="gdsId != null" >
        GDS_ID,
      </if>
      <if test="skuId != null" >
        SKU_ID,
      </if>
      <if test="skuInfo != null" >
        SKU_INFO,
      </if>
      <if test="gdsName != null" >
        GDS_NAME,
      </if>
      <if test="deliveryAmount != null" >
        DELIVERY_AMOUNT,
      </if>
      <if test="sendDate != null" >
        SEND_DATE,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="platType != null" >
        PLAT_TYPE,
      </if>
      <if test="outerId != null" >
        OUTER_ID,
      </if>
      <if test="outerSubId != null" >
        OUTER_SUB_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSubId != null" >
        #{orderSubId,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null" >
        #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="gdsId != null" >
        #{gdsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="skuInfo != null" >
        #{skuInfo,jdbcType=VARCHAR},
      </if>
      <if test="gdsName != null" >
        #{gdsName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAmount != null" >
        #{deliveryAmount,jdbcType=INTEGER},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="platType != null" >
        #{platType,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null" >
        #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="outerSubId != null" >
        #{outerSubId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.unpf.dao.model.UnpfOrdDeliveryDetailsCriteria" resultType="java.lang.Long" >
    select count(*) from t_unpf_ord_delivery_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_unpf_ord_delivery_details
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.batchId != null" >
        BATCH_ID = #{record.batchId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSubId != null" >
        ORDER_SUB_ID = #{record.orderSubId,jdbcType=VARCHAR},
      </if>
      <if test="record.expressNo != null" >
        EXPRESS_NO = #{record.expressNo,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryCode != null" >
        CATEGORY_CODE = #{record.categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gdsId != null" >
        GDS_ID = #{record.gdsId,jdbcType=INTEGER},
      </if>
      <if test="record.skuId != null" >
        SKU_ID = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.skuInfo != null" >
        SKU_INFO = #{record.skuInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.gdsName != null" >
        GDS_NAME = #{record.gdsName,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryAmount != null" >
        DELIVERY_AMOUNT = #{record.deliveryAmount,jdbcType=INTEGER},
      </if>
      <if test="record.sendDate != null" >
        SEND_DATE = #{record.sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.platType != null" >
        PLAT_TYPE = #{record.platType,jdbcType=VARCHAR},
      </if>
      <if test="record.outerId != null" >
        OUTER_ID = #{record.outerId,jdbcType=VARCHAR},
      </if>
      <if test="record.outerSubId != null" >
        OUTER_SUB_ID = #{record.outerSubId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_unpf_ord_delivery_details
    set ID = #{record.id,jdbcType=INTEGER},
      BATCH_ID = #{record.batchId,jdbcType=INTEGER},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      ORDER_SUB_ID = #{record.orderSubId,jdbcType=VARCHAR},
      EXPRESS_NO = #{record.expressNo,jdbcType=VARCHAR},
      CATEGORY_CODE = #{record.categoryCode,jdbcType=VARCHAR},
      GDS_ID = #{record.gdsId,jdbcType=INTEGER},
      SKU_ID = #{record.skuId,jdbcType=INTEGER},
      SKU_INFO = #{record.skuInfo,jdbcType=VARCHAR},
      GDS_NAME = #{record.gdsName,jdbcType=VARCHAR},
      DELIVERY_AMOUNT = #{record.deliveryAmount,jdbcType=INTEGER},
      SEND_DATE = #{record.sendDate,jdbcType=TIMESTAMP},
      STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      PLAT_TYPE = #{record.platType,jdbcType=VARCHAR},
      OUTER_ID = #{record.outerId,jdbcType=VARCHAR},
      OUTER_SUB_ID = #{record.outerSubId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.unpf.dao.model.UnpfOrdDeliveryDetails" >
    update t_unpf_ord_delivery_details
    <set >
      <if test="batchId != null" >
        BATCH_ID = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSubId != null" >
        ORDER_SUB_ID = #{orderSubId,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null" >
        EXPRESS_NO = #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="gdsId != null" >
        GDS_ID = #{gdsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="skuInfo != null" >
        SKU_INFO = #{skuInfo,jdbcType=VARCHAR},
      </if>
      <if test="gdsName != null" >
        GDS_NAME = #{gdsName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAmount != null" >
        DELIVERY_AMOUNT = #{deliveryAmount,jdbcType=INTEGER},
      </if>
      <if test="sendDate != null" >
        SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="platType != null" >
        PLAT_TYPE = #{platType,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null" >
        OUTER_ID = #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="outerSubId != null" >
        OUTER_SUB_ID = #{outerSubId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.unpf.dao.model.UnpfOrdDeliveryDetails" >
    update t_unpf_ord_delivery_details
    set BATCH_ID = #{batchId,jdbcType=INTEGER},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      ORDER_SUB_ID = #{orderSubId,jdbcType=VARCHAR},
      EXPRESS_NO = #{expressNo,jdbcType=VARCHAR},
      CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
      GDS_ID = #{gdsId,jdbcType=INTEGER},
      SKU_ID = #{skuId,jdbcType=INTEGER},
      SKU_INFO = #{skuInfo,jdbcType=VARCHAR},
      GDS_NAME = #{gdsName,jdbcType=VARCHAR},
      DELIVERY_AMOUNT = #{deliveryAmount,jdbcType=INTEGER},
      SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      STAFF_ID = #{staffId,jdbcType=INTEGER},
      SHOP_ID = #{shopId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      PLAT_TYPE = #{platType,jdbcType=VARCHAR},
      OUTER_ID = #{outerId,jdbcType=VARCHAR},
      OUTER_SUB_ID = #{outerSubId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>