#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/staff/acct/type-add.js?version=$!{JS_VERSION}" ></script>

<div class="alert alert-error hide formValidateMessages">

</div>

<div class="formBox">
    <form id="acctTypeForm" class="form-horizontal required-validate " style="margin-bottom: 0px;">
        <div class="formSep">
            <div class="control-group">
                <label class="control-label">资金类型：</label>
                <div class="controls" style="width:220px;">
                    #select('STAFF_ACCT_TYPE','acctType',true,$!{acctType.acctType})
                </div>
            </div>
        </div>
        <div class="formSep">
            <div class="control-group">
                <label class="control-label">资金适用类型：</label>
                <div class="controls" style="width:220px;">
                    #select('STAFF_ADAPT_TYPE','adaptType',true,$!{acctType.adaptType})
                </div>
            </div>
        </div>
        <div class="formSep">
            <div class="control-group">
                <label class="control-label">资金适用对象：</label>
                <div class="controls">
                    <select name="shopId" enabled>
                        #shoplist($!{dto.shopId})
                    </select>
                </div>
            </div>
        </div>
        <div class="formSep">
            <div class="control-group">
                <label class="control-label">资金抵扣比：</label>
                <div class="controls">
                    <input type="text" name="deductOrderRatio" style="width:80px !important;" class="input-block-level required number" />
                    <span class="add-on">%</span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row-fluid" style="margin-bottom: 10px;">
    <div class="pull-left">
		<button type="button" class="btn btn-info" id="btnFormAddSubmit"><i class="icon-ok-sign"></i> 保　存</button>
		<button type="button" class="btn" id="btnReturn"><i class="icon-reply"></i> 返　回</button>
    </div>
</div>