<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.sys.dao.mapper.common.BaseParamConfigMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.sys.dao.model.BaseParamConfig" >
    <id column="PARAM_KEY" property="paramKey" jdbcType="VARCHAR" />
    <result column="PARAM_NAME" property="paramName" jdbcType="VARCHAR" />
    <result column="PARAM_LINK_TABLE" property="paramLinkTable" jdbcType="VARCHAR" />
    <result column="PARAM_LINK_KEY" property="paramLinkKey" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="PARAM_DESC" property="paramDesc" jdbcType="VARCHAR" />
    <result column="PARAM_TYPE" property="paramType" jdbcType="VARCHAR" />
    <result column="USED_TABLE" property="usedTable" jdbcType="VARCHAR" />
    <result column="USED_COLUMN" property="usedColumn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PARAM_KEY, PARAM_NAME, PARAM_LINK_TABLE, PARAM_LINK_KEY, STATUS, PARAM_DESC, PARAM_TYPE, 
    USED_TABLE, USED_COLUMN
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.sys.dao.model.BaseParamConfigCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_base_param_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_base_param_config
    where PARAM_KEY = #{paramKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_base_param_config
    where PARAM_KEY = #{paramKey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.sys.dao.model.BaseParamConfigCriteria" >
    delete from t_base_param_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.sys.dao.model.BaseParamConfig" >
    insert into t_base_param_config (PARAM_KEY, PARAM_NAME, PARAM_LINK_TABLE, 
      PARAM_LINK_KEY, STATUS, PARAM_DESC, 
      PARAM_TYPE, USED_TABLE, USED_COLUMN
      )
    values (#{paramKey,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR}, #{paramLinkTable,jdbcType=VARCHAR}, 
      #{paramLinkKey,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{paramDesc,jdbcType=VARCHAR}, 
      #{paramType,jdbcType=VARCHAR}, #{usedTable,jdbcType=VARCHAR}, #{usedColumn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.sys.dao.model.BaseParamConfig" >
    insert into t_base_param_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paramKey != null" >
        PARAM_KEY,
      </if>
      <if test="paramName != null" >
        PARAM_NAME,
      </if>
      <if test="paramLinkTable != null" >
        PARAM_LINK_TABLE,
      </if>
      <if test="paramLinkKey != null" >
        PARAM_LINK_KEY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="paramDesc != null" >
        PARAM_DESC,
      </if>
      <if test="paramType != null" >
        PARAM_TYPE,
      </if>
      <if test="usedTable != null" >
        USED_TABLE,
      </if>
      <if test="usedColumn != null" >
        USED_COLUMN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paramKey != null" >
        #{paramKey,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramLinkTable != null" >
        #{paramLinkTable,jdbcType=VARCHAR},
      </if>
      <if test="paramLinkKey != null" >
        #{paramLinkKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null" >
        #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null" >
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="usedTable != null" >
        #{usedTable,jdbcType=VARCHAR},
      </if>
      <if test="usedColumn != null" >
        #{usedColumn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.sys.dao.model.BaseParamConfigCriteria" resultType="java.lang.Long" >
    select count(*) from t_base_param_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_base_param_config
    <set >
      <if test="record.paramKey != null" >
        PARAM_KEY = #{record.paramKey,jdbcType=VARCHAR},
      </if>
      <if test="record.paramName != null" >
        PARAM_NAME = #{record.paramName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramLinkTable != null" >
        PARAM_LINK_TABLE = #{record.paramLinkTable,jdbcType=VARCHAR},
      </if>
      <if test="record.paramLinkKey != null" >
        PARAM_LINK_KEY = #{record.paramLinkKey,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.paramDesc != null" >
        PARAM_DESC = #{record.paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.paramType != null" >
        PARAM_TYPE = #{record.paramType,jdbcType=VARCHAR},
      </if>
      <if test="record.usedTable != null" >
        USED_TABLE = #{record.usedTable,jdbcType=VARCHAR},
      </if>
      <if test="record.usedColumn != null" >
        USED_COLUMN = #{record.usedColumn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_base_param_config
    set PARAM_KEY = #{record.paramKey,jdbcType=VARCHAR},
      PARAM_NAME = #{record.paramName,jdbcType=VARCHAR},
      PARAM_LINK_TABLE = #{record.paramLinkTable,jdbcType=VARCHAR},
      PARAM_LINK_KEY = #{record.paramLinkKey,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      PARAM_DESC = #{record.paramDesc,jdbcType=VARCHAR},
      PARAM_TYPE = #{record.paramType,jdbcType=VARCHAR},
      USED_TABLE = #{record.usedTable,jdbcType=VARCHAR},
      USED_COLUMN = #{record.usedColumn,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.sys.dao.model.BaseParamConfig" >
    update t_base_param_config
    <set >
      <if test="paramName != null" >
        PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramLinkTable != null" >
        PARAM_LINK_TABLE = #{paramLinkTable,jdbcType=VARCHAR},
      </if>
      <if test="paramLinkKey != null" >
        PARAM_LINK_KEY = #{paramLinkKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null" >
        PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null" >
        PARAM_TYPE = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="usedTable != null" >
        USED_TABLE = #{usedTable,jdbcType=VARCHAR},
      </if>
      <if test="usedColumn != null" >
        USED_COLUMN = #{usedColumn,jdbcType=VARCHAR},
      </if>
    </set>
    where PARAM_KEY = #{paramKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.sys.dao.model.BaseParamConfig" >
    update t_base_param_config
    set PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      PARAM_LINK_TABLE = #{paramLinkTable,jdbcType=VARCHAR},
      PARAM_LINK_KEY = #{paramLinkKey,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      PARAM_TYPE = #{paramType,jdbcType=VARCHAR},
      USED_TABLE = #{usedTable,jdbcType=VARCHAR},
      USED_COLUMN = #{usedColumn,jdbcType=VARCHAR}
    where PARAM_KEY = #{paramKey,jdbcType=VARCHAR}
  </update>
</mapper>
