<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.goods.dao.mapper.common.GdsCategorySyncMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.goods.dao.model.GdsCategorySync" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CATG_CODE" property="catgCode" jdbcType="VARCHAR" />
    <result column="CATG_NAME" property="catgName" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="CATG_PARENT" property="catgParent" jdbcType="VARCHAR" />
    <result column="CATG_PARENT_NAME" property="catgParentName" jdbcType="VARCHAR" />
    <result column="SRC_SYSTEM" property="srcSystem" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OPER_TIME" property="operTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="MAP_CATG_CODE" property="mapCatgCode" jdbcType="VARCHAR" />
    <result column="CATG_TYPE" property="catgType" jdbcType="VARCHAR" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="SHOP_AUTH_ID" property="shopAuthId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CATG_CODE, CATG_NAME, SORT_NO, CATG_PARENT, CATG_PARENT_NAME, SRC_SYSTEM, STATUS, 
    OPER_TIME, CREATE_TIME, CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF, MAP_CATG_CODE, CATG_TYPE, 
    SHOP_ID, SHOP_AUTH_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.goods.dao.model.GdsCategorySyncCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_gds_category_sync
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_gds_category_sync
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_gds_category_sync
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.goods.dao.model.GdsCategorySyncCriteria" >
    delete from t_gds_category_sync
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.goods.dao.model.GdsCategorySync" >
    insert into t_gds_category_sync (ID, CATG_CODE, CATG_NAME, 
      SORT_NO, CATG_PARENT, CATG_PARENT_NAME, 
      SRC_SYSTEM, STATUS, OPER_TIME, 
      CREATE_TIME, CREATE_STAFF, UPDATE_TIME, 
      UPDATE_STAFF, MAP_CATG_CODE, CATG_TYPE, 
      SHOP_ID, SHOP_AUTH_ID)
    values (#{id,jdbcType=INTEGER}, #{catgCode,jdbcType=VARCHAR}, #{catgName,jdbcType=VARCHAR}, 
      #{sortNo,jdbcType=INTEGER}, #{catgParent,jdbcType=VARCHAR}, #{catgParentName,jdbcType=VARCHAR}, 
      #{srcSystem,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{operTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateStaff,jdbcType=INTEGER}, #{mapCatgCode,jdbcType=VARCHAR}, #{catgType,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=INTEGER}, #{shopAuthId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.goods.dao.model.GdsCategorySync" >
    insert into t_gds_category_sync
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="catgCode != null" >
        CATG_CODE,
      </if>
      <if test="catgName != null" >
        CATG_NAME,
      </if>
      <if test="sortNo != null" >
        SORT_NO,
      </if>
      <if test="catgParent != null" >
        CATG_PARENT,
      </if>
      <if test="catgParentName != null" >
        CATG_PARENT_NAME,
      </if>
      <if test="srcSystem != null" >
        SRC_SYSTEM,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="mapCatgCode != null" >
        MAP_CATG_CODE,
      </if>
      <if test="catgType != null" >
        CATG_TYPE,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="shopAuthId != null" >
        SHOP_AUTH_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catgCode != null" >
        #{catgCode,jdbcType=VARCHAR},
      </if>
      <if test="catgName != null" >
        #{catgName,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="catgParent != null" >
        #{catgParent,jdbcType=VARCHAR},
      </if>
      <if test="catgParentName != null" >
        #{catgParentName,jdbcType=VARCHAR},
      </if>
      <if test="srcSystem != null" >
        #{srcSystem,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="mapCatgCode != null" >
        #{mapCatgCode,jdbcType=VARCHAR},
      </if>
      <if test="catgType != null" >
        #{catgType,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopAuthId != null" >
        #{shopAuthId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.goods.dao.model.GdsCategorySyncCriteria" resultType="java.lang.Long" >
    select count(*) from t_gds_category_sync
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_gds_category_sync
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.catgCode != null" >
        CATG_CODE = #{record.catgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.catgName != null" >
        CATG_NAME = #{record.catgName,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNo != null" >
        SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      </if>
      <if test="record.catgParent != null" >
        CATG_PARENT = #{record.catgParent,jdbcType=VARCHAR},
      </if>
      <if test="record.catgParentName != null" >
        CATG_PARENT_NAME = #{record.catgParentName,jdbcType=VARCHAR},
      </if>
      <if test="record.srcSystem != null" >
        SRC_SYSTEM = #{record.srcSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.operTime != null" >
        OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.mapCatgCode != null" >
        MAP_CATG_CODE = #{record.mapCatgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.catgType != null" >
        CATG_TYPE = #{record.catgType,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.shopAuthId != null" >
        SHOP_AUTH_ID = #{record.shopAuthId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_gds_category_sync
    set ID = #{record.id,jdbcType=INTEGER},
      CATG_CODE = #{record.catgCode,jdbcType=VARCHAR},
      CATG_NAME = #{record.catgName,jdbcType=VARCHAR},
      SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      CATG_PARENT = #{record.catgParent,jdbcType=VARCHAR},
      CATG_PARENT_NAME = #{record.catgParentName,jdbcType=VARCHAR},
      SRC_SYSTEM = #{record.srcSystem,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      MAP_CATG_CODE = #{record.mapCatgCode,jdbcType=VARCHAR},
      CATG_TYPE = #{record.catgType,jdbcType=VARCHAR},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      SHOP_AUTH_ID = #{record.shopAuthId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.goods.dao.model.GdsCategorySync" >
    update t_gds_category_sync
    <set >
      <if test="catgCode != null" >
        CATG_CODE = #{catgCode,jdbcType=VARCHAR},
      </if>
      <if test="catgName != null" >
        CATG_NAME = #{catgName,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="catgParent != null" >
        CATG_PARENT = #{catgParent,jdbcType=VARCHAR},
      </if>
      <if test="catgParentName != null" >
        CATG_PARENT_NAME = #{catgParentName,jdbcType=VARCHAR},
      </if>
      <if test="srcSystem != null" >
        SRC_SYSTEM = #{srcSystem,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="mapCatgCode != null" >
        MAP_CATG_CODE = #{mapCatgCode,jdbcType=VARCHAR},
      </if>
      <if test="catgType != null" >
        CATG_TYPE = #{catgType,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopAuthId != null" >
        SHOP_AUTH_ID = #{shopAuthId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.goods.dao.model.GdsCategorySync" >
    update t_gds_category_sync
    set CATG_CODE = #{catgCode,jdbcType=VARCHAR},
      CATG_NAME = #{catgName,jdbcType=VARCHAR},
      SORT_NO = #{sortNo,jdbcType=INTEGER},
      CATG_PARENT = #{catgParent,jdbcType=VARCHAR},
      CATG_PARENT_NAME = #{catgParentName,jdbcType=VARCHAR},
      SRC_SYSTEM = #{srcSystem,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      MAP_CATG_CODE = #{mapCatgCode,jdbcType=VARCHAR},
      CATG_TYPE = #{catgType,jdbcType=VARCHAR},
      SHOP_ID = #{shopId,jdbcType=INTEGER},
      SHOP_AUTH_ID = #{shopAuthId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
