#parse("pageConfig/pageConfig/modular/common/common-head.vm")
<input type="hidden" id="publicModularId" value="$!{modularId}"/>
<input type="hidden" id="publicPageId" value="$!{pageId}"/>
<input type="hidden" id="publicItemId" value="$!{itemId}"/>
<input type="hidden" id="propPreStr" value="$!{propPreStr}"/>
<div class="well-searchForm">
	##错误提示信息start.需要
	<div class="hide alert error-msg" id="error-msg">
	</div>
	##错误提示信息end.需要
	<div class="dialog-body">
        <div class="dialog-content">
            <form id="paramsSetForm" class="required-validate form-horizontal templateItemForms" data-url="$!{CONTEXT_PATH}/modular-dynamic/commonModularFormSave">
    			<div class="dynamicFormMainBox">
    				##作为公共的入参保存的
    				<input type="hidden" id="modularPageId" value="$!{pageId}"/>
                	<input type="hidden" id="modularModularId" value="$!{modularId}"/>
                	<input type="hidden" id="modularItemId" value="$!{itemId}"/>
    				##标题、是否显示标题 ======start
                    <div class="row-fluid">
                        <div class="span5 formItem" >
                            <div class="control-group">
                                <label class="control-label">$!{attrs.get(1000).propName}：</label>
                                <div class="controls">
    								<input type="hidden" id="propValue" value="$!{propPre.get(1000).propValue}">
    								<input type="hidden" id="propValueId" value="$!{propPre.get(1000).propValueId}">
    								<input type="hidden" id="propId" value="$!{attrs.get(1000).id}">
    								<input type="hidden" id="propItemId" value="$!{propPre.get(1000).id}"/>
                                    <input type="text" class="input-block-level #if($!{attrs.get(1000).ifHaveto}=='1')required#end" onKeyDown="CommonModular.inputAssignMent(this);"   onkeyup="CommonModular.inputAssignMent(this);"/>
                                </div>
                            </div>
                        </div>
    					##是否显示标题 ======start
                        <div class="span2 formItem" style="margin-left: 4px">
                            <label class="lable-ck">
    							#if($!{attrs.get(1001).ifHaveto}=='1')<span style="color:red;">* </span>#end
    								<input type="hidden" id="propValue" value="$!{propPre.get(1001).propValue}">
    								<input type="hidden" id="propValueId" value="$!{propPre.get(1001).propValueId}">
    								<input type="hidden" id="propId" value="$!{attrs.get(1001).id}">
    								<input type="hidden" id="propItemId" value="$!{propPre.get(1001).id}"/>
    								<input type="checkbox"/>$!{attrs.get(1001).propName}
    						</label>
                        </div>
    					##是否显示标题 ======start
                    </div>
    				##标题、是否显示标题 ======end
    				
    				##图标，是否显示图标======start
    				 <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group" style="margin-bottom:5px;">
                                <label class="control-label">$!{attrs.get(1008).propName}：</label>
                                <div class="controls">
                                    <div class="span3">
    	                                <div class="upload-block">
    	                                    <div class="formItem">
    	                                        <div class="img-wrap">
    	                                            <img src="$IMAGE_PATH/pageConfig/noPictures.png" alt=""/>
    	                                        </div>
    											<input type="hidden" id="propValue" value="$!{propPre.get(1008).propValue}">
    	                						<input type="hidden" id="propValueId" value="$!{propPre.get(1008).propValueId}">
    	                						<input type="hidden" id="propId" value="$!{attrs.get(1008).id}">
    	        								<input type="hidden" id="propItemId" value="$!{propPre.get(1008).id}"/>
    	        								<a href="javascript:;" class="btn file-wrap">上传图片
    												<input id="attachmentFileInput" type="file" name="detailPic" class="pull-left com_input" style="float: left;">
                                            	</a>
    											<input type="hidden" class="uploadImgUrl">
    	    								</div>
    	                                </div>
                                    </div>
                                    ##是否显示图标 start   如果不想要这个。可以把这里去掉
       								<div class="span4 formItem">
       									<label class="lable-ck">
    										#if($!{attrs.get(1009).ifHaveto}=='1')<span style="color:red;">* </span>#end
               								<input type="hidden" id="propValue" value="$!{propPre.get(1009).propValue}">
               								<input type="hidden" id="propValueId" value="$!{propPre.get(1009).propValueId}">
               								<input type="hidden" id="propId" value="$!{attrs.get(1009).id}">
               								<input type="hidden" id="propItemId" value="$!{propPre.get(1009).id}"/>
               								<input type="checkbox"/>$!{attrs.get(1009).propName}
       									</label>
                                       </div>
       								##是否显示图标 end
                                </div>
                            </div>
                       </div>
    			  	</div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="text-error">
        							温馨提示：请上传小于5M的图片（支持jpg、png、bmp），建议使用（25px*25px）以内的图片，效果更佳
                            </div>
                        </div>
                    </div>
    				##图标，是否显示图标======end
    				##显示数量 ，是否取行为分析 ======start
    				 <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">数据来源：</label>
                                <div class="controls">
    			                    ##是否取行为分析  ======start
    			                    <div class="span4 formItem" style="margin-top: 7px;margin-left: 4px;">
    			                        <label class="lable-ck">
    										#if($!{attrs.get(1022).ifHaveto}=='1')<span style="color:red;">* </span>#end
    											<input type="hidden" id="propValue" value="$!{propPre.get(1022).propValue}">
    											<input type="hidden" id="propValueId" value="$!{propPre.get(1022).propValueId}">
    											<input type="hidden" id="propId" value="$!{attrs.get(1022).id}">
    											<input type="hidden" id="propItemId" value="$!{propPre.get(1022).id}"/>
    											<input type="checkbox"/>$!{attrs.get(1022).propName}
    									</label>
    			                    </div>
    								##是否取行为分析   ======start
    							</div>
    						</div>
    					</div>
                    </div>
    				##显示数量 ，是否取行为分析  ======end
                </div>
            </form>
        </div>
	</div>
    <div class="text-center">
        <span id="btnSave" class="btn btn-info"><i class="icon-ok-sign icon-white"></i>确定</span>
        <span id="btnCancel" class="btn"><i class="icon-reply icon-white"></i>取消</span>
    </div>
</div>
