#parse("/sys/sys_param.vm")
<div class="template template-$!{componentReqVO.showWay} promTpl-list">
    <div class="tUl-wrap">
        #if($!{gdsList.size()} > 0 )
         <ul class="tUl goodsPicsRow clearfix">
        	#foreach(${gds} in ${gdsList})
             <li class="tLi">
                 <div class="li-inner">
        			<a href='#if($!{gds.url} && $!{gds.url} !='')$!{MALL_SITE_URL}$!{gds.url}' target='_blank' #else javascript:void(0);'#end>
                        <div class="tpl-img">
        					<img src="$!{gds.mainPic.URL}" style="">
        				</div>
                        <p class="pro-tit">$!{gds.gdsName}</p>
        			</a>
                    <div class="pro-pri">
        				<a href='#if($!{gds.url} && $!{gds.url} !='')$!{MALL_SITE_URL}$!{gds.url}' target='_blank' #else javascript:void(0);'#end>
        					<div class="pri">
        						<p>
                                <del>参考价:&yen;#moneyNum($!{gds.guidePrice})</del>
        						</p>
        						<p class="act">活动价:&yen;#moneyNum($!{gds.skuInfo.discountPrice})</p>
        					</div>
        				</a>
        				<a href='#if($!{gds.url} && $!{gds.url} !='')$!{MALL_SITE_URL}$!{gds.url}' target='_blank' #else javascript:void(0);'#end class="pro-btn">立即购买</a>
        			</div>
                 </div>
             </li>
        	 #end         
        </ul>
        #else
    		<div class="pro-empty">#if(${errorMsg})$!{errorMsg}#else 亲，暂未配置促销商品！#end</div>
    	#end
    </div>
</div>