<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.order.dao.mapper.common.BaseExpressKdMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.order.dao.model.BaseExpressKd" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="EXPRESS_CODE" property="expressCode" jdbcType="VARCHAR" />
    <result column="EXPRESS_NAME" property="expressName" jdbcType="VARCHAR" />
    <result column="EXPRESS_TYPE" property="expressType" jdbcType="VARCHAR" />
    <result column="COUNTRY_CODE" property="countryCode" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, EXPRESS_CODE, EXPRESS_NAME, EXPRESS_TYPE, COUNTRY_CODE, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.order.dao.model.BaseExpressKdCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_base_express_kd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_base_express_kd
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_base_express_kd
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.order.dao.model.BaseExpressKdCriteria" >
    delete from t_base_express_kd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.order.dao.model.BaseExpressKd" >
    insert into t_base_express_kd (ID, EXPRESS_CODE, EXPRESS_NAME, 
      EXPRESS_TYPE, COUNTRY_CODE, REMARK
      )
    values (#{id,jdbcType=INTEGER}, #{expressCode,jdbcType=VARCHAR}, #{expressName,jdbcType=VARCHAR}, 
      #{expressType,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.order.dao.model.BaseExpressKd" >
    insert into t_base_express_kd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="expressCode != null" >
        EXPRESS_CODE,
      </if>
      <if test="expressName != null" >
        EXPRESS_NAME,
      </if>
      <if test="expressType != null" >
        EXPRESS_TYPE,
      </if>
      <if test="countryCode != null" >
        COUNTRY_CODE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="expressCode != null" >
        #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressType != null" >
        #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null" >
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.order.dao.model.BaseExpressKdCriteria" resultType="java.lang.Long" >
    select count(*) from t_base_express_kd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_base_express_kd
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.expressCode != null" >
        EXPRESS_CODE = #{record.expressCode,jdbcType=VARCHAR},
      </if>
      <if test="record.expressName != null" >
        EXPRESS_NAME = #{record.expressName,jdbcType=VARCHAR},
      </if>
      <if test="record.expressType != null" >
        EXPRESS_TYPE = #{record.expressType,jdbcType=VARCHAR},
      </if>
      <if test="record.countryCode != null" >
        COUNTRY_CODE = #{record.countryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_base_express_kd
    set ID = #{record.id,jdbcType=INTEGER},
      EXPRESS_CODE = #{record.expressCode,jdbcType=VARCHAR},
      EXPRESS_NAME = #{record.expressName,jdbcType=VARCHAR},
      EXPRESS_TYPE = #{record.expressType,jdbcType=VARCHAR},
      COUNTRY_CODE = #{record.countryCode,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.order.dao.model.BaseExpressKd" >
    update t_base_express_kd
    <set >
      <if test="expressCode != null" >
        EXPRESS_CODE = #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        EXPRESS_NAME = #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressType != null" >
        EXPRESS_TYPE = #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null" >
        COUNTRY_CODE = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.order.dao.model.BaseExpressKd" >
    update t_base_express_kd
    set EXPRESS_CODE = #{expressCode,jdbcType=VARCHAR},
      EXPRESS_NAME = #{expressName,jdbcType=VARCHAR},
      EXPRESS_TYPE = #{expressType,jdbcType=VARCHAR},
      COUNTRY_CODE = #{countryCode,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>