##
## 涉及变量 cartList Controller返回
##
##<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-mall">
##    <ul class="am-navbar-nav am-cf am-avg-sm-4">
##        <li>
##            <a href="#">
##                <span class="iconfont icon-home"></span>
##                <span class="am-navbar-label">首页</span>
##            </a>
##        </li>
##        <li>
##            <a href="#">
##                <span class="iconfont icon-type"></span>
##                <span class="am-navbar-label">分类</span>
##            </a>
##        </li>
##        <li>
##            <a href="#">
##                <span class="iconfont icon-phb"></span>
##                <span class="am-navbar-label">排行榜</span>
##            </a>
##        </li>
##        <li class="active">
##            <a href="#">
##                <span class="iconfont icon-cart"></span>
##                <span class="am-navbar-label">购物车</span>
##            </a>
##        </li>
##        <li>
##            <a href="#">
##                <span class="iconfont icon-member"></span>
##                <span class="am-navbar-label">个人中心</span>
##            </a>
##        </li>
##    </ul>
##</div>


#parse("order/cart/share/weixin.vm")