<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.staff.dao.mapper.busi.AcctInfoTempMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.staff.dao.model.AcctInfoTemp" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="STAFF_ID" property="staffId" jdbcType="INTEGER" />
    <result column="ACCT_TYPE" property="acctType" jdbcType="VARCHAR" />
    <result column="ADAPT_TYPE" property="adaptType" jdbcType="VARCHAR" />
    <result column="SHOP_ID" property="shopId" jdbcType="VARCHAR" />
    <result column="STAFF_CODE" property="staffCode" jdbcType="VARCHAR" />
    <result column="TRADE_MONEY" property="tradeMoney" jdbcType="VARCHAR" />
    <result column="IS_GOOD" property="isGood" jdbcType="CHAR" />
    <result column="IS_COMMIT" property="isCommit" jdbcType="CHAR" />
    <result column="BAD_DATA_LOC" property="badDataLoc" jdbcType="VARCHAR" />
    <result column="RECORD_DESC" property="recordDesc" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, STAFF_ID, ACCT_TYPE, ADAPT_TYPE, SHOP_ID, STAFF_CODE, TRADE_MONEY, IS_GOOD, IS_COMMIT, 
    BAD_DATA_LOC, RECORD_DESC, CREATE_TIME, CREATE_STAFF
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.staff.dao.model.AcctInfoTempCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_acct_info_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_acct_info_temp
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_acct_info_temp
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.staff.dao.model.AcctInfoTempCriteria" >
    delete from t_acct_info_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.staff.dao.model.AcctInfoTemp" >
    insert into t_acct_info_temp (ID, STAFF_ID, ACCT_TYPE, 
      ADAPT_TYPE, SHOP_ID, STAFF_CODE, 
      TRADE_MONEY, IS_GOOD, IS_COMMIT, 
      BAD_DATA_LOC, RECORD_DESC, CREATE_TIME, 
      CREATE_STAFF)
    values (#{id,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{acctType,jdbcType=VARCHAR}, 
      #{adaptType,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{staffCode,jdbcType=VARCHAR}, 
      #{tradeMoney,jdbcType=VARCHAR}, #{isGood,jdbcType=CHAR}, #{isCommit,jdbcType=CHAR}, 
      #{badDataLoc,jdbcType=VARCHAR}, #{recordDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createStaff,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.staff.dao.model.AcctInfoTemp" >
    insert into t_acct_info_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="acctType != null" >
        ACCT_TYPE,
      </if>
      <if test="adaptType != null" >
        ADAPT_TYPE,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="staffCode != null" >
        STAFF_CODE,
      </if>
      <if test="tradeMoney != null" >
        TRADE_MONEY,
      </if>
      <if test="isGood != null" >
        IS_GOOD,
      </if>
      <if test="isCommit != null" >
        IS_COMMIT,
      </if>
      <if test="badDataLoc != null" >
        BAD_DATA_LOC,
      </if>
      <if test="recordDesc != null" >
        RECORD_DESC,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="acctType != null" >
        #{acctType,jdbcType=VARCHAR},
      </if>
      <if test="adaptType != null" >
        #{adaptType,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="staffCode != null" >
        #{staffCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeMoney != null" >
        #{tradeMoney,jdbcType=VARCHAR},
      </if>
      <if test="isGood != null" >
        #{isGood,jdbcType=CHAR},
      </if>
      <if test="isCommit != null" >
        #{isCommit,jdbcType=CHAR},
      </if>
      <if test="badDataLoc != null" >
        #{badDataLoc,jdbcType=VARCHAR},
      </if>
      <if test="recordDesc != null" >
        #{recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.staff.dao.model.AcctInfoTempCriteria" resultType="java.lang.Long" >
    select count(*) from t_acct_info_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_acct_info_temp
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      </if>
      <if test="record.acctType != null" >
        ACCT_TYPE = #{record.acctType,jdbcType=VARCHAR},
      </if>
      <if test="record.adaptType != null" >
        ADAPT_TYPE = #{record.adaptType,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=VARCHAR},
      </if>
      <if test="record.staffCode != null" >
        STAFF_CODE = #{record.staffCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeMoney != null" >
        TRADE_MONEY = #{record.tradeMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.isGood != null" >
        IS_GOOD = #{record.isGood,jdbcType=CHAR},
      </if>
      <if test="record.isCommit != null" >
        IS_COMMIT = #{record.isCommit,jdbcType=CHAR},
      </if>
      <if test="record.badDataLoc != null" >
        BAD_DATA_LOC = #{record.badDataLoc,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDesc != null" >
        RECORD_DESC = #{record.recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_acct_info_temp
    set ID = #{record.id,jdbcType=INTEGER},
      STAFF_ID = #{record.staffId,jdbcType=INTEGER},
      ACCT_TYPE = #{record.acctType,jdbcType=VARCHAR},
      ADAPT_TYPE = #{record.adaptType,jdbcType=VARCHAR},
      SHOP_ID = #{record.shopId,jdbcType=VARCHAR},
      STAFF_CODE = #{record.staffCode,jdbcType=VARCHAR},
      TRADE_MONEY = #{record.tradeMoney,jdbcType=VARCHAR},
      IS_GOOD = #{record.isGood,jdbcType=CHAR},
      IS_COMMIT = #{record.isCommit,jdbcType=CHAR},
      BAD_DATA_LOC = #{record.badDataLoc,jdbcType=VARCHAR},
      RECORD_DESC = #{record.recordDesc,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.staff.dao.model.AcctInfoTemp" >
    update t_acct_info_temp
    <set >
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="acctType != null" >
        ACCT_TYPE = #{acctType,jdbcType=VARCHAR},
      </if>
      <if test="adaptType != null" >
        ADAPT_TYPE = #{adaptType,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="staffCode != null" >
        STAFF_CODE = #{staffCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeMoney != null" >
        TRADE_MONEY = #{tradeMoney,jdbcType=VARCHAR},
      </if>
      <if test="isGood != null" >
        IS_GOOD = #{isGood,jdbcType=CHAR},
      </if>
      <if test="isCommit != null" >
        IS_COMMIT = #{isCommit,jdbcType=CHAR},
      </if>
      <if test="badDataLoc != null" >
        BAD_DATA_LOC = #{badDataLoc,jdbcType=VARCHAR},
      </if>
      <if test="recordDesc != null" >
        RECORD_DESC = #{recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.staff.dao.model.AcctInfoTemp" >
    update t_acct_info_temp
    set STAFF_ID = #{staffId,jdbcType=INTEGER},
      ACCT_TYPE = #{acctType,jdbcType=VARCHAR},
      ADAPT_TYPE = #{adaptType,jdbcType=VARCHAR},
      SHOP_ID = #{shopId,jdbcType=VARCHAR},
      STAFF_CODE = #{staffCode,jdbcType=VARCHAR},
      TRADE_MONEY = #{tradeMoney,jdbcType=VARCHAR},
      IS_GOOD = #{isGood,jdbcType=CHAR},
      IS_COMMIT = #{isCommit,jdbcType=CHAR},
      BAD_DATA_LOC = #{badDataLoc,jdbcType=VARCHAR},
      RECORD_DESC = #{recordDesc,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>