<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.staff.dao.mapper.busi.ScoreConsumeRuleMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.staff.dao.model.ScoreConsumeRule" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CONSUME_TYPE" property="consumeType" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="MONEY_NEED" property="moneyNeed" jdbcType="INTEGER" />
    <result column="SCORE_NEED" property="scoreNeed" jdbcType="INTEGER" />
    <result column="SKU_ID" property="skuId" jdbcType="INTEGER" />
    <result column="SKU_NAME" property="skuName" jdbcType="VARCHAR" />
    <result column="GDS_ID" property="gdsId" jdbcType="INTEGER" />
    <result column="GDS_NAME" property="gdsName" jdbcType="VARCHAR" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="SORT_ID" property="sortId" jdbcType="INTEGER" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CONSUME_TYPE, STATUS, MONEY_NEED, SCORE_NEED, SKU_ID, SKU_NAME, GDS_ID, GDS_NAME, 
    SHOP_ID, SORT_ID, CREATE_STAFF, CREATE_TIME, UPDATE_STAFF, UPDATE_TIME, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.staff.dao.model.ScoreConsumeRuleCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_score_consume_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_score_consume_rule
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_score_consume_rule
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.staff.dao.model.ScoreConsumeRuleCriteria" >
    delete from t_score_consume_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.staff.dao.model.ScoreConsumeRule" >
    insert into t_score_consume_rule (ID, CONSUME_TYPE, STATUS, 
      MONEY_NEED, SCORE_NEED, SKU_ID, 
      SKU_NAME, GDS_ID, GDS_NAME, 
      SHOP_ID, SORT_ID, CREATE_STAFF, 
      CREATE_TIME, UPDATE_STAFF, UPDATE_TIME, 
      REMARK)
    values (#{id,jdbcType=INTEGER}, #{consumeType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{moneyNeed,jdbcType=INTEGER}, #{scoreNeed,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{skuName,jdbcType=VARCHAR}, #{gdsId,jdbcType=INTEGER}, #{gdsName,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=INTEGER}, #{sortId,jdbcType=INTEGER}, #{createStaff,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.staff.dao.model.ScoreConsumeRule" >
    insert into t_score_consume_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="consumeType != null" >
        CONSUME_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="moneyNeed != null" >
        MONEY_NEED,
      </if>
      <if test="scoreNeed != null" >
        SCORE_NEED,
      </if>
      <if test="skuId != null" >
        SKU_ID,
      </if>
      <if test="skuName != null" >
        SKU_NAME,
      </if>
      <if test="gdsId != null" >
        GDS_ID,
      </if>
      <if test="gdsName != null" >
        GDS_NAME,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="sortId != null" >
        SORT_ID,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="consumeType != null" >
        #{consumeType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="moneyNeed != null" >
        #{moneyNeed,jdbcType=INTEGER},
      </if>
      <if test="scoreNeed != null" >
        #{scoreNeed,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="gdsId != null" >
        #{gdsId,jdbcType=INTEGER},
      </if>
      <if test="gdsName != null" >
        #{gdsName,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.staff.dao.model.ScoreConsumeRuleCriteria" resultType="java.lang.Long" >
    select count(*) from t_score_consume_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_score_consume_rule
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.consumeType != null" >
        CONSUME_TYPE = #{record.consumeType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyNeed != null" >
        MONEY_NEED = #{record.moneyNeed,jdbcType=INTEGER},
      </if>
      <if test="record.scoreNeed != null" >
        SCORE_NEED = #{record.scoreNeed,jdbcType=INTEGER},
      </if>
      <if test="record.skuId != null" >
        SKU_ID = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.skuName != null" >
        SKU_NAME = #{record.skuName,jdbcType=VARCHAR},
      </if>
      <if test="record.gdsId != null" >
        GDS_ID = #{record.gdsId,jdbcType=INTEGER},
      </if>
      <if test="record.gdsName != null" >
        GDS_NAME = #{record.gdsName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.sortId != null" >
        SORT_ID = #{record.sortId,jdbcType=INTEGER},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_score_consume_rule
    set ID = #{record.id,jdbcType=INTEGER},
      CONSUME_TYPE = #{record.consumeType,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      MONEY_NEED = #{record.moneyNeed,jdbcType=INTEGER},
      SCORE_NEED = #{record.scoreNeed,jdbcType=INTEGER},
      SKU_ID = #{record.skuId,jdbcType=INTEGER},
      SKU_NAME = #{record.skuName,jdbcType=VARCHAR},
      GDS_ID = #{record.gdsId,jdbcType=INTEGER},
      GDS_NAME = #{record.gdsName,jdbcType=VARCHAR},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      SORT_ID = #{record.sortId,jdbcType=INTEGER},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.staff.dao.model.ScoreConsumeRule" >
    update t_score_consume_rule
    <set >
      <if test="consumeType != null" >
        CONSUME_TYPE = #{consumeType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="moneyNeed != null" >
        MONEY_NEED = #{moneyNeed,jdbcType=INTEGER},
      </if>
      <if test="scoreNeed != null" >
        SCORE_NEED = #{scoreNeed,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="skuName != null" >
        SKU_NAME = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="gdsId != null" >
        GDS_ID = #{gdsId,jdbcType=INTEGER},
      </if>
      <if test="gdsName != null" >
        GDS_NAME = #{gdsName,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="sortId != null" >
        SORT_ID = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.staff.dao.model.ScoreConsumeRule" >
    update t_score_consume_rule
    set CONSUME_TYPE = #{consumeType,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      MONEY_NEED = #{moneyNeed,jdbcType=INTEGER},
      SCORE_NEED = #{scoreNeed,jdbcType=INTEGER},
      SKU_ID = #{skuId,jdbcType=INTEGER},
      SKU_NAME = #{skuName,jdbcType=VARCHAR},
      GDS_ID = #{gdsId,jdbcType=INTEGER},
      GDS_NAME = #{gdsName,jdbcType=VARCHAR},
      SHOP_ID = #{shopId,jdbcType=INTEGER},
      SORT_ID = #{sortId,jdbcType=INTEGER},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>