#set($layout="/common/upload/layout.vm")
#parse("/module/mod-form.vm")


<!--header-->
<div id="header" class="clearfix">
    <!--logo-->
    <div class="wrap960 logoBg">
        <div class="logo">
           <a href="$CONTEXT_PATH/homepage"><img src="#siteLogo('','485x130!')" style="float:left"/></a>
        </div>
    </div>
</div>

<!--beign-->
<div id="content" class="wrap100 clearfix">
    <div class="wrap960 login clearfix">
        <div class="login-ad clearfix">
            <img src="$IMAGE_PATH/login_a2.png" />
        </div>
        <div class="login-box">
            <h2>登录</h2>
            <form id="loginform">
                <div class=""> <input type="text" class="inputBox" name="j_username" placeholder="用户名/邮箱/手机号码"></div>
                <div class=""> <input type="password" class="inputBox" name="j_password"  placeholder="密码"></div>
                <div class=" clearfix mt20">
                    <label><input type="checkbox" class="checkbox" checked>7天内自动登录</label>
                    <span class="fr"><a href="#"> 忘记登录密码？</a></span></div>
			</form>
                <div class="mt5">
                    <button class="login-btn"id="loginsubmit">登&nbsp;&nbsp;录</button>
                </div>
                <div class="fr mt5"><a href="$CONTEXT_PATH/register">免费注册</a></div>
			
            
        </div>
    </div>
</div>
<input type="hidden" name="Referer" id="Referer" value="$!{Referer}"/>
<!--footer-->
<!--底部 begin-->
#parse("/main/main-bottom.vm")
<!--底部 end-->


<script type="text/javascript" src="$!{BUSIJS_PATH}/common/login/main-login.js?version=$!{JS_VERSION}" ></script>