#parse("/module/mod-page.vm")
<script type="text/javascript">
	$(function() {
		//更新搜索栏与分页条状态
		comment.updateEvaled();
	});
</script>
<!--       隐藏框  用于更新搜索栏与分页条状态                     -->
<input type="hidden" id="totalPage" value="$!{gridResult.totalPage}">
<input type="hidden" id="totalRow" value="$!{gridResult.totalRow}">
<input type="hidden" id="pageSize" value="$!{gridResult.pageSize}">
<input type="hidden" id="pageNumber" value="$!{gridResult.pageNumber}">
<!--        begin of table          -->	
<div class="mc" >
<div class="com-table-header">
	<span class="item column1">商品详情</span>
	<span class="item column4">订单编号</span>
	<span class="item column2">评价时间</span>
	<span class="item column3">评价</span>
</div>


#if(!$gridResult.list || $gridResult.list.size() == 0)
	<div class="comments-item">
		<table class="com-item-main">
			<tbody>
				<tr>
					<td align='center'>#if(!$msg)没有数据#else $!msg #end</td>
                </tr>
            </tbody>
        </table>
	</div>
#end
#foreach($evals in $gridResult.list)
	##  获取数组下标
	<div class="comments-item">
		<table class="com-item-main">
			<tbody id="datalist">
				#set($index = $velocityCount - 1)
					#if(!$!{evals.num})  
						#set($!{evals.num} = 0)  
					#end
					<tr id="$!{evals.id}">
						<td class="com-i-column column1">
                            <a href="${CONTEXT_PATH}$!{evals.skuUrl}">
								<img class="" src="$!{evals.url}" title="" width="60" height="60"/>
								<span style="padding-left: 70px;display: block;">$!{evals.gdsName}　
								#if($!{evals.skuProps} && ${evals.skuProps.length()} !=0)
									($!{evals.skuProps})
								#end
								</span>
							</a>
						</td>
						<td class="com-i-column column4">
                            <a href="${CONTEXT_PATH}/ord/detail/$!{evals.orderId}">$!{evals.orderId}</a>
						</td>
						<td class="com-i-column column2">
							$!date.format('yyyy-MM-dd HH:mm:ss',$!{evals.buyTime})
							
					
						</td>
						<td style="word-break: break-all; word-wrap: break-word;text-align:left;" class="com-i-column ">
							<p>
								#if($!{evals.intScore}== 1)
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
								#elseif($!{evals.intScore}== 2)
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
								#elseif($!{evals.intScore}== 3)
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
								#elseif($!{evals.intScore}== 4)
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x-01.png" />
								#elseif($!{evals.intScore}== 5)
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
									<img src="$!{IMAGE_PATH}/x.png" />
								
								#end
							</p>
							$!{evals.detail}
						</td>
					</tr>
			</tbody>
		</table>
	</div>
#end

			<div class="fav-opt clearfix" style="margin-top: 20px;">
				<!--        begin    of    分页                      -->
				<div class="row-fluid">
					<div id="pageMainBox" class="pagination text-right mpage">
						<div id="pageControlbar" class="ecppage" data-total-page="${gridResult.totalPage}" data-total-row="${gridResult.totalRow}" data-page-size="${gridResult.pageSize}" data-page-number="${gridResult.pageNumber}" data-status="begin"></div>
					</div>
					<div class="" style="margin-top: 5px;"></div>
				</div> <!--         end    of     分页                           -->
			</div>

</div>                   
                     