<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.goods.dao.mapper.common.manual.GdsCatg2PropManualMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.goods.dao.model.GdsCatg2Prop" >
    <result column="CATG_CODE" property="catgCode" jdbcType="VARCHAR" />
    <result column="PROP_ID" property="propId" jdbcType="INTEGER" />
    <result column="IF_BASIC" property="ifBasic" jdbcType="VARCHAR" />
    <result column="IF_HAVATO" property="ifHavato" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CATG_CODE, PROP_ID, IF_BASIC, IF_HAVATO, STATUS, CREATE_TIME, CREATE_STAFF, UPDATE_TIME, 
    UPDATE_STAFF
  </sql>
  
  
  <select id="queryConfigedPropIds" resultType="long">
     SELECT PROP_ID FROM T_GDS_CATG2PROP
     <where>
        <if test="status.length > 0">
           <choose>
               <when test="status.length == 1">
                  STATUS = #{status[0]}
               </when>
               <otherwise>
                   STATUS IN
		          <foreach collection="status" item="s" open="(" close=")" separator=",">
		              #{s}
		          </foreach>
               </otherwise>
           </choose>
        </if>
        AND CATG_CODE = #{catgCode}
     </where>
  </select>
  
  <select id="queryRelationCatgCodesByExample" resultType="string" parameterType="com.zengshi.ecp.goods.dao.model.GdsCatg2PropCriteria">
     SELECT DISTINCT(CATG_CODE) FROM T_GDS_CATG2PROP
     <include refid="Example_Where_Clause"/>
  </select>
  
   
  <update id="batchDeleteCatg2Prop">
      UPDATE T_GDS_CATG2PROP 
      SET STATUS = '0',
      UPDATE_STAFF = #{updateStaff},
      UPDATE_TIME = #{updateTime}      
      <where>
         PROP_ID IN
         <foreach collection="propIds" item="propId" open="(" close=")" separator=",">
              #{propId}
         </foreach>
         AND STATUS = '1'
         AND CATG_CODE = #{catgCode}
      </where>
  </update>
  
  <update id="executeIsBasicConfig">
      UPDATE T_GDS_CATG2PROP 
      SET IF_BASIC = #{ifBasic},
      UPDATE_STAFF = #{updateStaff},
      UPDATE_TIME = #{updateTime}      
      <where>
         STATUS = #{status}
         AND CATG_CODE = #{catgCode}
         AND PROP_ID = #{propId}
      </where>
  </update>
  
  <update id="executeIsSearchConfig">
      UPDATE T_GDS_CATG2PROP 
      SET IF_SEARCH = #{ifSearch},
      UPDATE_STAFF = #{updateStaff},
      UPDATE_TIME = #{updateTime}      
      <where>
         STATUS = #{status}
         AND CATG_CODE = #{catgCode}
         AND PROP_ID = #{propId}
      </where>
  </update>
  
  <update id="executeIsRequireConfig">
      UPDATE T_GDS_CATG2PROP 
      SET IF_HAVETO = #{ifHaveto},
      UPDATE_STAFF = #{updateStaff},
      UPDATE_TIME = #{updateTime}      
      <where>
         STATUS = #{status}
         AND CATG_CODE = #{catgCode}
         AND PROP_ID = #{propId}
      </where>
  </update>
  
  
</mapper>
