<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.goods.dao.mapper.common.manual.GdsProp2GroupManualMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.goods.dao.model.GdsProp2Group" >
    <result column="PROPGROUP_ID" property="propgroupId" jdbcType="INTEGER" />
    <result column="PROP_ID" property="propId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROPGROUP_ID, PROP_ID, STATUS, CREATE_TIME, CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF
  </sql>
    
  <select id="queryConfigedPropIds" resultType="long">
     select prop_id from t_gds_prop2group
    <where>
        <if test="status.length > 0">
          STATUS IN
          <foreach collection="status" item="s" open="(" close=")">
              #{s}
          </foreach>
        </if>
        AND propgroup_id = #{propgroupId}
     </where>
  </select>
  
  <update id="batchDeleteGdsProps">
      UPDATE T_GDS_PROP2GROUP 
      SET STATUS = '0',
      UPDATE_STAFF = #{updateStaff},
      UPDATE_TIME = #{updateTime}      
      <where>
         PROPGROUP_ID = #{propgroupId}
      </where>
      AND PROP_ID IN
         <foreach collection="propIds" item="propId" open="(" close=")" separator=",">
              #{propId}
         </foreach>
  </update>
  
</mapper>
