			<div class="formBox">
				<form id="discountRuleForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="">
					  <div class="formSep" >
					     <div  class=" alert-info" style="margin-left:50px;">
					                 外围活动，仅作为包装促销使用。没有任何优惠。
					     </div>
					  </div>
				</form>
			</div>
			   
