<script type="text/javascript" src="$!{BUSIJS_PATH}/prom/createprom/discount-rule-1000000008.js?version=$!{JS_VERSION}" ></script>
			<div class="formBox">
				<form id="discountRuleForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="">
					  <div class="formSep" >
					       <div  class=" alert-info" style="margin-left:50px;">
					                 当消费达到特定金额时，可免费获得X件产品。
 						      例如: 当消费超过 &yen;150.00 时，可免费获得一个调味壶。
                                                                      当订单小计达到阈值金额时，可免费获得一件礼品。
	                
					     </div>
					  </div>
					        <div class="formSep">
								<div class="control-group">
									<label class="control-label" for="name">订单金额超过：</label>
									<div class="controls">
										<input type="text" class="input-large required number moneyNumber" id="orderMoney" maxlength="12"  name="discountMap['orderMoney']" placeholder="请输入订单金额阀值 " value="#moneyNum($!{promVO.discountMap.orderMoney})"   />
									</div>
								</div>
					       </div>
				  <div class="row-fluid giftClass" id="giftSelectId">
						<div class="control-group">
							<label class="control-label">赠品：</label>
							<div class="controls">
								<button type="button" class="btn" id="btnGiftSelect"  ><i class="icon-magic"></i>赠品选择</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		 <div id="giftTableId" class="giftSelectDivClass"></div>
