#parse("/module/mod-form.vm")
#parse("/module/mod-editor.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/floortemplate/floortemplate-view.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>


<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />

<div class="formBox row-fluid">
	<form id="detaillinkForm" class="form-horizontal required-validate" style="margin-bottom: 0px;" method="post">
		<div class="span8">
			
			<div class="formSep">
				<div class="control-group">
					<label class="control-label" for="templateName">楼层模板名称：</label>
					<label class="controls  text_line">
						#escapeHtml($!{respVO.templateName})		
					</label>
				</div>
			</div>
			<div class="formSep" >
    			<div class="control-group">
    				<label class="control-label" for="templateNo">楼层模板编码：</label>
    				<label class="controls  text_line">
    					#escapeHtml($!{respVO.templateNo})
    				</label>
    			</div>
    		</div>
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">示例图：</label>
    				<label class="controls text_line" >
						<img style="max-width:650px;max-height:200px" id="imagePreview" src="#genImageUrl($!{respVO.vfsId},'')"  class="img-polaroid">
					</label>
    			</div>
    		</div>
			
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">内容位置个数： </label>
    				<label class="controls text_line" >
						$!{respVO.floorPlaceNum}
					</label>
    			</div>
    		</div>
			
			<div class="formSep">
				<div class="control-group">
					<label class="control-label">排序：</label>
					<label class="controls  text_line">
						#escapeHtml($!{respVO.sortNo}) 		
					</label>
				</div>
			</div>
		
			<div class="formSep">
				<div class="control-group">
					<label class="control-label">状态：</label>
					<label class="controls  text_line">
						#escapeHtml($!{respVO.statusZH})		
					</label>
				</div>
			</div>
			
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label required">创建时间：</label>
    				<label class="controls  text_line">
						$!date.format('yyyy-MM-dd',$!{respVO.createTime})
					</label>
    			</div>
    		</div>
			
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label required">修改时间：</label>
    				<label class="controls  text_line">
						$!date.format('yyyy-MM-dd',$!{respVO.updateTime})
					</label>
    			</div>
    		</div>
			
			<div id="floorPlaceDiv">
				#foreach($floorPlaceRespDTO in $!{floorPlaceRespDTOList})
        		<div class="formSep floorPlace">
    				<label class="control-label">内容位置$!{floorPlaceRespDTO.sortNo}：</label>
    				<div class="control-group">
        				<div class="controls">
            				<table class="set-cont">
                				<tr>
                    				<td style="display:none"><input type="text" class="input-mini" name="floorPlaceId" value="$!{floorPlaceRespDTO.id}"/></td>
                    				<th><span style="color:red">*</span>宽：</th>
                    				<td><input type="text" class="input-medium digits" name="placeWidth" placeholder="请输入1-1000的整数" value="$!{floorPlaceRespDTO.placeWidth}" readonly/>px</td>
                    				<th><span style="color:red">*</span>高： </th>
                    				<td><input type="text" class="input-medium digits" name="placeHeight" placeholder="请输入1-1000的整数" value="$!{floorPlaceRespDTO.placeHeight}" readonly/>px</td>
                    				</tr>
                    				<tr>
                    				<th><span style="color:red">*</span>大小：</th>
                    				<td><input type="text" class="input-medium digits" name="placeSize" placeholder="请输入1-1000的整数" value="$!{floorPlaceRespDTO.placeSize}" readonly/></td>
                    				<th>排序：</th>
                    				<td><input type="text" class="input-medium digits" name="sortNo" value="$!{floorPlaceRespDTO.sortNo}" readonly/></td>
                				</tr>
            				</table>
        				</div>
    				</div>
				</div>
        		#end
			</div>
			
			<div class="text-center">
				<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i>返回</button>
			</div>
        </div>
	</form>
</div>