#parse("/sys/sys_param.vm")
#if($respVO.list && 0 < $respVO.list.size())
	<ul class="help-list">
		#foreach($arti in $respVO.list)
	           <li class="help-arti-seed" title ="$!{arti.articleTitle}" data-id="$!{arti.id}" data-channel-id="$!{arti.channelId}" data-channel-name="$!{arti.channelZH}" data-name="$!{arti.articleTitle}"><a href="javascript:void(0);">● $!{arti.articleTitle}</a>#*<span class="time">$!date.format('yyyy-MM-dd HH:mm',$!{arti.pubTime})</span>*#</li>
		#end
	</ul>
#else
	<div class="pro-empty">#if($errMsg && '' != $!{errMsg})$!{errMsg}#else暂无信息#end</div>
#end
<input type="hidden" id="channel-id" value = "$!{channelId}"/>
<!--分页-->
<div class="pagination pagination-centered ">
    <div id="pageControlbar" class="ecppage" data-total-page="${respVO.totalPage}" data-total-row="${respVO.totalRow}"  data-page-size="${respVO.pageSize}" data-page-number="${respVO.pageNumber}" data-status="begin"></div>
</div>
<script type="text/javascript">
	$(function(){
	    $('#pageControlbar').bPage({
	        url : GLOBAL.WEBROOT + '/helpcenter/getartipage',
	        asyncLoad : true,
	        pageSizeMenu: [10,20,30],
	        asyncTarget : '#help-body',
	        params : function(){
	        	return {
	        		"channelId" : $("#channel-id",'#help-body').val()||""
	            };
	        }
	    });
	});
</script>