#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
#parse("sys/sys_param.vm")
<script type="text/javascript" src="$!{RESOURCE_PATH}/js-old/frameajax/ajaxfileupload.js"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/hotSearch/hotSearch-edit.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>

<script type="text/javascript">
 function replaceSpace(obj){
 obj.value = obj.value.replace(/s/gi,'')
}
</script>

<style>
    .form-horizontal .control-label {
        width: 120px;/* 默认为100px */
    }
</style>


<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />

<div class="alert alert-error hide formValidateMessages" >
	##showSpringAllError("vo")
</div>

<div class="formBox row-fluid">
	<form id="detailInfoForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="$!{CONTEXT_PATH}/hotSearch/save">
		<div class="span8">
			<input type="hidden" id="subSystem" name="subSystem" class="input-medium" value="2000" >
			<input type="hidden" id="id" name="id" value="$!{respVO.id}" />
    		<div class="row-fluid formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">搜索词名称：</label>
    				<div class="controls">
    					<input type="text" class="input-large required htmlcheck" maxlength="10" id="hotSearchName" name="hotSearchName" placeholder="请填写热门搜索词名称" value="#escapeHtml($!{respVO.hotSearchName})" />
    					<span class="help-inline">热门搜索语最大长度不能超过10个字符！</span>
    				</div>
    			</div>
    		</div>
			
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">所属站点： </label>
    				<div class="controls">
    					<select id="siteId" name="siteId" class="required" value="$!{respVO.siteId}" selected>
							#foreach($site in $siteList)
    							<option value="$!{site.id}" #if($!{respVO.siteId} == $!{site.id}) selected  #end >#escapeHtml($!{site.siteName})</option>
        					#end
    					</select>
						<span class="help-inline">请选择所属站点！</span>
    				</div>
    			</div>
    		</div>
			
			<!--
			<div class="formSep">  <div class="control-group">
    				<label class="control-label">所属模板：</label>
    				<div class="controls">
    					<select id="templateId" name="templateId" class="required">
							#foreach($template in $templateList)
    							<option value="$!{template.id}" #if($!{searchVO.templateId} == $!{template.id}) selected  #end>#escapeHtml($!{template.templateName})</option>
        					#end
    					</select>  
						<span class="help-inline">请选择所属模板！</span>
    				</div>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">内容位置：</label>
    				<div class="controls">
    					<select id="placeId" name="placeId" class="required">
							#foreach($place in $placeList)
    							<option value="$!{place.id}" #if($!{searchVO.placeId} == $!{place.id}) selected  #end>#escapeHtml($!{place.placeName})</option>
        					#end
    					</select>
    					<span class="help-inline">请选择内容位置！</span>
    				</div>
    			</div>
    		</div> 
			-->
    		
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">排序：</label>
    				<div class="controls">
    					<input type="text" class="input-large checkInteger" id="sortNo" name="sortNo" min="1" max="100" placeholder="如果不填，则默认为1。" onBlur="replaceSpace(this)" value="$!{respVO.sortNo}" />
    					<span class="help-inline">请填写1-100的整数，值越小，排序越靠前！</span>
    				</div>
    			</div>
    		</div>
    	
			<div class="text-center">
				<button type="button" class="btn btn-info" id="btnFormPubSave"><i class="icon-ok-sign icon-white"></i>发布</button>
				<button type="button" class="btn btn-info" id="btnFormSave"><i class="icon-ok-sign icon-white"></i>保存</button>
				<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i>返回</button>
    		</div>
        </div>
		
		<div class="clear"></div>
	</form>
</div>
	
