#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/manage/extend/ebc.date.js" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/hotSearch/hotSearch-grid.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>


<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />

<!--搜索区域-->
<div class="well well-searchForm">
	<form id="searchForm" class="form-horizontal" style="margin-bottom: 0px;">
	<div class="row-fluid">
		<div class="span4">
			<div class="control-group">
				<label class="control-label">所属站点：</label>
				<div class="controls">
					<select id="siteId" name="siteId"  class="input-medium" >
						<option value="" selected >--请选择--</option>
						#foreach($site in $siteList)
							<option value="$!{site.id}" >#escapeHtml($!{site.siteName})</option>
    					#end
					</select>
				</div>
			</div>
		</div>
		<!--<div class="span4">
			<div class="control-group">
				<label class="control-label">所属模板：</label>
				<div class="controls">
					<select id="templateId" name="templateId" class="input-medium" >
						<option value="" selected >--请选择--</option>
						#foreach($template in $templateList)
							<option value="$!{template.id}" >#escapeHtml($!{template.templateName})</option>
    					#end
					</select>   				
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="control-group">
				<label class="control-label">内容位置：</label>
				<div class="controls">
					<select id="placeId" name="placeId" class="input-medium" >
						<option value="" >--请选择--</option>
						#foreach($place in $placeList)
							<option value="$!{place.id}">#escapeHtml($!{place.placeName})</option>
    					#end
					</select>
				</div>
			</div>
		</div>
		<div class="clear"></div>
    </div>-->
		
		<div class="span4">
			<div class="control-group">
				<label class="control-label">热门搜索：</label>
				<div class="controls">
					<input type="text" id="hotSearchName" name="hotSearchName" class="input-medium" value="" placeholder="请输入热门搜索词名称">
				</div>
			</div>
		</div>
		
		<div class="span4">
			<div class="control-group">
				<label class="control-label">状态：</label>
				<div class="controls">
					<select id="status" name="status"  >
						<option value="" selected >--请选择--</option>
						#listParam('CMS_STATUS',"")
					</select>
				</div>
			</div>
		</div>
		<div class="clear"></div>
    </div>
	
	</form>
</div>

<!--操作按钮区域-->
<div class="row-fluid" style="margin-bottom: 10px;">
	<div class="span6">
		<a class="btn" id="btn_code_add" href="javascript:void(0)"><i class="icon-plus icon-white"></i>新增</a>
	</div>
	<div class="pull-right">
		<a class="btn btn-info" id="btnFormSearch" href="javascript:void(0)"><i class="icon-search icon-white"></i>查询</a>
		<a class="btn" id="btnFormReset" href="javascript:void(0)"><i class="icon-refresh"></i>重置</a>
	</div>
</div>

<!--列表区域-->
<div class="row-fluid">
	<table id="dataGridTable"></table>
</div>