#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/prom/auth/auth-edit-form.js?version=$!{JS_VERSION}" ></script>
<link href="${CONTEXT_PATH}/css/prom/auth/auth-add-form.css" rel="stylesheet" type="text/css" media="screen"/>

			<h3 class="heading">促销类型-授权店铺编辑</h3>
			
			<div class="alert alert-error hide formValidateMessages" >
				#showSpringAllError("promType4ShopVO")
            </div>
		 
			<div class="formBox">
				<form id="detailInfoForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="">
				 <div class="formSep">
					<div class="control-group">
							<label class="control-label">店铺编码：</label>
							<div class="controls">
							    <input type="text" name="shopId"  value="$!{promType4ShopVO.shopId}" disabled >
							       <div class="hide" >
				                     <input type="text" name="id"  value="$!{promType4ShopVO.id}">
                                   </div>
							</div>
						</div>
					</div>
				 <div class="formSep">
					<div class="control-group">
							<label class="control-label">店铺名称：</label>
							<div class="controls">
							    <input type="text" name="shopName"  value="$!{promType4ShopVO.shopName}" disabled>
							</div>
						</div>
					</div>
				<div class="formSep">
					<div class="control-group">
							<label class="control-label">促销类型：</label>
							<div class="controls">
								<select id="promTypeCode" name="promTypeCode" value="$!{promType4ShopVO.promTypeCode}" disabled>
								    #listParam('PROM_TYPE',"$!{promType4ShopVO.promTypeCode}")
								</select>
							</div>
						</div>
					</div>
			 		<div class="formSep">
					<div class="control-group">
							<label class="control-label">状态：</label>
							<div class="controls">
								<select id="status" name="status"   value="$!{promType4ShopVO.status}"  disabled>
										<option value="">全部</option>
											#foreach($param in $!{statusList})
												<option value="$!{param.spCode}" #if($!{param.spCode}==$!{promType4ShopVO.status}) selected #end>$!{param.spValue}</option>
											#end
								</select>
							</div>
						</div>
					</div>
					<div class="formSep">
						<div class="control-group">
							<label class="control-label">使用开始时间：</label>
							<div class="controls">
								<input type="text" class="input-large Wdate required" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="startTime" value="$!date.format('yyyy-MM-dd',$!{promType4ShopVO.startTime})"/>
							</div>
						</div>
					</div>
					<div class="formSep">
						<div class="control-group">
							<label class="control-label">使用截止时间：</label>
							<div class="controls">
								<input type="text" class="input-large Wdate required" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="endTime" value="$!date.format('yyyy-MM-dd',$!{promType4ShopVO.endTime})"/>
							</div>
						</div>
					</div>
		 
					 
					<div class="">
						<div class="control-group">
							<div class="controls">
								<button type="button" class="btn btn-info" id="btnFormSave"><i class="icon-ok-sign icon-white"></i> 保　存</button>
								<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i> 返　回</button>
							</div>
						</div>
					</div>
				</form>
			 
			</div>
		 