#parse("/sys/sys_param.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/staff/buyer/acct/acct-balance.js"></script>

<table width="100%" class="">
	<thead>
	    <tr>
	        <th>资金类型</th>
	        <th>资金适用类型</th>
	        <th>账户总金额</th>
	        <th>可用金额</th>
	        <th>冻结金额</th>
	        <th>账户状态</th>
	        <th>账户适用对象</th>
	        <th>创建时间</th>
	        <th>最后更新时间</th>
	    </tr>
    </thead>
    <tbody>
    	#if(${gridResult.list.size()} == 0)
    		<tr><td colspan='9'>没有符合条件的记录</td></tr>
    	#end
        #foreach( $lst in ${gridResult.list})
            <tr>
		        <td>$!{lst.acctTypeName}</td>
				<td>$!{lst.adpatTypeName}</td>
				<td>#moneyNum($!{lst.totalMoney})</td>
				<td>#moneyNum($!{lst.balance})</td>
				<td>#moneyNum($!{lst.freezeMoney})</td>
				<td>$!{lst.status}</td>
				<td>$!{lst.shopName}</td>
				<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{lst.createTime})</td>
				<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{lst.updateTime})</td>
		    </tr>
        #end
    </tbody>
</table>
<div id="pageControlbar" class="ecppage" data-total-page="$!{gridResult.totalPage}" data-total-row="$!{gridResult.totalRow}"  data-page-size="$!{gridResult.pageSize}" data-page-number="$!{gridResult.pageNumber}" data-status="begin"></div>
