	    #if($null.isNull($giftList) || $giftList.isEmpty())
		
	      #else
	         <div style="margin-left:20px;">
			     <div class="formSep"></div>
					  <h4 class="formSep">已选择促销赠品 </h4>
		<div class="nItem">
			<div style="overflow-x: auto;">
	          <div class="row-fluid">
					  <div class="row-fluid" style="margin-bottom: 10px;">
									<div class="span6">
										<a class="btn giftClass" id="btn_gift_del_batch" href="javascript:void(0)"><i class="icon-remove icon-white"></i>批量删除</a>
									</div>
                             </div> 
                             <table id="giftTable" class="seller-table">
	                              <thead>
	                                  <tr role="row">
	                                      <th class="center selectColumn sorting_disabled" rowspan="1" colspan="1" aria-label="选择" align="center" style="width: 35px; vertical-align: middle; text-align: center; padding: 0px;"><input type="checkbox" id="dt_row_all_check" title="全选/全取消" style="margin: 0px;"></th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="赠品编码" style="width: 80px;">赠品</br>编码</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="赠品名称" style="width: 160px;">赠品名称</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="赠品价值" style="width: 80px;">赠品</br>价值</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="状态" style="width: 50px;">状态</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="赠品类型" style="width: 50px;">赠品类型</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="赠品总量" style="width: 80px;">赠品</br>总量</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="已赠总量" style="width: 80px;">已赠</br>总量</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="可赠量" style="width: 70px;">可赠量</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="已赠量" style="width: 70px;">已赠量</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="*赠送总量" style="width: 80px;"><span style="color:red">*</span>赠送总量</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="*每次赠送量" style="width: 80px;"><span style="color:red">*</span>每次</br>赠送量</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="操作" style="width: 80px;">操作</th>
	                                   </tr>
	                                </thead>
	                                 <tbody id="gdsTableTbody">
	                                  #foreach( $giftVO in $giftList)
	                                  <tr id="$!{giftVO.id}" role="row" class=odd">
										     <td class=" center selectColumn" align="center" style="width: 35px; vertical-align: middle; text-align: center; padding: 0px;">
											<input type="checkbox"  id="$!{giftVO.gdsId}-$!{giftVO.skuId}-$!{giftVO.id}" name="checkboxgds" >
											</td>
											<td>$!{giftVO.id}</td>
										    <td  class="td-hhtxt" > <div>#escapeHtml( "$!{giftVO.giftName}")</div></td>
											<td>#moneyNum($!{giftVO.giftValue})</td>
											<td>#escapeHtml( "$!{giftVO.giftStatusName}")</td>
											<td>#escapeHtml( "$!{giftVO.giftTypeName}")</td>
											<td>$!{giftVO.giftAmount}</td>
											<td>$!{giftVO.giftSend}</td>
											<td>$!{giftVO.giftValid}</td>
											<td>$!{giftVO.presentCnt}</td>
											<td> <input type="text" class="input-block-level stockInput"  maxlength="11" name="giftCnt-$!{giftVO.gdsId}-$!{giftVO.skuId}-$!{giftVO.id}" id="giftCnt-$!{giftVO.gdsId}-$!{giftVO.skuId}-$!{giftVO.id}"  value="$!{giftVO.presentAllCnt}"></td>
											<td> <input type="text" class="input-block-level stockInput"  maxlength="11" name="giftCnt-$!{giftVO.gdsId}-$!{giftVO.skuId}-$!{giftVO.id}" id="everyTimeCnt-$!{giftVO.gdsId}-$!{giftVO.skuId}-$!{giftVO.id}"  value="$!{giftVO.everyTimeCnt}"></td>
											<td><a class="btn" data="$!{giftVO.id}" name="delGdsRow" href="javascript:void(0)"><i class="icon-remove icon-white"></i>删除</a></td>
											</tr>
	                                   #end
	                                </tbody>
	                          </table>
                        </div>
                    </div>
                 </div>
               </div>
              #end