#parse("/sys/sys_param.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/seller/staff/company-sign.js?version=$!{JS_VERSION}" ></script>
<div class="main">
        <div class="seller-well" style="margin-top:5px">
            <div class="stepflex clearfix">
                <dl class="doing">
                    <dt class="s-num">1</dt>
                    <dd class="s-text">入驻须知</dd>
                </dl>
                <dl>
                    <dt class="s-num">2</dt>
                    <dd class="s-text">公司信息认证</dd>
                </dl>
                <dl>
                    <dt class="s-num">3</dt>
                    <dd class="s-text">店铺信息认证</dd>
                </dl>
                <dl>
                    <dt class="s-num">4</dt>
                    <dd class="s-text">等待审核</dd>
                </dl>
            </div>
        </div>
        <div class="seller-box">
            <div class="head">
                <h3>入驻须知</h3>
            </div>
            <div class="body">
                <div class="rz-tip">
                    &nbsp; &nbsp; &nbsp; &nbsp;您应自行诚信向本站提供注册资料，您保证提供的注册资料真实、准确、完整、合法有效，您的注册资料如有变动的，应及时更新其注册资料。如果您提供的注册资料不合法、不真实、不准确、不详尽的，您需承担因此引起的相应责任及后果。
                </div>

                <div class="btn-wrap">
                    <span class="sbtn sbtn-blue" id="btn-to-company">开始提交</span>
                </div>
            </div>
        </div>
</div>
        