#parse("sys/sys_param.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/seller/staff/company-sign.js?version=$!{JS_VERSION}" ></script>

<div class="seller-well" style="margin-top:5px">
                    <div class="stepflex clearfix">
                        <dl class="done">
                            <dt class="s-num">1</dt>
                            <dd class="s-text">入驻须知</dd>
                        </dl>
                        <dl class="done">
                            <dt class="s-num">2</dt>
                            <dd class="s-text">公司信息认证</dd>
                        </dl>
                        <dl class="done">
                            <dt class="s-num">3</dt>
                            <dd class="s-text">店铺信息认证</dd>
                        </dl>
                        <dl class="doing">
                            <dt class="s-num">4</dt>
                            <dd class="s-text">等待审核</dd>
                        </dl>
                    </div>
                </div>
                <div class="seller-box">
                    <div class="body body-center">
                        <div class="rz-examing">
                            <s class="examing-img"></s>
                            <div class="fore02 clearfix">
                            #if($!{custShopFlag}=='1')
                                <p class="state-txt">认证审核已结束</p>
                                <p>您已经通过审核！感谢您的支持！</p>
                            
                            #elseif($!{signFail}=='1')
                            	<p class="state-txt">认证审核未通过</p>
                                <p>$!{resultMsg}</p>
                                <p><a href="$CONTEXT_PATH/sign/companysign/remind?reApply=1">重新发起申请</a></p>
                            #elseif($!{checkFail}=='3')
                            	<p class="state-txt">会员认证审核未通过</p>
                                
                                <p><a href="$CONTEXT_PATH/information/index">请进入企业资质重新发起申请</a></p>
                            #else
                             <p class="state-txt">认证审核中</p>
                                <p>我们会尽快审核，请您耐心等待，审核结果将通过电子邮件、手机短信、站内信通知您，敬请留意！感谢您的支持！</p>
                            
                            #end
                               
                            </div>
                        </div>
                    </div>
                </div>