#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/msg/sms-set-edit.js?version=$!{JS_VERSION}" ></script>

			<div class="formBox row-fluid">
				<form id="smsSetForm" class="form-horizontal required-validate " style="margin-bottom: 0px;">
				<div class="span8">
				<div class="row-fluid formSep">
					<div class="span8">
							<label class="control-label" style="width:155px;">短信网关：</label>
							<div class="controls" style="margin-left:155px;">
								 <select class="input-block-level htmlcheck required" name="gateway">
								   <option value="">--请选择--</option>
								   <option value="c123" selected>中国短信平台（www.c123.cn）</option>
								 </select>
							</div>
					</div>
				</div>
				<div class="row-fluid formSep">
                    <div class="span8">
                            <label class="control-label" style="width:155px;">请求URL：</label>
                            <div class="controls" style="margin-left:155px;">
                                <input type="text" class="input-block-level htmlcheck required" name="url" value="$!{baseSmsCfg.url}" maxlength="128"/>
                            </div>
                    </div>
                </div>
				<div class="row-fluid formSep">
					<div class="span8">
							<label class="control-label" style="width:155px;">账号：</label>
							<div class="controls" style="margin-left:155px;">
								<input type="text" class="input-block-level htmlcheck required" name="account" value="$!{baseSmsCfg.account}" maxlength="24"/>
							</div>
					</div>
				</div>
				
				<div class="row-fluid formSep">
					<div class="span8">
							<label class="control-label"  style="width:155px;">验证码：</label>
							<div class="controls" style="margin-left:155px;">
								<input type="text" class="input-block-level htmlcheck required" name="authKey" value="$!{baseSmsCfg.authKey}" maxlength="64"/>
							</div>
					</div>
				</div>
				<div class="row-fluid formSep">
					<div class="span8">
							<label class="control-label" style="width:155px;">CSID：</label>
							<div class="controls" style="margin-left:155px;">
								<input type="text" class="input-block-level htmlcheck required" name="othParams[csid]" value="$!{baseSmsCfg.othParams.csid}" maxlength="32"/>
							</div>
					</div>
				</div>
				<div class="row-fluid formSep">
					<div class="span8">
							<label class="control-label" style="width:155px;">CGID：</label>
							<div class="controls" style="margin-left:155px;">
								<input type="text" class="input-block-level htmlcheck required" name="othParams[cgid]" value="$!{baseSmsCfg.othParams.cgid}" maxlength="32"/>
							</div>
					</div>
				</div>
				
				
				
				<div class="row-fluid formSep">
					<div class="span8">
							<label class="control-label" style="width:155px;">测试接收的手机号码：</label>
							<div class="controls" style="margin-left:155px;">
								<input type="text" class="input-block-level htmlcheck required" name="recPhoneno" value="" maxlength="64" />
							</div>
					</div>
					&nbsp;
					<button type="button" class="btn " id="btnTest"><i class="icon-ok-sign icon-white"></i> 测 	试</button>
				</div>
					
				<div class="span10">
    				<div class="pull-left">
    					<button type="button" class="btn btn-info" id="btnFormSave"><i class="icon-ok-sign icon-white"></i> 保	存</button>
    				</div>
				</div>
			</div>
			
			<div id="div-error">
			  
			</div>
		</form>
	</div>