<!--底部 begin-->
<div id="footer" class="text-center">
	<!--
    <div class="">
		<a href="#">关于我们</a> 
		<a href="#">联系我们</a> 
		<a href="#">招贤纳士</a> 
		<a href="#">网站声明</a>
	</div>
	-->
	#siteObj()
    <p>$!{siteObj.siteAddress}</p>
    <p>$!{siteObj.caseNo} #if($!{siteObj.copyrightCompany} && $!{siteObj.copyrightCompany} != '')©$!{siteObj.copyrightCompany}#end</p>
    #*<p>北京市朝阳区潘家园南里19号人卫大厦</p>
    <p>备案号：京ICP备05067302号-5 ©2007-2010 All Rights Reserved 版权所有 人民卫生出版社有限公司</p>*#
</div>
<!--底部 begin-->