#parse("/sys/sys_head.vm")
<link rel="stylesheet" href="$!{RESOURCE_PATH}/sh/shCoreDefault.css"/>
<script src="$!{RESOURCE_PATH}/jquery/artTemplate/template-debug.js"></script>
<script src="$!{RESOURCE_PATH}/util.js"></script>
<script src="$!{RESOURCE_PATH}/sh/shCore.js"></script>
<script src="$!{RESOURCE_PATH}/sh/shBrushXml.js"></script>
<script src="$!{RESOURCE_PATH}/sh/shBrushJScript.js"></script>
<div class="page">
    <header data-am-widget="header" class="am-header am-header-fixed">
        <div class="am-header-title">
        系统消息
    </div>
    <div class="am-header-left am-header-nav top-left">
        <a href="$CONTEXT_PATH/msg/index">
            <i class="public-arrowleft"></i>
        </a>
    </div>
    </header>

    <div id="wrapper2" data-am-widget="list_news" class="am-list-news scroll-wrap">
            <div class="am-list-news-bd scroll">
            
                <div class="pull-action loading pull-down">
                   <span class="pull-label"> 下拉刷新</span>
                    <span class="am-icon-spinner am-icon-spin"></span>
                </div>
             
                   <ul class="ui-list scrollCont">
				   <li>
                            <div class="loading-lo"></div>
							</li>
                    </ul>

                <div class="pull-action pull-up" style="bottom: 0">
                     <span class=" pull-label"> 上拉加载更多</span>
                    <span class="am-icon-spinner am-icon-spin"></span>
                </div>
            </div>
    </div>
</div>
<script type="text/x-handlebars-template" id="wrapper2-tpl">
    {{each values.datas as obj i}}
    	<div class="sys-time">
	        {{obj.createTime}}
	    </div>
    	<div class="sys-pad">
	        <div class="sys-box">
	            <div class="sys-tit">
	                {{obj.msgName}}
	            </div>
	            <div class="sys-con">
	                <div class="sys-con-head"><img src="$IMAGE_PATH/msg.png" alt=""/></div>
	                <div class="sys-con-box">{{obj.msgContext}}</div>
	            </div>
	        </div>
	    </div>
        
    {{/each}}
</script>
<script>
    $(function() {
        $('#wrapper2').height($(window).height()-$('.am-header').height());
        var loadScroll = new LoadScroll("wrapper2", {
            url: '$CONTEXT_PATH/msg/listdata',
            isAjax:true,
            params:{
                
            }
        });
    });
</script>

