#parse("/sys/sys_param.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/staff/login/login-main.js?version=$!{JS_VERSION}" ></script>

	<div class="container">
      <form id="loginform" class="form-signin">
		<div class="span4">
			<h2 class="form-signin-heading">Please sign in</h2>
		
			<input type="text" name="j_username" class="input-block-level" placeholder="请输入用户名">
			<input type="password" name="j_password"  class="input-block-level" placeholder="请输入密码">
            <input type="text" name="j_check_code" class="input-block-level" placeholder="请输入验证码">
            <img id="captchaCodeImg" src="captcha/CapthcaImage"/>
            <a id="refleshCaptchaCode" href="javascript:void(0);">看不清,换一张</a>
            <span class="span4">
			<button id="loginsubmit" class="btn btn-large btn-primary" type="button">Sign in</button>
			</span>
		</div>
      </form>
    </div> <!-- /container -->