@charset "UTF-8";
/*header*/
.mt10-cl {
  overflow: hidden;
  zoom: 1;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.color-a a {
  color: #ff6a00;
}
.color-a a:hover {
  text-decoration: underline;
}
.caret-down,
.caret-up {
  width: 7px;
  height: 4px;
  background-position: 0 -20px;
  float: right;
  margin-top: 8px;
  margin-left: 4px;
}
.caret-up {
  background-position: -7px -20px;
}
/*内容*/
.hot-recommend {
  margin-left: 200px;
}
.ad-place {
  padding: 10px 0 0 0;
}
/*左侧栏*/
/*右推荐*/
.hot-recommend .banner-hot {
  height: 315px;
}
.recommend-right {
  width: 238px;
  float: right;
}
.box-tit {
  height: 40px;
  line-height: 40px;
}
.box-tit .nav-two {
  float: right;
  margin-top: 10px;
}
.box-tit .nav-two li {
  float: left;
  font-size: 14px;
}
.box-tit .nav-two a {
  padding: 0 10px;
  margin-left: 10px;
  display: block;
}
.box-tit .nav-two a:hover,
.box-tit .nav-two a.active {
  background-color: #ff6a00;
  color: white;
}
.box-tit i {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: left;
}
/* 排行榜 begin*/
.box-order dl {
  position: relative;
}
.box-order dd {
  padding-left: 20px;
}
.box-order .active .order-t {
  display: none;
}
.box-order .active .order-c {
  display: block;
}
.box-order .order-c {
  display: none;
}
/* 排行榜 end*/
.b-top {
  height: 32px;
  line-height: 32px;
}
.tchu-icon {
  margin-top: 11px;
}
.newbook-icon {
  background-position: 0px -32px;
  margin-top: 10px;
}
.renwei-icon {
  background-position: 0px -67px;
  margin-top: 11px;
}
.school-icon {
  background-position: 0px -196px;
  margin-top: 8px;
}
.continue-icon {
  background-position: 0px -231px;
  margin-top: 8px;
}
.shuzi-icon {
  background-position: 0px -99px;
  margin-top: 11px;
}
.expert-icon {
  background-position: 0px -131px;
  margin-top: 9px;
}
.lick-icon {
  background-position: 0px -165px;
  margin-top: 12px;
}
.shopr-icon {
  background-position: 0px -264px;
  margin-top: 10px;
}
.rebook-icon {
  background-position: 0px -293px;
  margin-top: 11px;
}
.english-icon {
  background-position: 0px -322px;
  margin-top: 10px;
}
.titbg {
  background: url("../images/tit-bg.png");
}
.titbg span {
  margin-top: 13px;
}
.titbg > ul > li {
  float: left;
}
.titbg > ul > li > a {
  padding: 0 10px;
  display: block;
  line-height: 30px;
}
.titbg > ul > li > a:hover,
.titbg > ul > li > a.active {
  background-color: white;
  border: 1px solid #dddddd;
  border-top-color: #ff6a00;
  border-top-width: 2px;
  border-bottom-width: 0px;
  padding: 0 9px;
  color: #ff6a00;
}
.box-content {
  padding-bottom: 10px;
  border: 1px solid #dddddd;
  border-top-width: 0px;
}
.box-content .more-bd {
  margin-right: 10px;
}
.box-content .more-bd a {
  color: #062f7e;
}
.box-content .boxtb {
  padding-top: 14px;
  padding-bottom: 12px;
}
.box-content .onebg,
.box-content .twobg,
.box-content .threebg {
  background: url("../images/ol.png") no-repeat;
  color: white;
}
.box-content .twobg {
  background-position: 0px -26px;
}
.box-content .threebg {
  background-position: 0px -53px;
}
.box-content dl {
  border-top: 1px dashed #dddddd;
  margin: 0 10px;
  padding-top: 10px;
}
.box-content dl:first-child {
  border-top-width: 0px;
}
.box-content dt {
  float: left;
  width: 16px;
  height: 25px;
  text-align: center;
  margin-right: 10px;
}
.box-content img {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.box-content .name {
  height: 40px;
  overflow: hidden;
  word-break: break-all;
}
.box-content .rob {
  color: #C30000;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  font-family: "Arial";
}
.box-content .price {
  font-size: 14px;
  line-height: 20px;
}
.box-content .price_r {
  color: #A7A7A7;
  text-decoration: line-through;
  line-height: 18px;
  height: 18px;
  font-size: 14px;
}
.font-tit {
  font-size: 16px;
  color: #ff6a00;
}
.font-color {
  font-size: 16px;
  margin-left: 20px;
}
/*1*/
.border-box {
  border: 1px solid #dddddd;
}
.border-box li {
  padding: 0px 10px 0px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*2*/
.box-pro {
  width: 236px;
  padding: 0;
}
.box-pro .slide-box {
  width: 100%;
  height: 100%;
}
.box-pro .slide-box li {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  text-align: left;
}
.box-pro .prev,
.box-pro .next {
  position: absolute;
  top: 50%;
  margin-top: -29px;
  background: url("../images/iconNew.png") no-repeat;
  width: 19px;
  height: 59px;
  cursor: pointer;
  z-index: 3;
}
.box-pro .prev {
  background-position: -56px -129px;
  left: 0;
}
.box-pro .next {
  right: 0;
  background-position: -76px -129px;
}
.box-pro img {
  float: left;
}
/*3*/
.box-con {
  position: relative;
}
.dian-box {
  position: absolute;
  background-color: rgba(218, 218, 218, 0.5);
  border-radius: 10px;
  left: 50%;
  bottom: 10px;
  margin-left: -30px;
  padding: 0 5px;
  z-index: 2;
}
.dian-box li {
  float: left;
  height: 11px;
  line-height: 9px;
  padding: 0 2px;
  color: white;
  display: block;
  cursor: pointer;
}
.dian-box li a {
  color: #fff;
}
.dian-box .current {
  color: green;
}
.lt-position {
  position: absolute;
  top: 50%;
  margin-top: -29px;
}
.rt-position {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -29px;
}
.lt-icon {
  background-position: -55px -129px;
  width: 19px;
  height: 59px;
  position: absolute;
}
.gt-icon {
  background-position: -76px -129px;
  width: 19px;
  height: 59px;
  position: absolute;
}
.box-two {
  border: 1px solid #dddddd;
  border-top-width: 2px;
  border-top-color: #ff6a00;
  padding-bottom: 15px;
}
.box-two img {
  width: 150px;
  height: 150px;
}
.box-two .e-books {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
.box-two li {
  float: left;
  padding: 20px 10px 0px;
  width: 150px;
  margin-left: 15px;
  position: relative;
}
.box-two li:hover {
  cursor: pointer;
}
.box-two li:hover a {
  color: #ff6a00;
}
.box-two .hot-big {
  position: absolute;
  background-position: 0 -129px;
  width: 20px;
  height: 53px;
  font-size: 14px;
  color: white;
  padding: 2px 13px;
  line-height: 110%;
}
.box-two .hot-big-fd {
  margin-left: 20px;
}
.box-two .name {
  padding: 7px 20px 0px;
  height: 36px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
.box-two .author {
  padding: 0px 20px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  color: #AAA;
}
.box-two .price {
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  font-family: "Arial";
  font-size: 14px;
  padding-left: 20px;
}
.box-two .rob {
  color: #C30;
  float: left;
  overflow: hidden;
  font-weight: bold;
  margin-right: 8px;
}
.box-two .price_r {
  color: #AAA;
  text-decoration: line-through;
  float: left;
  overflow: hidden;
}
.recommend-left {
  width: 752px;
  float: left;
}
.likebg {
  background-color: #f1f1f1;
  height: 267px;
}
.likebg .tit {
  font-size: 16px;
  padding-left: 20px;
  line-height: 35px;
  margin-top: 10px;
  color: #062f7e;
}
.likebg li {
  float: left;
  width: 80px;
  margin-left: 10px;
  line-height: 30px;
}
.box-three {
  border: 1px solid #dddddd;
  border-top-width: 2px;
  border-top-color: #ff6a00;
}
.box-three .box-list li {
  float: left;
  height: 224px;
  padding: 20px 10px 16px;
  width: 150px;
  margin-left: 15px;
}
.box-three .box-list .name {
  padding: 7px 20px 0px;
  height: 36px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
.box-three .box-list .author {
  padding: 0px 20px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  color: #AAA;
}
.box-three .box-list .price {
  padding-left: 20px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  font-family: "Arial";
  font-size: 14px;
}
.box-three .box-list .rob {
  color: #C30;
  float: left;
  overflow: hidden;
  font-weight: bold;
  margin-right: 12px;
}
.box-three .box-list .price_r {
  color: #AAA;
  text-decoration: line-through;
  float: left;
  overflow: hidden;
}
/*广告*/
.ad-place-p {
  float: left;
  margin-top: 10px;
}
.ad-place {
  padding: 10px 0 0 0;
}
.ad-place li {
  float: left;
  margin-left: 8px;
}
.ad-place li:first-child {
  margin-left: 0px;
}
.rwbox-left {
  width: 950px;
  float: left;
}
.box-con-left {
  border-right: 1px solid #dddddd;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 194px;
  line-height: 180%;
}
.box-con-left .name-zhang {
  height: 30px;
  font-weight: 900;
  font-size: 14px;
  line-height: 30px;
}
.box-con-right {
  margin-left: 260px;
  margin-top: 20px;
  margin-right: 20px;
}
.box-con-right .rob {
  color: #C30000;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
}
.box-con-right .price {
  font-size: 14px;
  line-height: 20px;
}
.box-con-right .box-jieshao {
  line-height: 180%;
  margin-top: 20px;
}
.box-con-right img {
  float: left;
}
.box-con-right .border-top {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
}
.box-con-right .border-top p {
  font-size: 16px;
  padding-left: 30px;
  padding-bottom: 13px;
}
.box-con-right .border-top p a {
  color: #062f7e;
}
.box-con-right .img-app {
  height: 220px;
}
.box-con-right .img-app h3 {
  font-size: 16px;
}
.change-icon {
  background-position: -54px 0;
  margin-top: 14px;
}
/* 图片轮播 begin*/
.mbanner {
  position: relative;
  background-color: #C53232;
  z-index: 1;
}
.mbanner .jcarousel-pagination {
  bottom: 30px;
}
.mbanner .jcarousel-pagination a.active {
  background-color: #ff0000;
}
.bannerimg {
  width: 752px;
  position: relative;
  padding: 0;
  height: 315px;
}
.bannerimg .slide-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.bannerimg .slide-box li {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  display: none;
}
.bannerimg .slide-box img {
  width: 100%;
  height: 100%;
}
.slide-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -350px;
  text-align: center;
  width: 700px;
  z-index: 5;
  overflow: hidden;
  /* -webkit-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   transform: translate(-50%, 0);*/
}
.slide-pagination ul {
  display: inline-block;
}
.slide-pagination li {
  float: left;
}
.slide-pagination li a {
  text-decoration: none;
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  background: #7a7a7c;
  color: white;
  margin-right: 7px;
}
.slide-pagination li a.current {
  background: #ff6a00;
  color: #fff;
  opacity: 1;
  -webkit-box-shadow: 0 0 2px #F0EFE7;
  -moz-box-shadow: 0 0 2px #F0EFE7;
  box-shadow: 0 0 2px #F0EFE7;
}
/* 图片轮播 end*/
/*商品推荐*/
.pro-commend {
  border: 1px solid #dddddd;
  background-color: #f7f7f7;
}
.pro-commend li {
  padding: 15px;
  border-bottom: 1px dashed #dddddd;
  width: 172px;
  margin: 0 auto;
}
.pro-commend li:last-child {
  border-bottom: 0;
}
.pro-commend li p {
  display: inline-block;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.pro-commend img {
  height: 170px;
  width: 170px;
}
.pro-commend .rob {
  color: #C30;
  overflow: hidden;
  font-weight: bold;
  margin-right: 12px;
  font-family: "Arial";
}
.pro-commend .b-img {
  border: 1px solid #dddddd;
  width: 170px;
  margin: 0 auto;
}
/*首页tit*/
.titdown {
  position: relative;
}
.titdown:hover {
  border: 1px solid #ddd;
  border-top: 2px solid #ff6a00;
  background-color: #fff;
}
.titdown:hover .caret-up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.titdown:hover .downc {
  display: block;
}
.titdown .downc {
  position: absolute;
  z-index: 2;
  top: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-width: 0px;
  display: none;
  margin-left: -1px;
}
.titdown .downc li {
  padding-left: 10px;
  line-height: 30px;
}
.ks-down {
  padding: 0 10px;
  line-height: 29px;
  cursor: pointer;
}
/*新书预测*/
.new-book {
  padding: 0px 0;
}
.new-book li {
  display: block;
  overflow: hidden;
  zoom: 1;
}
.new-book .img-w {
  width: 100px;
  float: left;
  padding: 10px;
}
.new-book h2 {
  font-size: 14px;
  margin-top: 10px;
  white-space: normal;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
.new-book h2 a {
  display: inline-block;
  word-break: break-all;
  word-wrap: break-word;
}
.new-book .vl {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.new-book .price_r {
  color: #A7A7A7;
  text-decoration: line-through;
  line-height: 18px;
  height: 18px;
  font-size: 14px;
}
.new-book .price-j {
  color: red;
  line-height: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: 900;
  font-family: arial;
}
.box2h .img-w {
  width: 80px;
  float: left;
  padding: 10px;
}
.box2h .img-w img {
  width: 80px;
  height: 116px;
}
/*电子书*/
.ele-box {
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
}
.ele-ewm img {
  background-color: #e9e9e9;
  width: 137px;
  margin: 20px auto;
  display: block;
  padding: 10px;
  float: none;
}
.ele-download {
  width: 198px;
  margin: 0 auto;
}
.ele-download li {
  width: 188px;
  height: 46px;
  margin-top: 20px;
  line-height: 46px;
  text-align: center;
  padding-right: 10px;
  color: white;
  font-size: 16px;
  overflow: hidden;
}
.ele-download li a {
  color: #fff;
}
.ele-download span {
  background: url("../images/ele-d.png") no-repeat;
  width: 46px;
  height: 46px;
  float: left;
}
.ele-download .i-android {
  background-color: #59a12b;
  background-position: center 12px;
}
.ele-download .i-ipad {
  background-color: #477eca;
  background-position: center -30px;
}
.ele-download .i-iphone {
  background-color: #40b1eb;
  background-position: center -81px;
}
.ele-download .i-windous {
  background-color: #D69615;
  background-position: center -130px;
}
.ele-download .e-green {
  background-color: #7aca47;
}
.ele-download .e-blue {
  background-color: #6b9bdd;
}
.ele-download .e-blue01 {
  background-color: #62caff;
}
.ele-download .e-gray {
  background-color: #fdaa00;
}
.ele-border {
  border: 1px solid #dddddd;
  border-top-width: 2px;
  border-top-color: #ff6a00;
}
.ele-border .ele-protj li {
  width: 440px;
  float: left;
  padding: 35px 10px;
}
.ele-border .ele-protj img {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 15px;
}
.ele-border .ele-protj .tit {
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ele-border .ele-protj .author {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ele-border .ele-protj .dec {
  color: #999999;
  height: 60px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
.ele-border .ele-protj .price {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  font-family: "Arial";
  font-size: 14px;
}
.ele-border .ele-protj .rob {
  color: #C30;
  float: left;
  overflow: hidden;
  font-weight: bold;
  margin-right: 12px;
}
.ele-border .ele-protj .price_r {
  color: #AAA;
  text-decoration: line-through;
  float: left;
  overflow: hidden;
}
.ele-border .ele-protj .spit,
.ele-border .ele-protj .spit-t {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #fff;
  height: 12px;
  width: 0;
  vertical-align: sub;
  font-weight: normal;
}
.ele-border .ele-protj .spit-t {
  border: 1px solid #ffb47f;
}
.ele-border .ele-protj .mbtn {
  padding: 0px 8px;
  color: white;
}
.ele-border .ele-protj .mbtn-bo {
  border: 1px solid #ff7800;
  background-color: white;
  color: #ff7800;
}
.ele-border .ele-protj .ep {
  width: 20px;
  height: 20px;
  background-position: -130px -62px;
}
.ele-border .ele-protj .cp {
  width: 20px;
  height: 20px;
  background-position: -152px -62px;
}
.box-btj .ele-protj .dec {
  margin-bottom: 10px;
}
.box-btj .ele-protj .price {
  height: 50px;
}
/*数字教材 begin*/
.ele-border .dig-protj li {
  padding: 22px 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar-left {
  float: left;
}
.sidebar-left .sidebar-nav2 {
  float: none;
}
.sidebar-left .bar-ad li {
  margin-top: 10px;
}
.sidebar-left .bar-ad img {
  width: 190px;
  height: 70px;
}
.sidebar-left .bar-ad img img {
  width: 150px;
  height: 150px;
}
/*数字教材 end*/
/*在线考试培训 begin*/
.banner-hot-main {
  width: 752px;
}
.onlineks-box {
  border: 1px solid #dddddd;
  text-align: center;
}
.onlineks-link {
  width: 128px;
  margin: 0 auto;
  text-align: left;
  margin-top: 5px;
}
.onlineks-link a {
  color: #ff6a00;
  text-decoration: underline;
}
.hl-icon {
  background-position: 0px -354px;
  margin-top: 10px;
}
.ys-icon {
  background-position: 0px -387px;
  margin-top: 10px;
}
i.zyys-icon {
  background-position: 0px -421px;
  margin-top: 10px;
  width: 30px;
}
.online-icon {
  background-position: 0px -80px;
}
/*在线考试培训 end*/
/*中部图片轮播*/
.box-jcarousel {
  padding: 0 20px 0 0;
}
.box-jcarousel .slide-box {
  width: 100%;
}
.box-jcarousel .jcarousel-container {
  width: 4000px;
}
.box-jcarousel .prev,
.box-jcarousel .next {
  position: absolute;
  top: 50%;
  margin-top: -29px;
  width: 19px;
  height: 59px;
  background: url("../images/iconNew.png") no-repeat;
  cursor: pointer;
  z-index: 3;
}
.box-jcarousel .slide-prev,
.box-jcarousel .slide-next {
  position: absolute;
  top: 50%;
  margin-top: -29px;
}
.box-jcarousel .prev {
  left: -1px;
  background-position: -55px -129px;
}
.box-jcarousel .next {
  right: 0;
  background-position: -76px -129px;
}
.box-jcarousel .item {
  width: 740px;
  float: left;
}
.box-jcarousel .item img {
  width: 150px;
  height: 150px;
}
.box-jcarousel2h .item {
  width: 740px;
  height: 100%;
  float: left;
}
.box-jcarousel2h .slide-box {
  height: 525px;
}
.recommend-digital {
  margin-left: 200px;
}
.recommend-tab .box-tit {
  position: relative;
}
.recommend-tab .box-con {
  padding-top: 35px;
}
.recommend-tab .new-tab {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  margin-top: 2px;
}
.recommend-tab .new-tab li {
  float: left;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  padding: 0px 15px;
  height: 33px;
  line-height: 33px;
  margin-left: -1px;
  cursor: pointer;
}
.recommend-tab .new-tab .active {
  background-color: white;
  border-bottom: 1px solid white;
}
