@charset "UTF-8";
/*订单状态*/
.order-num {
  border: 1px solid #ffc778;
  height: 70px;
  background-color: rgba(255, 192, 120, 0.2);
  font-size: 14px;
  line-height: 70px;
  padding-left: 20px;
  font-weight: 900;
}
.order-num .c-green {
  color: green;
}
/*订单进度条*/
.progressBar {
  width: 706px;
  margin: 0 auto;
  padding: 40px 0 100px;
}
.progressBar .node,
.progressBar .proce {
  float: left;
  position: relative;
  height: 13px;
  background-image: url(../images/bg_state.jpg);
  background-repeat: no-repeat;
}
.progressBar .node {
  width: 13px;
}
.progressBar .node.ready {
  background-position: -150px 0px;
}
.progressBar .node.wait {
  background-position: -150px -40px;
}
.progressBar .node ul {
  z-index: 1;
  width: 110px;
  margin-left: -50px;
  text-align: center;
}
.progressBar .proce {
  width: 150px;
  border: solid #fff;
  border-width: 0 5px;
}
.progressBar .proce.ready {
  background-position: 0 0;
}
.progressBar .proce.wait {
  background-position: 0px -40px;
}
.progressBar .proce ul {
  z-index: 5;
  width: 150px;
}
.progressBar .tx3 {
  color: #999;
  line-height: 15px;
}
/*订单跟踪，付款信息*/
.order-box {
  border: 1px solid #ffc778;
  position: relative;
}
.order-box .tab {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #EED97C;
  background: #FFFCEB;
  overflow: visible;
  font-size: 14px;
}
.order-box .tab li {
  float: left;
  border-right: 1px solid #EED97C;
  text-align: center;
  display: block;
  cursor: pointer;
}
.order-box .tab li h2 {
  padding: 0 8px;
  line-height: 35px;
}
.order-box .tab .active h2 {
  position: relative;
  height: 36px;
  background: #fff;
  color: #333;
}
.order-box .order-trace {
  padding: 15px 23px;
}
.order-box .order-trace .order-table {
  width: 100%;
}
.order-box .order-trace .order-table th {
  text-align: left;
  border-bottom: 1px solid #dddddd;
  line-height: 25px;
}
.order-box .order-trace .order-table td {
  line-height: 20px;
}
.order-box .order-trace .extra {
  margin-top: 10px;
}
.order-box .order-trace .extra span {
  display: inline-block;
  margin-right: 30px;
}
/*订单信息*/
.order-info {
  border: 1px solid #DADADA;
  background: #f3f3f3;
  margin-top: 10px;
  padding: 0 10px 10px;
  overflow: visible;
}
.order-info .order-info-tit {
  font-weight: 900;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.order-info .order-info-com {
  background-color: white;
  padding: 5px 8px;
  overflow: visible;
}
.order-info .order-info-com li {
  float: left;
  margin-right: 40px;
}
.order-info .order-info-com dl {
  padding: 10px 5px;
  border-top: 1px solid #EDEDED;
}
.order-info .order-info-com dl.fore {
  border-top: 0px;
}
.order-info .order-info-com dt {
  margin-bottom: 4px;
  font-weight: 700;
}
.order-info .order-info-com01 {
  overflow: visible;
}
.order-info .total {
  display: block;
  overflow: visible;
  padding: 15px 10px 0;
  float: right;
}
.order-info .total ul {
  font-size: 14px;
}
.order-info .total ul li {
  overflow: hidden;
  line-height: 20px;
  font-family: arial;
}
.order-info .total ul li span {
  float: left;
  width: 150px;
  text-align: right;
}
.order-info .total .extra {
  float: right;
  padding: 10px 20px 0 0;
  border-top: 1px solid #ccc;
  font-size: 16px;
  font-weight: 700;
}
.order-info .total .extra b {
  font-size: 24px;
}
.ftx04 {
  color: red;
}
/*商品详情*/
.order-info-table {
  width: 100%;
}
.order-info-table th {
  background-color: white;
  line-height: 30px;
}
.order-info-table img {
  width: 60px;
  height: 60px;
}
.order-info-table tr {
  border-bottom: 1px solid #dddddd;
}
.order-info-table tr:first-child {
  border-bottom: 0;
}
.order-info-table td {
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}
.order-info-table .bg-fff {
  background-color: white;
}
.order-info-table .kong {
  height: 10px;
}
.order-info-table .border-right {
  border-right: 1px solid #dddddd;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
}
/*银行logo begin*/
.banklogo {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 50px;
}
.banklogo.bank-ny {
  background-position-y: 0;
}
.banklogo.bank-zfb {
  background-position-y: -51px;
}
/*银行logo end*/
/*多笔订单提交 begin*/
.order-sb-state {
  overflow: hidden;
  padding: 25px 0;
  background-color: #f6fdf6;
  border: 1px solid #dddddd;
  width: 100%;
  margin-top: 20px;
}
.order-sb-state strong {
  display: block;
}
.order-sb-state .txt {
  display: block;
  padding-bottom: 15px;
  font-size: 14px;
}
.order-sb-state .mstate-icc {
  vertical-align: baseline;
  width: 100px;
}
.order-sb-state .mstate {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  background: url("../images/mstate.png") 0 0 no-repeat;
}
.order-sb-state .sus-tip,
.order-sb-state .warn-tip,
.order-sb-state .error-tip {
  width: 1066px;
  margin: auto;
  overflow: hidden;
  _zoom: 1;
}
.order-sb-state .sus-tip .txt {
  color: green;
}
.order-sb-state .error-tip .mstate {
  background-position-x: -104px;
}
.order-sb-state .error-tip .txt {
  color: red;
}
.order-sb-state .warn-tip .mstate {
  background-position-x: -206px;
}
.order-sb-state .warn-tip .txt {
  color: #555;
}
.order-sb-state .odetail label {
  display: inline-block;
  width: 80px;
  color: #666;
  font-weight: bold;
}
.order-sb-state .odetail li {
  height: 30px;
  line-height: 30px;
}
.order-sb-state .pway-detail label {
  width: 80px;
  text-align: right;
  font-weight: normal;
}
.order-sb-list {
  border: 1px solid #dddddd;
  margin-top: 20px;
}
.order-sb-list h6 {
  margin: 20px 0 20px 40px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.order-sb-list table {
  width: 1116px;
  margin: 0 auto;
  border: 1px solid #dddddd;
  margin-bottom: 14px;
}
.order-sb-list th,
.order-sb-list td {
  line-height: 35px;
  text-align: center;
  font-weight: normal;
  height: 35px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.order-sb-list td {
  line-height: 58px;
  height: 58px;
}
.order-sb-list .contact {
  text-align: left;
  line-height: 18px;
  padding-left: 15px;
}
.order-sb-list .contact .qq {
  display: inline-block;
  width: 74px;
  height: 23px;
  background: url("../images/QQtalk.png");
  margin-left: 10px;
  vertical-align: middle;
}
.order-sb-list .gooper {
  text-align: right;
  margin: 20px 40px;
}
.order-sb-list .gooper .mbtn {
  height: 35px;
  color: #fff;
  font-size: 14px;
}
/*多笔订单提交 end*/
.mbtn-grad {
  color: #666 !important;
  background-color: #dddddd;
  border: 1px solid #dddddd;
}
/*支付方式 begin*/
.pay-way {
  margin-top: 20px;
}
.pay-way h4 {
  font-size: 14px;
}
.pay-type {
  margin: 10px 0;
  height: 32px;
  overflow: hidden;
}
.pay-type li {
  float: left;
  display: inline-block;
  padding: 5px 20px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #dddddd;
}
.pay-type .selected {
  border-color: #ff6a00;
  background-color: #ff6a00;
  color: #fff;
}
.pay-online .bankcc {
  display: inline-block;
  width: 210px;
  height: 62px;
  margin-right: 25px;
}
.pay-online .bankcc img {
  max-height: 43px;
  max-width: 170px;
  margin-top: 5px;
  margin-left: 5px;
}
.pay-online .banklogo {
  width: 182px;
  height: 52px;
  border: 1px solid transparent;
}
.pay-online .selected .banklogo {
  border-color: #ff0000;
}
.pay-online table {
  border: 1px solid #dddddd;
  border-bottom: 0;
  width: 100%;
}
.pay-online table th,
.pay-online table td {
  padding: 16px;
  box-sizing: content-box;
  border-bottom: 1px solid #dddddd;
}
.pay-online table th {
  text-align: left;
  width: 170px;
  background: #FAFAFA;
  vertical-align: top !important;
  overflow: hidden;
  padding: 16px;
}
.pay-online table tfoot td {
  text-align: right;
}
.pay-online .payMainL div {
  white-space: normal;
  color: #999;
  line-height: 22px;
}
.pay-online .mbtn {
  color: #fff;
  height: 30px;
}
/*支付方式 end*/
/* 订单结算 begin*/
#header .paylink {
  float: left;
  font-size: 18px;
  line-height: 45px;
}
#header .paylink i {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #999999;
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  vertical-align: middle;
}
#header .paylink a {
  color: #666;
}
/* 结算页面样式重置 begin*/
.pay h2 {
  font-size: 16px;
  color: #000;
  font-weight: normal;
  line-height: 30px;
}
.pay .sl-name {
  color: #000;
}
/* 结算页面样式重置 end*/
/* 结算步骤 begin*/
.pay-step {
  width: 450px;
  float: right;
  margin: 20px 0;
}
.pay-step li {
  float: left;
}
.pay-step .s-txt {
  color: #dddddd;
  text-align: center;
  height: 25px;
}
.pay-step .s-num {
  width: 150px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  color: #fff;
  background: url("../images/pay-step.png") 0 0 no-repeat;
}
.pay-step .active .s-num {
  background-position: -150px 0;
}
.pay-step .active .s-txt {
  color: #ff7003;
}
/* 结算步骤 end*/
.pay-box {
  padding: 20px 30px;
  border: 1px solid #dddddd;
  border-top: 2px solid #999999;
}
.pay-box .head {
  font-size: 14px;
  color: #000;
  padding-left: 10px;
  position: relative;
}
.pay-box .head a {
  color: #0088cc;
  font-weight: normal;
  font-size: 12px;
}
.pay-box .hright {
  position: absolute;
  right: -10px;
  top: -15px;
}
.pay-box .body {
  border-bottom: 1px dashed #dddddd;
  padding-left: 10px;
  padding-bottom: 10px;
}
.pay-box .pay-row {
  padding: 0 10px;
}
.pay-box .lrow .body {
  border: 0;
}
/* 修改地址 */
.sl-addr {
  position: relative;
}
.sl-addr .addMgr {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0088cc;
}
.sl-addr.hover {
  background-color: #fff5e3;
}
.sl-addr.hover .addMgr {
  display: block;
}
.sl-addr.hover .addMgr span {
  cursor: pointer;
  margin-right: 10px;
}
/* 更多地址 */
.addropt {
  margin: 10px 0;
  cursor: pointer;
}
.addropt i {
  width: 20px;
  height: 20px;
  background-position: -75px 2px;
}
/* 购物列表 begin*/
.pay-list {
  padding: 0 35px;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
}
.pay-list .hd {
  padding: 10px 0;
}
.pay-list .hd h4 {
  margin-bottom: 5px;
}
.pay-list .paymz {
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
}
/* 购物列表 end*/
/* 购物表格 begin*/
.border-top {
  border-top: 1px dashed #dddddd;
}
.paytb {
  width: 100%;
}
.paytb td {
  padding: 5px;
}
.paytb td.paytb-zp-bot {
  border-top: 0px;
}
.paytb td.paytb-zp,
.paytb td.paytb-zp-price {
  padding: 0px;
  border-top: 0px;
  padding-left: 35px;
  line-height: 30px;
  color: #999999;
}
.paytb td.paytb-zp-price {
  color: #333;
}
.paytb .p-img {
  width: 60px;
  padding: 5px;
}
.paytb .p-img img {
  width: 60px;
  height: 60px;
}
.paytb .p-name {
  width: 400px;
}
.paytb .p-pri {
  color: #ff0000;
}
.paytb .p-state {
  text-align: right;
}
.paytb .p-nature {
  width: 100px;
}
/* 购物表格 end*/
/* 发票信息 begin*/
.pay-bill span {
  margin-right: 40px;
}
.pay-bill a {
  color: #0088cc;
}
/* 发票信息 end*/
/* 购物结算 begin*/
.pay-count {
  overflow: hidden;
}
.pay-count .cwrap {
  width: 100%;
  text-align: right;
}
.pay-count label {
  display: inline-block;
}
.pay-count .pitem {
  margin-bottom: 12px;
}
.pay-count .pl {
  display: inline-block;
  width: 400px;
  text-align: right;
}
.pay-count .pv {
  display: inline-block;
  width: 150px;
  text-align: right;
}
.pay-count b,
.pay-count .total,
.pay-count .pv {
  color: #ff0000;
  font-weight: bold;
}
.pay-count .pzs {
  text-align: right;
  border-top: 1px solid #dddddd;
  padding-top: 20px;
}
.pay-count .pzs .total {
  font-size: 16px;
}
.pay-count .pzs .pl {
  font-size: 16px;
  width: 200px;
}
.pay-count .pzs .total {
  margin: 0 10px;
}
.pay-count .pzs .mbtn {
  width: 140px;
  height: 35px;
  line-height: 35px;
}
/* 购物结算 end*/
/* 自提修改时间*/
.zt-modtime {
  line-height: 42px;
}
.zt-modtime a {
  color: #0088cc;
  margin-left: 10px;
}
/* 温馨提示 */
.box-warm {
  color: #999999;
  margin: 10px 0;
}
.box-warm dt {
  font-size: 14px;
}
/* 弹出内容 begin*/
/* 弹出内容 begin*/
.help-tip {
  color: #a5a5a5;
  line-height: 30px;
}
.help-explain {
  background-color: #fffdee;
  border: 1px solid #fff18c;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
}
.itxt-tip {
  background-color: #ffebeb;
  border: 1px solid #ffbdbd;
  padding: 0 10px;
  height: 29px;
  line-height: 29px;
  display: inline-block;
  color: #ff0000;
}
/* 弹出form重置 begin*/
.pay-form select {
  width: 130px;
}
.pay-form input {
  width: 150px;
}
.pay-form input,
.pay-form select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-right: 10px;
}
.pay-form .input-large {
  width: 310px;
}
.pay-form .input-medium {
  width: 270px;
}
.pay-form .form-inline label {
  width: 100px;
  text-align: center;
}
.pay-form .btn {
  width: auto;
  font-weight: bold;
}
.pay-form .order-switch a {
  color: #313131;
}
.pay-form .order-switch a.checked,
.pay-form .order-switch a:hover {
  border: 2px solid #e63635;
  padding: 6px 31px;
}
.pay-form .order-switch a.checked b {
  background: url("../images/iconNew.png") -80px -98px;
}
.pay-form .billmod {
  padding: 4px 6px;
  border: 2px solid #e63635;
}
.pay-form .billmod .addr {
  margin-right: 50px;
}
.pay-form .controls a {
  color: #0088cc;
  margin-right: 10px;
}
.pay-form .billc-swtich a {
  padding: 6px 12px;
  color: #313131;
}
.pay-form .billc-swtich a.checked,
.pay-form .billc-swtich a:hover {
  padding: 5px 11px;
}
.pay-form .mbtn-send {
  display: inline-block;
}
.pay-form .mbtn-send .ispan {
  display: inline-block;
  border: 1px solid #cccccc;
  border-right: 0;
  height: 30px;
  line-height: 30px;
  margin: 0;
  text-indent: 20px;
  width: 320px;
}
.pay-form .mbtn-send .mbtn {
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  background-color: #cac6c1;
}
.pay-form .control-check {
  margin-top: -5px;
}
.pay-form .control-check .controls {
  line-height: 32px;
  height: 32px;
  font-size: 14px;
}
/* 弹出form重置 end*/
/* 发票步骤 */
.bill-step {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  *zoom: 1;
}
.bill-step li {
  float: left;
  padding: 0 40px;
  border: 1px solid #e5e5e5;
  border-width: 1px 0 1px 0;
  background-color: #f4f4f4;
  height: 28px;
  line-height: 28px;
  color: #c3c3c3;
  position: relative;
}
.bill-step li.first {
  border-left: 1px solid #e5e5e5;
}
.bill-step li.doing {
  background-color: #ebebeb;
  color: #313131;
}
.bill-step li.doing span:before {
  border-left-color: #ebebeb;
}
.bill-step li.undo {
  background-color: #fff;
  color: #313131;
}
.bill-step li.undo span:before {
  border-left-color: #fff;
}
.bill-step li span {
  position: absolute;
  right: -32px;
  top: -2px;
  height: 0;
  border-width: 16px;
  border-style: solid;
  z-index: 9;
  *zoom: 1;
  border-color: transparent transparent transparent #e5e5e5;
}
.bill-step li span:before {
  content: ".";
  height: 0;
  position: absolute;
  right: -18px;
  top: 0;
  margin-top: -15px;
  border-width: 15px;
  border-style: solid;
  z-index: 9;
  border-color: transparent transparent transparent #f4f4f4;
}
/* 自提时间选择 */
.sl-ztTime li {
  float: left;
  color: #333;
}
.sl-ztTime li input {
  display: none;
}
.sl-ztTime li label {
  padding: 5px 15px;
  border: 1px solid #dddddd;
  border-left: 0;
}
.sl-ztTime li.first label {
  border: 1px solid #dddddd;
}
.sl-ztTime li.selected label {
  background-color: #ffb702;
  color: #fff;
}
/* 自提列表 */
.zt-list {
  display: none;
  margin-top: 10px;
}
.zt-list label {
  margin-top: 7px;
}
.submit-wrap {
  text-align: center;
}
.submit-wrap input {
  margin-right: 20px;
}
.submit-wrap input:last-child {
  margin-right: 0;
}
.dialog-content {
  padding: 10px 30px;
}
/* 订单结算 end*/
.pull-right {
  line-height: normal;
}
/*添加样式*/
.toggle-down .toggle-hd b {
  background-position: 0 -15px;
}
.toggle-down .toggle-bd {
  display: block;
}
.toggle-hd {
  color: #005ea7;
  height: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}
.toggle-hd b {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  float: left;
  margin-top: 2px;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  background: url("../images/toggle-arrow.png") no-repeat;
}
.toggle-bd {
  display: none;
}
.toggle-bd .tab-cont {
  background: #eefaff;
}
.toggle-bd .tab-cont .item {
  padding: 5px 18px;
  border: 1px solid #A3D1EC;
}
.toggle-bd .tab-cont .item-input {
  margin-top: 5px;
}
.toggle-bd .tab-cont .item-input input {
  width: 60px;
  padding: 1px 4px;
  border-radius: 0px;
  margin-bottom: 3px;
}
.toggle-bd .tab-cont .item-input a {
  background: #ff6a00;
  padding: 4px 10px;
  color: white;
  border: 1px solid #ec5e00;
}
.toggle-bd .tab-cont .item-input a:hover {
  color: white;
}
.toggle-bd .spit-line {
  margin: 8px 0;
  overflow: hidden;
  border-bottom: 1px dashed #a3d1ec;
}
/*添加线下支付*/
.online-way {
  margin-top: 30px;
}
.online-way h2 {
  font-size: 14px;
  margin-top: 10px;
}
.online-way label {
  display: inline-block;
  font-size: 14px;
}
.online-way p {
  height: 25px;
}
.online-way img {
  width: 200px;
}
/*添加促销*/
.tab-o li {
  background: #f3f3f3;
  float: left;
  border: 1px solid #ddd;
  border-bottom: none;
  cursor: pointer;
  height: 22px;
  line-height: 22px;
  margin-right: 5px;
  margin-top: 3px;
  padding: 0 15px;
  text-align: center;
  white-space: nowrap;
}
.tab-o .active {
  background: #eefaff;
  border: 1px solid #A3D1EC;
  border-bottom: none;
  font-weight: 700;
  height: 26px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: -1px;
}
.tab-o em {
  margin-left: 2px;
  color: #e4393c;
  font-family: verdana;
}
.tab-o em.grey {
  color: #999;
}
.checkbox-box {
  font-size: 12px;
}
.checkbox-box input {
  margin-top: 3px;
  float: left;
  margin-right: 5px;
}
.checkbox-box em {
  color: red;
}
.tip a {
  color: #005ea7;
}
.table-v {
  width: 100%;
  margin-top: 10px;
}
.table-v td {
  padding: 2px;
}
/* 物流信息 begin */
.wl-list .item {
  margin-bottom: 10px;
}
.wl-list .item .tit {
  margin-bottom: 5px;
}
.wl-list .item .tit label {
  display: inline-block;
}
.wl-list .item .tit span {
  margin-right: 50px;
}
.wl-list .cont {
  padding-left: 200px;
  position: relative;
  width: 700px;
}
.wl-list .cont .more {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  color: #ff6a00;
}
.wl-list .infos {
  background: #FFF3E8;
  color: #666;
  padding: 10px 20px;
}
.wl-list .infos li {
  float: inherit;
  padding-left: 160px;
  position: relative;
  border-left: 3px solid #ddd;
  margin-bottom: 8px;
}
.wl-list .infos li:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #ddd;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: -4px;
  bottom: -6px;
}
.wl-list .infos .last:before {
  display: none;
}
.wl-list .infos .time {
  margin-left: -140px;
  float: left;
}
/* 物流信息 end */
/*微信支付*/
.wchatbg {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}
.order .o-left {
  float: left;
  width: 840px;
  padding: 10px 0 10px 30px;
}
.order .o-tit {
  line-height: 26px;
  height: 26px;
  overflow: hidden;
  font-size: 14px;
}
.order .o-tips {
  line-height: 20px;
  height: 20px;
}
.order .o-right {
  float: right;
  width: 190px;
  padding: 10px 125px 10px 0;
  overflow: hidden;
}
.order .o-price {
  text-align: right;
}
.order .o-price .o-p-tit {
  font-size: 14px;
}
.order .o-price strong {
  margin: 0 3px;
  color: #ff6a00;
  font-size: 18px;
  vertical-align: bottom;
}
.order .o-detail {
  text-align: right;
  line-height: 20px;
  color: #2ea7e7;
}
.order .o-detail a {
  display: inline-block;
  padding-right: 15px;
  position: relative;
  color: #2ea7e7;
  cursor: pointer;
}
.order .o-detail i {
  right: 0;
  top: 3px;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
}
.order .o-detail i:before {
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -4px;
  content: "";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom: 4px solid #2ea7e7;
}
.order .o-list {
  margin: 0 30px;
  border-top: 1px solid #ddd;
  height: 0;
  overflow: hidden;
  transition: height .2s;
}
.order .o-list-cont {
  padding: 12px 0 25px;
}
.order .o-list-info {
  line-height: 24px;
}
.order-open .o-list {
  transition: height .2s;
  height: 90px;
}
.order-open .o-detail i:before {
  border-bottom-color: transparent;
  border-top-color: #2ea7e7;
  top: 5px;
}
.wchatPay {
  padding-bottom: 20px;
}
.wchatPay-box {
  background-color: #fff;
  padding: 12px 30px 0;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.wchatPay .wchat-hd {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Microsoft Yahei";
}
.wchat-bd {
  position: relative;
  padding-left: 230px;
  margin-bottom: 30px;
}
.wchat-bd .wchat-tips {
  position: absolute;
  top: -36px;
}
.wchat-box {
  float: left;
  width: 300px;
}
.wchat-box .w-box-hd {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  width: 298px;
  height: 298px;
}
.wchat-box .w-box-hd img {
  width: 298px;
  height: 298px;
}
.wchat-box .w-box-ft {
  color: #fff;
  height: 44px;
  padding: 8px 0 8px 125px;
  background: url("../images/icon-red.png") 50px 8px no-repeat #ff7674;
}
.wchat-sidebar {
  float: left;
  width: 379px;
  height: 421px;
  padding-left: 50px;
  margin-top: -20px;
  background: url("../images/phone-bg.png") 50px 0 no-repeat;
}
.other-pay {
  color: #2ea7e7;
  font-size: 14px;
}
.other-pay a {
  color: #2ea7e7;
}
/*微信支付 end*/
