#if(!$rspDto.editoParam ||  $rspDto.editoParam.size() == 0 )
<div class="" style="margin-bottom: 30px">
    <div class="row-fluid">
		<div class="well-tit">
            <span>产品详情</span>
        </div>
        <div class="span6" style="margin-left:0px;">
            <textarea id="gdsDesc" name="productDetails" class="bEditor" style="margin-left:0px;width:180%;height:250px;visibility:hidden;"></textarea>
        </div>
    </div>
</div>
<div class="" id="decription">
    <div class="row-fluid">
		<div class="well-tit">
            <span>包装清单</span>
        </div>
        <div class="span6" style="margin-left:0px;">
            <textarea id="gdsPartlist" name="packageList" class="bEditor" style="margin-left:0px;width:180%;height:250px;visibility:hidden;"></textarea>
        </div>
    </div>
</div>
#end
#foreach($params in $!{rspDto.editoParam})
	<div class="">
        <div class="row-fluid">
			<div class="well-tit">
				<span>$!{params.propName}</span>
			</div>
            <div class="span6" style="margin-left:0px;"> 
                <textarea ifHavaeto="$!{params.ifHaveto}" ifBasic="$!{params.ifBasic}" ifmulti="input" valueId="" propType="$!{params.propType}" propId="$!{params.id}" propName="$!{params.propName}" nameValue="editor" name="editor$velocityCount" class="bEditor #if($!{params.ifHaveto} =='1')required #end" style="margin-left:0px;width:180%;height:250px;visibility:hidden;"></textarea>
            </div>
        </div>
	</div>
#end