<div class="well-tit mt10">分类信息</div>
<div class="well well-searchForm">
    <div class="row-fluid" id="gds-category">
        <div class="span4 offset1">
            <div class="type-t">
                <span class="t">
                                                平台分类
                                            </span>
                <span id="selptPlat" class="pull-right btn btn-mini btn-primary">
                                                选择平台分类
                                            </span>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>分类名称</th>
                        <th>分类类型</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="catagoryList">
                    <tr>
                        <td id="$!{catgCode}">$!{catgName}</td>
                        <td id="1">主分类</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
        #if($!{GDS_SHOP_CATEGORY}=='1')
        <div class="span4 offset2">
            <div class="type-t">
                <span class="t">
                                                    店铺分类
                                            </span>
                <span id="seldpShop" class="pull-right btn btn-mini btn-primary">
                                                选择店铺分类
                                            </span>
            </div>
            <table class="table table-bordered  table-striped">
                <thead>
                    <tr>
                        <th>分类名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="shopCatagoryList">
                </tbody>
            </table>
        </div>
        #end
    </div>
</div>
<!--分类信息 end-->
