<div class="filter-head">
    <div class="column column-2 sortComprehensive">
        <span id="sortComprehensiveNew">综合排序</span>
    </div>
    <div class="column sortSales">
        <span id="sortSalesNew">销量</span>
    </div>
    <div class="column sortPrice">
        <span id="sortPriceNew">价格</span>
    </div>
    <div class="column" id="filterSel">
        <span>筛选</span>
        <i class="icon icon-filter"></i>
    </div>
    <div class="column-right" id="showType">
        <a href="#"><i class="iconfont icon-all"></i></a>
    </div>
</div>
<div id="newGdsResultList">
	#parse("/shop/list/shop-newgds-list.vm")
</div>
