#parse("/sys/sys_param.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{RESOURCE_PATH}/js-old/frameajax/ajaxfileupload.js"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/seller/staff/payway/payway-add.js?version=$!{JS_VERSION}" ></script>
<style>
	.form-horizontal .control-label {
        width: 120px;/* 默认为100px */
    }
	/* add by huangxm9 用于图片上传按钮====start*/
.file-wrap {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file-wrap input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
.error{
color:red;
    }
</style>
<div class="seller-well">
                     <div class="alert" style="margin:0 45px 15px">1、一个支付通道只能配置一条记录</div>
                    <form class="form-horizontal required-validate" id="addForm">
						 <div class="control-group">
                            <label class="control-label">支付通道：</label>
                            <div class="controls">
                               <select name="payWay" id="payWay" class="input-large required">
											<option value="">-选择-</option>
											#foreach($attr in $paywaylist)
											<option value="$!{attr.id}">$!{attr.payWayName}</option>	
												#end
                                        </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">店铺商户号：</label>
                            <div class="controls">
                                <input type="text" id="mercCode" name="mercCode" maxlength="16" class="input-large required">
                            </div>
                        </div>
                    
                        <div class="control-group">
                            <label class="control-label">收款人账号：</label>
                            <div class="controls">
                                <input type="text" name="payeeAccount" id="payeeAccount" maxlength="32" class="input-large required numberLetterOnly">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">收款人名称：</label>
                            <div class="controls">
                                <input type="text" name="payeeName" id="payeeName" maxlength="32" class="input-large">
                            </div>
                        </div>
                         <div class="control-group">
                            <label class="control-label">商户证书密码：</label>
                            <div class="controls">
                                <input type="text" name="cerPassword" id="cerPassword" maxlength="64" class="input-large">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">商户证书文件：</label>
                            <div class="controls">
								<div id="cNamec">
    								<input type="text" id="cName" name="cName" class="input-large" placeholder="请选择附件" value="" readonly="readonly">
    								<a href="javascript:;" class="btn file-wrap">上传附件
    								<input type="file" id="uploadFileObj" name="uploadFileObj"/>
                                    </a>
                                    <div class="btn file-wrap" id="cleanCname">清空</div>
								</div>
								<input type="checkbox" id="changeInputCer" class="input-large" value="" /> <span>商户证书切换为输入模式</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">商户秘钥文件：</label>
                            <div class="controls">
								<div id="kNamec">
								<input type="text" id="kName" name="kName" class="input-large" placeholder="请选择附件" value="" readonly="readonly"/>
								<a href="javascript:;" class="btn file-wrap">上传附件
								
								<input type="file" id="uploadFileObj2" name="uploadFileObj"/>
                                </a>
                                <div class="btn file-wrap" id="cleanKname">清空</div>
                                </div>
							    <input type="checkbox" id="changeInput" class="input-large" value="" /> <span>商户秘钥切换为输入模式</span>
									
                            </div>
                        </div>
                       <input type="hidden" name="keyName" id="keyName" class="input-large">
                       <input type="hidden" name="cerName" id="cerName" class="input-large">
                        <input type="hidden" id="shopId" name="shopId" value="$!{shopId}"/>
                        <div class="btn-wrap">
                            <span class="sbtn sbtn-blue" id="add">保存</span>
                        </div>
                    </form>
                </div>