#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
#parse("sys/sys_param.vm")

<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/floor/tab/tab-edit.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>

<script type="text/javascript">
 function replaceSpace(obj){
 obj.value = obj.value.replace(/s/gi,'')
}
</script>

<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />
<input type="hidden" id="floorSearchParams" value="$!{floorSearchParams}" />

<div class="alert alert-error hide formValidateMessages" >
	##showSpringAllError("vo")
</div>

<div class="formBox row-fluid">
	<form id="detailInfoForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="$!{CONTEXT_PATH}/cmsadvertise/saveform">
		<div class="span8">
			<input type="hidden" id="id" name="id" value="$!{respDTO.id}" />
			<input type="hidden" id="placeId" name="placeId" value="$!{respDTO.placeId}" />
			<input type="hidden" id="floorId" name="floorId" value="$!{respDTO.floorId}" />
			<input type="hidden" id="dataSource" name="dataSource" value="$!{dataSource}" />
    		<div class="row-fluid formSep">
    			<div class="control-group">
    				<label class="control-label">所属楼层：</label>
    				<div class="controls">
						<input type="text" class="input-large" id="floorName" name="floorName" readonly value="#escapeHtml($!{respDTO.floorName})" />
    					<span class="help-inline">商城页面楼层！</span>
    				</div>
    			</div>
    		</div>
    		
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">页签名称：</label>
    				<div class="controls">
    					<input type="text" class="input-large required htmlcheck" maxlength="20" id="tabName" name="tabName"  value="#escapeHtml($!{respDTO.tabName})" />
						<span class="help-inline">页签名称最大长度不能超过20个字符！</span>
					</div>
    			</div>
    		</div>
			
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label ">是否链接：</label>
    				<div class="controls">
    					<select id="isLink" name="isLink" class="input-large required">
    						#listParam('PUBLIC_PARAM_ISNOT',"$!{respDTO.isLink}")
    					</select>
						<span class="help-inline">请选择是否配置链接！</span>
    				</div>
    			</div>
    		</div>
			
    		<div id="linkUrl_div"  class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">链接地址：</label>
    				<div class="controls">
    					<input type="text" class="input-large url htmlcheck required" maxlength="256" id="linkUrl"  name="linkUrl" placeholder="请选择链接地址" value="#escapeHtml($!{respDTO.linkUrl})" />
						<span class="help-inline">链接地址最大长度不能超过256个字符！</span>
					</div>
    			</div>
    		</div>
			
			<div class="formSep" id="catgCode_div">
                <label for="" class="control-label">关联商品分类：</label>
                <div class="controls">
    				<input type="hidden" calss="input-large" name="catgCode" id="catg-code" readonly value="$!{respDTO.catgCode}" />
    				<input type="text" class="input-large required" name="catgCodeZH" id="catg-code-name" readonly value="$!{respDTO.catgCodeZH}" />
    				<button type="button" class="btn" id="select_people_health"><i class="icon-magic"></i>#siteName('1')</button>
    				<button type="button" class="btn" id="select_Integral_mall"><i class="icon-magic"></i>#siteName('2')</button>
    				<button type="button" class="btn" id="clean_catgCode"><i class="icon-remove-sign icon-white"></i>清空</button>
    			</div>
            </div>
			
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">排序：</label>
    				<div class="controls">
    					<input type="text" class="input-large checkInteger" min="1" max="100"  id="sortNo" name="sortNo" placeholder="如果不填，则默认为1。" onBlur="replaceSpace(this)" value="$!{respDTO.sortNo}" />
    					<span class="help-inline">请填写1-100的整数，值越小，排序越靠前！</span>
    				</div>
    			</div>
    		</div>
			
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">备注：</label>
    				<div class="controls">
    					<textarea rows="4" cols="100" onpropertychange="checkLen(this,'count','250')" oninput="checkLen(this,'count','250')"  class="input-block-level htmlcheck" id="remark" name="remark"  placeholder="请填写备注">#escapeHtml($!{respDTO.remark})</textarea>
    					<span class="help-inline">您还可以输入<span id="count">250</span>字！</span>
    				</div>
    			</div>
    		</div>
			<div class="text-center">
				<button type="button" class="btn btn-info" id="btnFormPubSave"><i class="icon-ok-sign icon-white"></i>发布</button>
				<button type="button" class="btn btn-info" id="btnFormSave"><i class="icon-ok-sign icon-white"></i>保存</button>
				<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i>返回</button>
    		</div>
        </div>
		<div class="clear"></div>
	</form>
</div>
	
