#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
#parse("sys/sys_param.vm")

<link href="${CONTEXT_PATH}/css/cms/advertise-img.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="$!{RESOURCE_PATH}/js-old/frameajax/ajaxfileupload.js"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/seller/selleradvertise/seller-manage-advertise-edit.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>

<script type="text/javascript">
function replaceSpace(obj){
 obj.value = obj.value.replace(/s/gi,'')
}
</script>
<style>
    .form-horizontal .control-label {
        width: 120px;/* 默认为100px */
    }
</style> 

<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />

<div class="alert alert-error hide formValidateMessages" >
	##showSpringAllError("vo")
</div>

<div class="formBox row-fluid">
	<form id="detailInfoForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="$!{CONTEXT_PATH}/advertise/save">
		<div class="span7">
			<input type="hidden" id="subSystem" name="subSystem" class="input-medium" value="2000" >
			<input type="hidden" id="id" name="id" value="$!{respVO.id}" />
			
    		<div class="row-fluid formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">广告语：</label>
    				<div class="controls">
    					<input type="text" class="input-large required htmlcheck" maxlength="64" id="advertiseTitle" name="advertiseTitle" placeholder="请填写广告语" value="#escapeHtml($!{respVO.advertiseTitle})" />
    					<span class="help-inline">广告语最大长度不能超过64个字符！</span>
    				</div>
    			</div>
    		</div>
			
			#parse("/cms/common/linkage-edit.vm")
			
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">店铺：</label>
    				<div class="controls">
    					<select id="shopId" name="shopId" disabled>
							<option value="" >--请选择--</option>
							#if($!{respVO.shopId})
								#shopStatuslist($!{respVO.shopId},'1')
							#else
								#shopStatuslist($!{shopId},'1')
							#end
							
							
    					</select>
    					<span class="help-inline">如果平台为店铺发布广告，请您选择店铺！</span>
    				</div>
    			</div>
    		</div>
			
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">上传图片：</label>
    				<div class="controls">
  					    <input type="text" id="vfsName" name="vfsName" class="input-large required" placeholder="请选择图片" value="#escapeHtml($!{respVO.vfsName})" readonly="readonly">
   						<a href="javascript:void(0);" class="btn file-wrap">上传图片
							<input type="file" id="uploadFileObj" name="uploadFileObj">
						</a>
						<input type="hidden" id="vfsId" name="vfsId" value="$!{respVO.vfsId}"/>
    				</div>
    			</div>
    		</div>
			<div class="formSep" id="uploadWarn_div">
    			<div class="control-group">
    				<div class="controls">
                        <span id="uploadWarn" class="help-inline" style="color:#FF0000" >
                        	#if($!{respVO.id})##非空
								 温馨提醒：请上传小于$!{respCmsPlace.placeSize}k的图片（jpg,png,jpeg,gif,bmp），规格为${respCmsPlace.placeWidth}*${respCmsPlace.placeHeight}px！
							#else##为空
								 温馨提醒：请上传小于100k的图片（jpg,png,jpeg,gif,bmp），规格为600*300px！
							#end
                        </span>
    				</div>
    			</div>
    		</div>
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">链接类型：</label>
    				<div class="controls">
						<select id="linkType" name="linkType" class="required">
    						#listParam('CMS_ADVERTISE_LINK_TYPE',"$!{respVO.linkType}")
    					</select>
						<span class="help-inline">请选择链接类型！</span>
    				</div>
    			</div>
    		</div>
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">链接内容：</label>
    				<div class="controls">
    					<input type="text" id="linkName" name="linkName" class="input-large required" placeholder="请选择链接内容" value="#escapeHtml($!{respVO.linkName})" readonly="readonly"/>
						<input type="hidden" id="linkUrl" name="linkUrl" value="#escapeHtml($!{respVO.linkUrl})"/>
						<button type="button" class="btn" id="select_link_detail"><i class="icon-magic"></i>选择</button>
					</div>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">发布开始时间：</label>
    				<div class="controls">
						<input type="text" id="pubTime" name="pubTime"  class="input-large Wdate date required" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-%d',maxDate:'#F{$dp.$D(\'lostTime\')}'})" value="$!date.format('yyyy-MM-dd',$!{respVO.pubTime})"/>
						<span class="help-inline">格式：yyyy-MM-dd</span>
					</div>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">发布结束时间：</label>
    				<div class="controls">
						<input type="text" id="lostTime" name="lostTime" class="input-large Wdate date required" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'pubTime\')}'})" value="$!date.format('yyyy-MM-dd',$!{respVO.lostTime})"/>
						<span class="help-inline">格式：yyyy-MM-dd</span>
					</div>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">排序：</label>
    				<div class="controls">
    					<input type="text" class="input-large checkInteger" id="sortNo" name="sortNo" min="1" max="100" placeholder="如果不填，则默认为1。" onBlur="replaceSpace(this)" value="$!{respVO.sortNo}" />
    					<span class="help-inline">请填写1-100的整数，值越小，排序越靠前！</span>
    				</div>
    			</div>
    		</div>
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="remark">备注：</label>
    				<div class="controls">
    					<textarea rows="4" cols="100" style="margin-top: -25px; margin-left: 5px;" onkeyup="checkLen(this,'count','250')"  class="input-block-level htmlcheck" id="remark" name="remark"  placeholder="请填写备注">#escapeHtml($!{respVO.remark})</textarea>
    					<span class="help-inline">您还可以输入<span id="count">250</span>字！</span>
    				</div>
    			</div>
    		</div>
			<div class="text-center">
				<button type="button" class="btn btn-info" id="btnFormPubSave"><i class="icon-ok-sign icon-white"></i>发布</button>
				<button type="button" class="btn btn-info" id="btnFormSave"><i class="icon-ok-sign icon-white"></i>保存</button>
				<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i>返回</button>
    		</div>
        </div>
		<div class="span4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">图片预览</h3>
				</div>
				<div class="panel-body">
					<img id="imagePreview" src="#genImageUrl($!{respVO.vfsId},'290x220!')" width="290" height="220" class="img-polaroid">
					<input type="hidden" id="emptyImageUrl" value="#genImageUrl('','290x220!')" />
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</form>
</div>
	
