#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
#parse("sys/sys_param.vm")

<script type="text/javascript" src="$!{RESOURCE_PATH}/js-old/frameajax/ajaxfileupload.js"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/placechannel/placechannel-edit.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>

<script type="text/javascript">
 function replaceSpace(obj){
 obj.value = obj.value.replace(/s/gi,'')
}
</script>

<style>
    .form-horizontal .control-label {
        width: 120px;/* 默认为100px */
    }
</style>

<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />

<div class="alert alert-error hide formValidateMessages" >
	##showSpringAllError("vo")
</div>

<div class="formBox row-fluid">
	<form id="detailInfoForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="$!{CONTEXT_PATH}/placechannel/save">
		<div class="span8">
			<input type="hidden" id="subSystem" name="subSystem" class="input-medium" value="2000" >
			<input type="hidden" id="id" name="id" value="$!{respVO.id}" />
			
			##站点-模板-内容位置 三级联动
    		#parse("/cms/common/linkage-edit.vm")
			
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">关联栏目：</label>
    				<div class="controls">
						<input type="text" readonly="readonly" class="input required" id="channelName" name="channelName" readonly="readonly" placeholder="请选择关联栏目" value="#escapeHtml($!{respVO.channelName})"></textarea>
						<input type="hidden" id="channelId" name="channelId" value="$!{respVO.channelId}"/>
						<button type="button" class="btn" id="select_link_detail"><i class="icon-magic"></i>选择</button>
    				</div>
    			</div>
    		</div>
			
			<div class="text-center">
				<button type="button" class="btn btn-info" id="btnFormPubSave"><i class="icon-ok-sign icon-white"></i>发布</button>
				<button type="button" class="btn btn-info" id="btnFormSave"><i class="icon-ok-sign icon-white"></i>保存</button>
				<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i>返回</button>
    		</div>
        </div>
	</form>
</div>
	
