
<div class="fd-block form-horizontal" id="gds-priceSetting">
    <div class="well-tit mt10">
        <span >价格方式设置</span>
		 <div class="switch-tt pull-right form-inline clearfix switch-button" id="price-senior-button" style="display:#if($!{multi-switch}=='1')none#else block#end;">
            <div class="pull-right" #if($!{rspDto.specs.size()}>0)#else style="display:none"#end>
                <label for="">多规格：</label>
                <span data-toggle="buttons-radio" class="btn-group clearfix sepH_a">
                    <button class="btn #if($!{multi-switch}=='1')active#end" value="multi-open">开</button>
                    <button class="btn #if($!{multi-switch}=='0')active#end" value="multi-close">关</button>
                </span>
            </div>
        </div>
    </div>
	<div class="well well-searchForm">
    	<div class="gg-sel control-group" id="price-senior-button">
            <div class="form-inline">
    			<div class="row-fluid">
    				<div class="control-group" id="pointNeed" >
                        <label class="control-label">库存：</label>
                        <div class="controls" id="open-ladder-stock">
    						<input type="text" class="required digits" name="productStock" id="productStock" maxlength="9"/>
                        </div>
    				</div>
    			</div>
    			<div class="row-fluid">
        			<div class="control-group">
                        <div class="controls">
                            <table class="table table-bordered pmgr-pritb" >
                                <thead>
                                <tr>
        							<th>价格方式</th>
                                    <th>商品积分</th>
                                    <th>商品价格</th>
        							<th>是否默认</th>
        							<th class="lh">操作</th>
                                </tr>
                                </thead>
                                <tbody id="lader-price-table">
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <label for="" class="add-lader-price">
                                            <i class="icon-plus-sign" ></i>新增兑换方式
                                    ##<span class="text-tip">
                                    ##(可设置不超过3个兑换方式)
                                   ##</span>
                                        </label>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
        			</div>
    			</div>
    		</div>
		</div>
	</div>
</div>
<!--价格设置 end-->