<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.im.dao.mapper.common.ImHotlineInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.im.dao.model.ImHotlineInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="MODULE_TYPE" property="moduleType" jdbcType="VARCHAR" />
    <result column="HOTLINE_PERSON" property="hotlinePerson" jdbcType="VARCHAR" />
    <result column="HOTLINE_PHONE" property="hotlinePhone" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="RECEPTION_COUNT" property="receptionCount" jdbcType="INTEGER" />
    <result column="ORDER_EDIT" property="orderEdit" jdbcType="VARCHAR" />
    <result column="PLAT_SOURCE" property="platSource" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SHOP_ID, MODULE_TYPE, HOTLINE_PERSON, HOTLINE_PHONE, STATUS, CREATE_TIME, CREATE_STAFF, 
    UPDATE_TIME, UPDATE_STAFF, RECEPTION_COUNT, ORDER_EDIT,PLAT_SOURCE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.im.dao.model.ImHotlineInfoCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_im_hotline_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_im_hotline_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_im_hotline_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.im.dao.model.ImHotlineInfoCriteria" >
    delete from t_im_hotline_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.im.dao.model.ImHotlineInfo" >
    insert into t_im_hotline_info (ID, SHOP_ID, MODULE_TYPE, 
      HOTLINE_PERSON, HOTLINE_PHONE, STATUS, 
      CREATE_TIME, CREATE_STAFF, UPDATE_TIME, 
      UPDATE_STAFF, RECEPTION_COUNT, ORDER_EDIT,PLAT_SOURCE
      )
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{moduleType,jdbcType=VARCHAR}, 
      #{hotlinePerson,jdbcType=VARCHAR}, #{hotlinePhone,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateStaff,jdbcType=INTEGER}, #{receptionCount,jdbcType=INTEGER}, #{orderEdit,jdbcType=VARCHAR}
      , #{platSource,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.im.dao.model.ImHotlineInfo" >
    insert into t_im_hotline_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="moduleType != null" >
        MODULE_TYPE,
      </if>
      <if test="hotlinePerson != null" >
        HOTLINE_PERSON,
      </if>
      <if test="hotlinePhone != null" >
        HOTLINE_PHONE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="receptionCount != null" >
        RECEPTION_COUNT,
      </if>
      <if test="orderEdit != null" >
        ORDER_EDIT,
      </if>
      <if test="platSource != null" >
        PLAT_SOURCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="moduleType != null" >
        #{moduleType,jdbcType=VARCHAR},
      </if>
      <if test="hotlinePerson != null" >
        #{hotlinePerson,jdbcType=VARCHAR},
      </if>
      <if test="hotlinePhone != null" >
        #{hotlinePhone,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="receptionCount != null" >
        #{receptionCount,jdbcType=INTEGER},
      </if>
      <if test="orderEdit != null" >
        #{orderEdit,jdbcType=VARCHAR},
      </if>
      <if test="platSource != null" >
        #{platSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.im.dao.model.ImHotlineInfoCriteria" resultType="java.lang.Long" >
    select count(*) from t_im_hotline_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_im_hotline_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.moduleType != null" >
        MODULE_TYPE = #{record.moduleType,jdbcType=VARCHAR},
      </if>
      <if test="record.hotlinePerson != null" >
        HOTLINE_PERSON = #{record.hotlinePerson,jdbcType=VARCHAR},
      </if>
      <if test="record.hotlinePhone != null" >
        HOTLINE_PHONE = #{record.hotlinePhone,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.receptionCount != null" >
        RECEPTION_COUNT = #{record.receptionCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderEdit != null" >
        ORDER_EDIT = #{record.orderEdit,jdbcType=VARCHAR},
      </if>
      <if test="record.platSource != null" >
        PLAT_SOURCE = #{record.platSource,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_im_hotline_info
    set ID = #{record.id,jdbcType=INTEGER},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      MODULE_TYPE = #{record.moduleType,jdbcType=VARCHAR},
      HOTLINE_PERSON = #{record.hotlinePerson,jdbcType=VARCHAR},
      HOTLINE_PHONE = #{record.hotlinePhone,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      RECEPTION_COUNT = #{record.receptionCount,jdbcType=INTEGER},
      ORDER_EDIT = #{record.orderEdit,jdbcType=VARCHAR},
      PLAT_SOURCE = #{record.platSource,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.im.dao.model.ImHotlineInfo" >
    update t_im_hotline_info
    <set >
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="moduleType != null" >
        MODULE_TYPE = #{moduleType,jdbcType=VARCHAR},
      </if>
      <if test="hotlinePerson != null" >
        HOTLINE_PERSON = #{hotlinePerson,jdbcType=VARCHAR},
      </if>
      <if test="hotlinePhone != null" >
        HOTLINE_PHONE = #{hotlinePhone,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="receptionCount != null" >
        RECEPTION_COUNT = #{receptionCount,jdbcType=INTEGER},
      </if>
      <if test="orderEdit != null" >
        ORDER_EDIT = #{orderEdit,jdbcType=VARCHAR},
      </if>
      <if test="platSource != null" >
        ORDER_EDIT = #{platSource,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.im.dao.model.ImHotlineInfo" >
    update t_im_hotline_info
    set SHOP_ID = #{shopId,jdbcType=INTEGER},
      MODULE_TYPE = #{moduleType,jdbcType=VARCHAR},
      HOTLINE_PERSON = #{hotlinePerson,jdbcType=VARCHAR},
      HOTLINE_PHONE = #{hotlinePhone,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      RECEPTION_COUNT = #{receptionCount,jdbcType=INTEGER},
      ORDER_EDIT = #{orderEdit,jdbcType=VARCHAR},
      PLAT_SOURCE = #{platSource,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>