<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.cms.dao.mapper.common.CmsAdvertiseMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.cms.dao.model.CmsAdvertise" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ADVERTISE_TITLE" property="advertiseTitle" jdbcType="VARCHAR" />
    <result column="LINK_TYPE" property="linkType" jdbcType="VARCHAR" />
    <result column="LINK_NAME" property="linkName" jdbcType="VARCHAR" />
    <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="VFS_NAME" property="vfsName" jdbcType="VARCHAR" />
    <result column="VFS_ID" property="vfsId" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="SUB_SYSTEM" property="subSystem" jdbcType="VARCHAR" />
    <result column="PUB_TIME" property="pubTime" jdbcType="TIMESTAMP" />
    <result column="LOST_TIME" property="lostTime" jdbcType="TIMESTAMP" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="SITE_ID" property="siteId" jdbcType="INTEGER" />
    <result column="TEMPLATE_ID" property="templateId" jdbcType="INTEGER" />
    <result column="PLACE_ID" property="placeId" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="PLATFORM_TYPE" property="platformType" jdbcType="VARCHAR" />
    <result column="NAIL_VFS_ID" property="nailVfsId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ADVERTISE_TITLE, LINK_TYPE, LINK_NAME, LINK_URL, VFS_NAME, VFS_ID, SORT_NO, STATUS, 
    SUB_SYSTEM, PUB_TIME, LOST_TIME, SHOP_ID, SITE_ID, TEMPLATE_ID, PLACE_ID, REMARK, 
    CREATE_STAFF, CREATE_TIME, UPDATE_STAFF, UPDATE_TIME, PLATFORM_TYPE, NAIL_VFS_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.cms.dao.model.CmsAdvertiseCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_advertise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_advertise
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cms_advertise
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsAdvertiseCriteria" >
    delete from t_cms_advertise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.cms.dao.model.CmsAdvertise" >
    insert into t_cms_advertise (ID, ADVERTISE_TITLE, LINK_TYPE, 
      LINK_NAME, LINK_URL, VFS_NAME, 
      VFS_ID, SORT_NO, STATUS, 
      SUB_SYSTEM, PUB_TIME, LOST_TIME, 
      SHOP_ID, SITE_ID, TEMPLATE_ID, 
      PLACE_ID, REMARK, CREATE_STAFF, 
      CREATE_TIME, UPDATE_STAFF, UPDATE_TIME, 
      PLATFORM_TYPE, NAIL_VFS_ID)
    values (#{id,jdbcType=INTEGER}, #{advertiseTitle,jdbcType=VARCHAR}, #{linkType,jdbcType=VARCHAR}, 
      #{linkName,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{vfsName,jdbcType=VARCHAR}, 
      #{vfsId,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{subSystem,jdbcType=VARCHAR}, #{pubTime,jdbcType=TIMESTAMP}, #{lostTime,jdbcType=TIMESTAMP}, 
      #{shopId,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{templateId,jdbcType=INTEGER}, 
      #{placeId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createStaff,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{platformType,jdbcType=VARCHAR}, #{nailVfsId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsAdvertise" >
    insert into t_cms_advertise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="advertiseTitle != null" >
        ADVERTISE_TITLE,
      </if>
      <if test="linkType != null" >
        LINK_TYPE,
      </if>
      <if test="linkName != null" >
        LINK_NAME,
      </if>
      <if test="linkUrl != null" >
        LINK_URL,
      </if>
      <if test="vfsName != null" >
        VFS_NAME,
      </if>
      <if test="vfsId != null" >
        VFS_ID,
      </if>
      <if test="sortNo != null" >
        SORT_NO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="subSystem != null" >
        SUB_SYSTEM,
      </if>
      <if test="pubTime != null" >
        PUB_TIME,
      </if>
      <if test="lostTime != null" >
        LOST_TIME,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="templateId != null" >
        TEMPLATE_ID,
      </if>
      <if test="placeId != null" >
        PLACE_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="platformType != null" >
        PLATFORM_TYPE,
      </if>
      <if test="nailVfsId != null" >
        NAIL_VFS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="advertiseTitle != null" >
        #{advertiseTitle,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="vfsName != null" >
        #{vfsName,jdbcType=VARCHAR},
      </if>
      <if test="vfsId != null" >
        #{vfsId,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="subSystem != null" >
        #{subSystem,jdbcType=VARCHAR},
      </if>
      <if test="pubTime != null" >
        #{pubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lostTime != null" >
        #{lostTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="placeId != null" >
        #{placeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformType != null" >
        #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="nailVfsId != null" >
        #{nailVfsId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsAdvertiseCriteria" resultType="java.lang.Long" >
    select count(*) from t_cms_advertise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_advertise
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.advertiseTitle != null" >
        ADVERTISE_TITLE = #{record.advertiseTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.linkType != null" >
        LINK_TYPE = #{record.linkType,jdbcType=VARCHAR},
      </if>
      <if test="record.linkName != null" >
        LINK_NAME = #{record.linkName,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUrl != null" >
        LINK_URL = #{record.linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.vfsName != null" >
        VFS_NAME = #{record.vfsName,jdbcType=VARCHAR},
      </if>
      <if test="record.vfsId != null" >
        VFS_ID = #{record.vfsId,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNo != null" >
        SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.subSystem != null" >
        SUB_SYSTEM = #{record.subSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.pubTime != null" >
        PUB_TIME = #{record.pubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lostTime != null" >
        LOST_TIME = #{record.lostTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.templateId != null" >
        TEMPLATE_ID = #{record.templateId,jdbcType=INTEGER},
      </if>
      <if test="record.placeId != null" >
        PLACE_ID = #{record.placeId,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.platformType != null" >
        PLATFORM_TYPE = #{record.platformType,jdbcType=VARCHAR},
      </if>
      <if test="record.nailVfsId != null" >
        NAIL_VFS_ID = #{record.nailVfsId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_advertise
    set ID = #{record.id,jdbcType=INTEGER},
      ADVERTISE_TITLE = #{record.advertiseTitle,jdbcType=VARCHAR},
      LINK_TYPE = #{record.linkType,jdbcType=VARCHAR},
      LINK_NAME = #{record.linkName,jdbcType=VARCHAR},
      LINK_URL = #{record.linkUrl,jdbcType=VARCHAR},
      VFS_NAME = #{record.vfsName,jdbcType=VARCHAR},
      VFS_ID = #{record.vfsId,jdbcType=VARCHAR},
      SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=VARCHAR},
      SUB_SYSTEM = #{record.subSystem,jdbcType=VARCHAR},
      PUB_TIME = #{record.pubTime,jdbcType=TIMESTAMP},
      LOST_TIME = #{record.lostTime,jdbcType=TIMESTAMP},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      SITE_ID = #{record.siteId,jdbcType=INTEGER},
      TEMPLATE_ID = #{record.templateId,jdbcType=INTEGER},
      PLACE_ID = #{record.placeId,jdbcType=INTEGER},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      PLATFORM_TYPE = #{record.platformType,jdbcType=VARCHAR},
      NAIL_VFS_ID = #{record.nailVfsId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsAdvertise" >
    update t_cms_advertise
    <set >
      <if test="advertiseTitle != null" >
        ADVERTISE_TITLE = #{advertiseTitle,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        LINK_TYPE = #{linkType,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null" >
        LINK_NAME = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="vfsName != null" >
        VFS_NAME = #{vfsName,jdbcType=VARCHAR},
      </if>
      <if test="vfsId != null" >
        VFS_ID = #{vfsId,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="subSystem != null" >
        SUB_SYSTEM = #{subSystem,jdbcType=VARCHAR},
      </if>
      <if test="pubTime != null" >
        PUB_TIME = #{pubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lostTime != null" >
        LOST_TIME = #{lostTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        SITE_ID = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        TEMPLATE_ID = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="placeId != null" >
        PLACE_ID = #{placeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformType != null" >
        PLATFORM_TYPE = #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="nailVfsId != null" >
        NAIL_VFS_ID = #{nailVfsId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.cms.dao.model.CmsAdvertise" >
    update t_cms_advertise
    set ADVERTISE_TITLE = #{advertiseTitle,jdbcType=VARCHAR},
      LINK_TYPE = #{linkType,jdbcType=VARCHAR},
      LINK_NAME = #{linkName,jdbcType=VARCHAR},
      LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      VFS_NAME = #{vfsName,jdbcType=VARCHAR},
      VFS_ID = #{vfsId,jdbcType=VARCHAR},
      SORT_NO = #{sortNo,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      SUB_SYSTEM = #{subSystem,jdbcType=VARCHAR},
      PUB_TIME = #{pubTime,jdbcType=TIMESTAMP},
      LOST_TIME = #{lostTime,jdbcType=TIMESTAMP},
      SHOP_ID = #{shopId,jdbcType=INTEGER},
      SITE_ID = #{siteId,jdbcType=INTEGER},
      TEMPLATE_ID = #{templateId,jdbcType=INTEGER},
      PLACE_ID = #{placeId,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PLATFORM_TYPE = #{platformType,jdbcType=VARCHAR},
      NAIL_VFS_ID = #{nailVfsId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
