<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.cms.dao.mapper.common.CmsComponentMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.cms.dao.model.CmsComponent" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="COMPONENT_CLASS" property="componentClass" jdbcType="VARCHAR" />
    <result column="COMPONENT_NAME" property="componentName" jdbcType="VARCHAR" />
    <result column="COMPONENT_METHOD" property="componentMethod" jdbcType="VARCHAR" />
    <result column="SHOW_PIC" property="showPic" jdbcType="VARCHAR" />
    <result column="COMPONENT_URL" property="componentUrl" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="COMPONENT_VM_URL" property="componentVmUrl" jdbcType="VARCHAR" />
    <result column="COMPONENT_EDIT_URL" property="componentEditUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, COMPONENT_CLASS, COMPONENT_NAME, COMPONENT_METHOD, SHOW_PIC, COMPONENT_URL, STATUS, 
    REMARK, CREATE_STAFF, CREATE_TIME, UPDATE_STAFF, UPDATE_TIME, COMPONENT_VM_URL, COMPONENT_EDIT_URL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.cms.dao.model.CmsComponentCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_component
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_component
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cms_component
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsComponentCriteria" >
    delete from t_cms_component
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.cms.dao.model.CmsComponent" >
    insert into t_cms_component (ID, COMPONENT_CLASS, COMPONENT_NAME, 
      COMPONENT_METHOD, SHOW_PIC, COMPONENT_URL, 
      STATUS, REMARK, CREATE_STAFF, 
      CREATE_TIME, UPDATE_STAFF, UPDATE_TIME, 
      COMPONENT_VM_URL, COMPONENT_EDIT_URL)
    values (#{id,jdbcType=INTEGER}, #{componentClass,jdbcType=VARCHAR}, #{componentName,jdbcType=VARCHAR}, 
      #{componentMethod,jdbcType=VARCHAR}, #{showPic,jdbcType=VARCHAR}, #{componentUrl,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createStaff,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{componentVmUrl,jdbcType=VARCHAR}, #{componentEditUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsComponent" >
    insert into t_cms_component
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="componentClass != null" >
        COMPONENT_CLASS,
      </if>
      <if test="componentName != null" >
        COMPONENT_NAME,
      </if>
      <if test="componentMethod != null" >
        COMPONENT_METHOD,
      </if>
      <if test="showPic != null" >
        SHOW_PIC,
      </if>
      <if test="componentUrl != null" >
        COMPONENT_URL,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="componentVmUrl != null" >
        COMPONENT_VM_URL,
      </if>
      <if test="componentEditUrl != null" >
        COMPONENT_EDIT_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="componentClass != null" >
        #{componentClass,jdbcType=VARCHAR},
      </if>
      <if test="componentName != null" >
        #{componentName,jdbcType=VARCHAR},
      </if>
      <if test="componentMethod != null" >
        #{componentMethod,jdbcType=VARCHAR},
      </if>
      <if test="showPic != null" >
        #{showPic,jdbcType=VARCHAR},
      </if>
      <if test="componentUrl != null" >
        #{componentUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="componentVmUrl != null" >
        #{componentVmUrl,jdbcType=VARCHAR},
      </if>
      <if test="componentEditUrl != null" >
        #{componentEditUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsComponentCriteria" resultType="java.lang.Long" >
    select count(*) from t_cms_component
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_component
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.componentClass != null" >
        COMPONENT_CLASS = #{record.componentClass,jdbcType=VARCHAR},
      </if>
      <if test="record.componentName != null" >
        COMPONENT_NAME = #{record.componentName,jdbcType=VARCHAR},
      </if>
      <if test="record.componentMethod != null" >
        COMPONENT_METHOD = #{record.componentMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.showPic != null" >
        SHOW_PIC = #{record.showPic,jdbcType=VARCHAR},
      </if>
      <if test="record.componentUrl != null" >
        COMPONENT_URL = #{record.componentUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.componentVmUrl != null" >
        COMPONENT_VM_URL = #{record.componentVmUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.componentEditUrl != null" >
        COMPONENT_EDIT_URL = #{record.componentEditUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_component
    set ID = #{record.id,jdbcType=INTEGER},
      COMPONENT_CLASS = #{record.componentClass,jdbcType=VARCHAR},
      COMPONENT_NAME = #{record.componentName,jdbcType=VARCHAR},
      COMPONENT_METHOD = #{record.componentMethod,jdbcType=VARCHAR},
      SHOW_PIC = #{record.showPic,jdbcType=VARCHAR},
      COMPONENT_URL = #{record.componentUrl,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      COMPONENT_VM_URL = #{record.componentVmUrl,jdbcType=VARCHAR},
      COMPONENT_EDIT_URL = #{record.componentEditUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsComponent" >
    update t_cms_component
    <set >
      <if test="componentClass != null" >
        COMPONENT_CLASS = #{componentClass,jdbcType=VARCHAR},
      </if>
      <if test="componentName != null" >
        COMPONENT_NAME = #{componentName,jdbcType=VARCHAR},
      </if>
      <if test="componentMethod != null" >
        COMPONENT_METHOD = #{componentMethod,jdbcType=VARCHAR},
      </if>
      <if test="showPic != null" >
        SHOW_PIC = #{showPic,jdbcType=VARCHAR},
      </if>
      <if test="componentUrl != null" >
        COMPONENT_URL = #{componentUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="componentVmUrl != null" >
        COMPONENT_VM_URL = #{componentVmUrl,jdbcType=VARCHAR},
      </if>
      <if test="componentEditUrl != null" >
        COMPONENT_EDIT_URL = #{componentEditUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.cms.dao.model.CmsComponent" >
    update t_cms_component
    set COMPONENT_CLASS = #{componentClass,jdbcType=VARCHAR},
      COMPONENT_NAME = #{componentName,jdbcType=VARCHAR},
      COMPONENT_METHOD = #{componentMethod,jdbcType=VARCHAR},
      SHOW_PIC = #{showPic,jdbcType=VARCHAR},
      COMPONENT_URL = #{componentUrl,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      COMPONENT_VM_URL = #{componentVmUrl,jdbcType=VARCHAR},
      COMPONENT_EDIT_URL = #{componentEditUrl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
