<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.cms.dao.mapper.common.CmsSiteInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.cms.dao.model.CmsSiteInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SITE_INFO_NAME" property="siteInfoName" jdbcType="VARCHAR" />
    <result column="SITE_ID" property="siteId" jdbcType="INTEGER" />
    <result column="SITE_INFO_TYPE" property="siteInfoType" jdbcType="VARCHAR" />
    <result column="SITE_INFO_URL" property="siteInfoUrl" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="VARCHAR" />
    <result column="STATIC_ID" property="staticId" jdbcType="VARCHAR" />
    <result column="PARENT" property="parent" jdbcType="INTEGER" />
    <result column="CHANNEL_ID" property="channelId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SITE_INFO_NAME, SITE_ID, SITE_INFO_TYPE, SITE_INFO_URL, SORT_NO, STATUS, CREATE_TIME, 
    CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF, STATIC_ID, PARENT, CHANNEL_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.cms.dao.model.CmsSiteInfoCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_site_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_site_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cms_site_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsSiteInfoCriteria" >
    delete from t_cms_site_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.cms.dao.model.CmsSiteInfo" >
    insert into t_cms_site_info (ID, SITE_INFO_NAME, SITE_ID, 
      SITE_INFO_TYPE, SITE_INFO_URL, SORT_NO, 
      STATUS, CREATE_TIME, CREATE_STAFF, 
      UPDATE_TIME, UPDATE_STAFF, STATIC_ID, 
      PARENT, CHANNEL_ID)
    values (#{id,jdbcType=INTEGER}, #{siteInfoName,jdbcType=VARCHAR}, #{siteId,jdbcType=INTEGER}, 
      #{siteInfoType,jdbcType=VARCHAR}, #{siteInfoUrl,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=VARCHAR}, #{staticId,jdbcType=VARCHAR}, 
      #{parent,jdbcType=INTEGER}, #{channelId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsSiteInfo" >
    insert into t_cms_site_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="siteInfoName != null" >
        SITE_INFO_NAME,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="siteInfoType != null" >
        SITE_INFO_TYPE,
      </if>
      <if test="siteInfoUrl != null" >
        SITE_INFO_URL,
      </if>
      <if test="sortNo != null" >
        SORT_NO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="staticId != null" >
        STATIC_ID,
      </if>
      <if test="parent != null" >
        PARENT,
      </if>
      <if test="channelId != null" >
        CHANNEL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteInfoName != null" >
        #{siteInfoName,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="siteInfoType != null" >
        #{siteInfoType,jdbcType=VARCHAR},
      </if>
      <if test="siteInfoUrl != null" >
        #{siteInfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=VARCHAR},
      </if>
      <if test="staticId != null" >
        #{staticId,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsSiteInfoCriteria" resultType="java.lang.Long" >
    select count(*) from t_cms_site_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_site_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.siteInfoName != null" >
        SITE_INFO_NAME = #{record.siteInfoName,jdbcType=VARCHAR},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.siteInfoType != null" >
        SITE_INFO_TYPE = #{record.siteInfoType,jdbcType=VARCHAR},
      </if>
      <if test="record.siteInfoUrl != null" >
        SITE_INFO_URL = #{record.siteInfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNo != null" >
        SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=VARCHAR},
      </if>
      <if test="record.staticId != null" >
        STATIC_ID = #{record.staticId,jdbcType=VARCHAR},
      </if>
      <if test="record.parent != null" >
        PARENT = #{record.parent,jdbcType=INTEGER},
      </if>
      <if test="record.channelId != null" >
        CHANNEL_ID = #{record.channelId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_site_info
    set ID = #{record.id,jdbcType=INTEGER},
      SITE_INFO_NAME = #{record.siteInfoName,jdbcType=VARCHAR},
      SITE_ID = #{record.siteId,jdbcType=INTEGER},
      SITE_INFO_TYPE = #{record.siteInfoType,jdbcType=VARCHAR},
      SITE_INFO_URL = #{record.siteInfoUrl,jdbcType=VARCHAR},
      SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=VARCHAR},
      STATIC_ID = #{record.staticId,jdbcType=VARCHAR},
      PARENT = #{record.parent,jdbcType=INTEGER},
      CHANNEL_ID = #{record.channelId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsSiteInfo" >
    update t_cms_site_info
    <set >
      <if test="siteInfoName != null" >
        SITE_INFO_NAME = #{siteInfoName,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        SITE_ID = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="siteInfoType != null" >
        SITE_INFO_TYPE = #{siteInfoType,jdbcType=VARCHAR},
      </if>
      <if test="siteInfoUrl != null" >
        SITE_INFO_URL = #{siteInfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=VARCHAR},
      </if>
      <if test="staticId != null" >
        STATIC_ID = #{staticId,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        PARENT = #{parent,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        CHANNEL_ID = #{channelId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.cms.dao.model.CmsSiteInfo" >
    update t_cms_site_info
    set SITE_INFO_NAME = #{siteInfoName,jdbcType=VARCHAR},
      SITE_ID = #{siteId,jdbcType=INTEGER},
      SITE_INFO_TYPE = #{siteInfoType,jdbcType=VARCHAR},
      SITE_INFO_URL = #{siteInfoUrl,jdbcType=VARCHAR},
      SORT_NO = #{sortNo,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=VARCHAR},
      STATIC_ID = #{staticId,jdbcType=VARCHAR},
      PARENT = #{parent,jdbcType=INTEGER},
      CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
