#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/placecategory/placecategory-view.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>

<style>
    .form-horizontal .control-label {
        width: 140px;/* 默认为100px */
    }
</style>

<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />

<div class="formBox row-fluid">
<form class="form-horizontal">
		<div class="span8">
			
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">所属站点：</label>
    				<label class="controls text_line" >#if(${respVO.siteName})#escapeHtml(${respVO.siteName}) #else 无 #end</label>
    			</div>
    		</div>
    		
    		<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">所属模板：</label>
    				<label class="controls text_line" >#if(${respVO.templateName})#escapeHtml(${respVO.templateName}) #else 无 #end</label>
    			</div>
    		</div>
			
			
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">内容位置：</label>
    				<label class="controls text_line" >#if(${respVO.placeName})#escapeHtml(${respVO.placeName}) #else 无#end</label>
    			</div>
    		</div>
    		
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">CMS商品分类：</label>
    				<label class="controls text_line" >#if(${respVO.catgName})#escapeHtml(${respVO.catgName}) #else 无#end</label>
    			</div>
    		</div>
			
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">状态：</label>
    				<label class="controls text_line" >#if(${respVO.statusZH})${respVO.statusZH} #else 无 #end</label>
    			</div>
    		</div>
			
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">创建时间：</label>
    				<label class="controls text_line" >#if(${respVO.createTime})$!date.format('yyyy-MM-dd',${respVO.createTime}) #else 无 #end</label>
    			</div>
    		</div>
    		
    		<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">更新时间：</label>
    				<label class="controls text_line">#if(${respVO.updateTime})$!date.format('yyyy-MM-dd',${respVO.updateTime}) #else 无 #end</label>
    			</div>
    		</div>
    	
			<div class="text-center">
				<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i>返回</button>
    		</div>
        </div>
		
		<div class="clear"></div>
	</form>
</div>
	
