#parse("/sys/sys_param.vm")
#parse("/sys/sys_head.vm")
#parse("/module/mod-form.vm")
#parse("/module/mod-editor.vm")
#parse("/module/mod-tree.vm")

	<link href="$!{RESOURCE_PATH}/bootstrap/core/2.3.2/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="$!{CSS_PATH}/seller-reset.css" type="text/css" rel="stylesheet">
    <link href="$!{CSS_PATH}/seller.css" type="text/css" rel="stylesheet">
	 <script type="text/javascript" src="$!{RESOURCE_PATH}/js-old/frameajax/ajaxfileupload.js"></script>
	<script type="text/javascript"
	src="$!{BUSIJS_PATH}/seller/goods/mediacatg/plugins/gds.mcdropdown.js?version=$!{JS_VERSION}"></script>
	 <script type="text/javascript" src="$!{BUSIJS_PATH}/seller/goods/gdsMedia/media-add.js?version=$!{JS_VERSION}" ></script>
	<style type="text/css">
<!--
	 .a-upload {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #888;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 4px 10px;
    position: relative;
}
.a-upload input {
    cursor: pointer;
    font-size: 100px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.a-upload:hover {
    background: #eee none repeat scroll 0 0;
    border-color: #ccc;
    color: #444;
    text-decoration: none;
}
	-->
	 	</style>

<div class="span9" style="background:#FFF;margin-left:0px;margin-bottom:0px;height:320px" >
    
        <form action="" class="form-horizontal" id="detailInfoForm">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" style="width:100px">店铺名称：</label>
                        <div class="controls" style="margin-left:100px">
                              <select name="shopId" id="shopId" style="width:170px">
                           #sellerList($!shopId)
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label" style="width:100px">图片分类：</label>
    					<div class="controls" style="margin-left:100px;">
    						<input type="text" class="required" placeholder="点击选择分类"
    							name="mediaCatgSelector" id="mediaCatgSelector" style="height:30px;width:170px" /> <input
    							type="hidden" name="picCatgCode" id="picCatgCode" />
    					</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label" style="width:100px">图片名称：</label>
    					<div class="controls" style="margin-left:100px;height:30px">
    						<input class=" required" name="mediaName" type="text"
    							placeholder="不多于64个汉字"  style="height:30px;width:170px"/>
    					</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label" style="width:100px">图片排序：</label>
    					<div class="controls" style="margin-left:100px;height:30px">
    						<input class="  required digits " maxlength="5" name="sortNo"
    							type="text" placeholder="必须为整数" style="height:30px;width:170px" />
    					</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label " style="width:100px">图片类型：</label>
    					<div class="controls" style="margin-left:100px;height:30px">
    						<select name="mediaType" disabled="true" style="width:170px">
    							#listParam("GDS_MEDIA_TYPE","")
    						</select>
    					</div>
                    </div>
                
                </div>
                <div class="span6 sType-upload">
                    <div class="img-wrap">
                        <img src="$IMAGE_PATH/seller-def.png" id="image" alt=""/>
						<input type="hidden" id="mediaPic" name="mediaUuid"/>
						<input type="hidden" id="pictrueName" name="pictrueName"/>   
                    </div>
                    <div class="sType-info">仅支持JPG、PNG、JPEG、GIF格式，并且小于5M</div>
					<a class="a-upload" href="javascript:;">
                        <input id="picture" type="file" name="picture">上传图片
                     </a>
                </div>
            </div>
            <div class="btn-wrap">
                <span class="sbtn sbtn-blue" id="btnFormSave">确定</span>
                <span class="sbtn" id="btnReturn">取消</span>
            </div>
        </form>
    </div>
</div>
	