#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/list/list-view.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>

<style>
    .form-horizontal .control-label {
        width: 140px;/* 默认为100px */
    }
</style>


<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />

<div class="formBox row-fluid">
<form class="form-horizontal">
		<div class="span8">
    		<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label span4" for="name">排行榜分类：</label>
    				<label class="controls text_line" >#if(${respVO.listClassZH})#escapeHtml(${respVO.listClassZH}) #else 无 #end</label>
    			</div>
    		</div>
			
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">商品：</label>
    				<label class="controls text_line" >#if(${respVO.gdsName})#escapeHtml(${respVO.gdsName}) #else 无 #end</label>
    			</div>
    		</div>
    		
    		<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">状态：</label>
    				<label class="controls text_line" >#if(${respVO.statusZH})${respVO.statusZH} #else 无 #end</label>
    			</div>
    		</div>
			
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">排序：</label>
    				<label class="controls text_line" >#if(${respVO.sortNo})${respVO.sortNo} #else 无 #end</label>
    			</div>
    		</div>
    		
			<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">创建时间：</label>
    				<label class="controls text_line" >#if(${respVO.createTime})$!date.format('yyyy-MM-dd',${respVO.createTime}) #else 无 #end</label>
    			</div>
    		</div>
    		
    		<div class=" formSep">
    			<div class="control-group">
    				<label class="control-label">更新时间：</label>
    				<label class="controls text_line">#if(${respVO.updateTime})$!date.format('yyyy-MM-dd',${respVO.updateTime}) #else 无 #end</label>
    			</div>
    		</div>
    	
			<div class="text-center">
				<button type="button" class="btn" id="btnReturn"><i class="icon-reply icon-white"></i>返回</button>
    		</div>
        </div>
		
		<div class="clear"></div>
	</form>
</div>
	
