<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.goods.dao.mapper.busi.StockInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.goods.dao.model.StockInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="REP_CODE" property="repCode" jdbcType="INTEGER" />
    <result column="CATG_CODE" property="catgCode" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="GDS_ID" property="gdsId" jdbcType="INTEGER" />
    <result column="SKU_ID" property="skuId" jdbcType="INTEGER" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="COMPANY_ID" property="companyId" jdbcType="INTEGER" />
    <result column="REAL_COUNT" property="realCount" jdbcType="INTEGER" />
    <result column="PRE_OCCUPY_COUNT" property="preOccupyCount" jdbcType="INTEGER" />
    <result column="AVAIL_COUNT" property="availCount" jdbcType="INTEGER" />
    <result column="GDS_NAME" property="gdsName" jdbcType="VARCHAR" />
    <result column="PRODUCT_NO" property="productNo" jdbcType="VARCHAR" />
    <result column="CATG_PATH" property="catgPath" jdbcType="VARCHAR" />
    <result column="SEND_COUNT" property="sendCount" jdbcType="INTEGER" />
    <result column="LACK_COUNT" property="lackCount" jdbcType="INTEGER" />
    <result column="WARNING_COUNT" property="warningCount" jdbcType="INTEGER" />
    <result column="ZERO_STOCK_FLAG" property="zeroStockFlag" jdbcType="VARCHAR" />
    <result column="ZERO_STOCK_STARTTIME" property="zeroStockStarttime" jdbcType="TIMESTAMP" />
    <result column="FAC_STOCK" property="facStock" jdbcType="INTEGER" />
    <result column="IS_USEWARNING" property="isUsewarning" jdbcType="VARCHAR" />
    <result column="IS_OVER" property="isOver" jdbcType="VARCHAR" />
    <result column="REP_TYPE" property="repType" jdbcType="VARCHAR" />
    <result column="STOCK_TYPE" property="stockType" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, REP_CODE, CATG_CODE, TYPE_ID, GDS_ID, SKU_ID, SHOP_ID, COMPANY_ID, REAL_COUNT, 
    PRE_OCCUPY_COUNT, AVAIL_COUNT, GDS_NAME, PRODUCT_NO, CATG_PATH, SEND_COUNT, LACK_COUNT, 
    WARNING_COUNT, ZERO_STOCK_FLAG, ZERO_STOCK_STARTTIME, FAC_STOCK, IS_USEWARNING, IS_OVER, 
    REP_TYPE, STOCK_TYPE, STATUS, CREATE_TIME, CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.goods.dao.model.StockInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_stock_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_stock_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_stock_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.goods.dao.model.StockInfoCriteria" >
    delete from t_stock_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.goods.dao.model.StockInfo" >
    insert into t_stock_info (ID, REP_CODE, CATG_CODE, 
      TYPE_ID, GDS_ID, SKU_ID, 
      SHOP_ID, COMPANY_ID, REAL_COUNT, 
      PRE_OCCUPY_COUNT, AVAIL_COUNT, GDS_NAME, 
      PRODUCT_NO, CATG_PATH, SEND_COUNT, 
      LACK_COUNT, WARNING_COUNT, ZERO_STOCK_FLAG, 
      ZERO_STOCK_STARTTIME, FAC_STOCK, IS_USEWARNING, 
      IS_OVER, REP_TYPE, STOCK_TYPE, 
      STATUS, CREATE_TIME, CREATE_STAFF, 
      UPDATE_TIME, UPDATE_STAFF)
    values (#{id,jdbcType=INTEGER}, #{repCode,jdbcType=INTEGER}, #{catgCode,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=INTEGER}, #{gdsId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{shopId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{realCount,jdbcType=INTEGER}, 
      #{preOccupyCount,jdbcType=INTEGER}, #{availCount,jdbcType=INTEGER}, #{gdsName,jdbcType=VARCHAR}, 
      #{productNo,jdbcType=VARCHAR}, #{catgPath,jdbcType=VARCHAR}, #{sendCount,jdbcType=INTEGER}, 
      #{lackCount,jdbcType=INTEGER}, #{warningCount,jdbcType=INTEGER}, #{zeroStockFlag,jdbcType=VARCHAR}, 
      #{zeroStockStarttime,jdbcType=TIMESTAMP}, #{facStock,jdbcType=INTEGER}, #{isUsewarning,jdbcType=VARCHAR}, 
      #{isOver,jdbcType=VARCHAR}, #{repType,jdbcType=VARCHAR}, #{stockType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.goods.dao.model.StockInfo" >
    insert into t_stock_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="repCode != null" >
        REP_CODE,
      </if>
      <if test="catgCode != null" >
        CATG_CODE,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="gdsId != null" >
        GDS_ID,
      </if>
      <if test="skuId != null" >
        SKU_ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="realCount != null" >
        REAL_COUNT,
      </if>
      <if test="preOccupyCount != null" >
        PRE_OCCUPY_COUNT,
      </if>
      <if test="availCount != null" >
        AVAIL_COUNT,
      </if>
      <if test="gdsName != null" >
        GDS_NAME,
      </if>
      <if test="productNo != null" >
        PRODUCT_NO,
      </if>
      <if test="catgPath != null" >
        CATG_PATH,
      </if>
      <if test="sendCount != null" >
        SEND_COUNT,
      </if>
      <if test="lackCount != null" >
        LACK_COUNT,
      </if>
      <if test="warningCount != null" >
        WARNING_COUNT,
      </if>
      <if test="zeroStockFlag != null" >
        ZERO_STOCK_FLAG,
      </if>
      <if test="zeroStockStarttime != null" >
        ZERO_STOCK_STARTTIME,
      </if>
      <if test="facStock != null" >
        FAC_STOCK,
      </if>
      <if test="isUsewarning != null" >
        IS_USEWARNING,
      </if>
      <if test="isOver != null" >
        IS_OVER,
      </if>
      <if test="repType != null" >
        REP_TYPE,
      </if>
      <if test="stockType != null" >
        STOCK_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="repCode != null" >
        #{repCode,jdbcType=INTEGER},
      </if>
      <if test="catgCode != null" >
        #{catgCode,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="gdsId != null" >
        #{gdsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="realCount != null" >
        #{realCount,jdbcType=INTEGER},
      </if>
      <if test="preOccupyCount != null" >
        #{preOccupyCount,jdbcType=INTEGER},
      </if>
      <if test="availCount != null" >
        #{availCount,jdbcType=INTEGER},
      </if>
      <if test="gdsName != null" >
        #{gdsName,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="catgPath != null" >
        #{catgPath,jdbcType=VARCHAR},
      </if>
      <if test="sendCount != null" >
        #{sendCount,jdbcType=INTEGER},
      </if>
      <if test="lackCount != null" >
        #{lackCount,jdbcType=INTEGER},
      </if>
      <if test="warningCount != null" >
        #{warningCount,jdbcType=INTEGER},
      </if>
      <if test="zeroStockFlag != null" >
        #{zeroStockFlag,jdbcType=VARCHAR},
      </if>
      <if test="zeroStockStarttime != null" >
        #{zeroStockStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="facStock != null" >
        #{facStock,jdbcType=INTEGER},
      </if>
      <if test="isUsewarning != null" >
        #{isUsewarning,jdbcType=VARCHAR},
      </if>
      <if test="isOver != null" >
        #{isOver,jdbcType=VARCHAR},
      </if>
      <if test="repType != null" >
        #{repType,jdbcType=VARCHAR},
      </if>
      <if test="stockType != null" >
        #{stockType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.goods.dao.model.StockInfoCriteria" resultType="java.lang.Long" >
    select count(*) from t_stock_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_stock_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.repCode != null" >
        REP_CODE = #{record.repCode,jdbcType=INTEGER},
      </if>
      <if test="record.catgCode != null" >
        CATG_CODE = #{record.catgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.gdsId != null" >
        GDS_ID = #{record.gdsId,jdbcType=INTEGER},
      </if>
      <if test="record.skuId != null" >
        SKU_ID = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.realCount != null" >
        REAL_COUNT = #{record.realCount,jdbcType=INTEGER},
      </if>
      <if test="record.preOccupyCount != null" >
        PRE_OCCUPY_COUNT = #{record.preOccupyCount,jdbcType=INTEGER},
      </if>
      <if test="record.availCount != null" >
        AVAIL_COUNT = #{record.availCount,jdbcType=INTEGER},
      </if>
      <if test="record.gdsName != null" >
        GDS_NAME = #{record.gdsName,jdbcType=VARCHAR},
      </if>
      <if test="record.productNo != null" >
        PRODUCT_NO = #{record.productNo,jdbcType=VARCHAR},
      </if>
      <if test="record.catgPath != null" >
        CATG_PATH = #{record.catgPath,jdbcType=VARCHAR},
      </if>
      <if test="record.sendCount != null" >
        SEND_COUNT = #{record.sendCount,jdbcType=INTEGER},
      </if>
      <if test="record.lackCount != null" >
        LACK_COUNT = #{record.lackCount,jdbcType=INTEGER},
      </if>
      <if test="record.warningCount != null" >
        WARNING_COUNT = #{record.warningCount,jdbcType=INTEGER},
      </if>
      <if test="record.zeroStockFlag != null" >
        ZERO_STOCK_FLAG = #{record.zeroStockFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.zeroStockStarttime != null" >
        ZERO_STOCK_STARTTIME = #{record.zeroStockStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.facStock != null" >
        FAC_STOCK = #{record.facStock,jdbcType=INTEGER},
      </if>
      <if test="record.isUsewarning != null" >
        IS_USEWARNING = #{record.isUsewarning,jdbcType=VARCHAR},
      </if>
      <if test="record.isOver != null" >
        IS_OVER = #{record.isOver,jdbcType=VARCHAR},
      </if>
      <if test="record.repType != null" >
        REP_TYPE = #{record.repType,jdbcType=VARCHAR},
      </if>
      <if test="record.stockType != null" >
        STOCK_TYPE = #{record.stockType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_stock_info
    set ID = #{record.id,jdbcType=INTEGER},
      REP_CODE = #{record.repCode,jdbcType=INTEGER},
      CATG_CODE = #{record.catgCode,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      GDS_ID = #{record.gdsId,jdbcType=INTEGER},
      SKU_ID = #{record.skuId,jdbcType=INTEGER},
      SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      COMPANY_ID = #{record.companyId,jdbcType=INTEGER},
      REAL_COUNT = #{record.realCount,jdbcType=INTEGER},
      PRE_OCCUPY_COUNT = #{record.preOccupyCount,jdbcType=INTEGER},
      AVAIL_COUNT = #{record.availCount,jdbcType=INTEGER},
      GDS_NAME = #{record.gdsName,jdbcType=VARCHAR},
      PRODUCT_NO = #{record.productNo,jdbcType=VARCHAR},
      CATG_PATH = #{record.catgPath,jdbcType=VARCHAR},
      SEND_COUNT = #{record.sendCount,jdbcType=INTEGER},
      LACK_COUNT = #{record.lackCount,jdbcType=INTEGER},
      WARNING_COUNT = #{record.warningCount,jdbcType=INTEGER},
      ZERO_STOCK_FLAG = #{record.zeroStockFlag,jdbcType=VARCHAR},
      ZERO_STOCK_STARTTIME = #{record.zeroStockStarttime,jdbcType=TIMESTAMP},
      FAC_STOCK = #{record.facStock,jdbcType=INTEGER},
      IS_USEWARNING = #{record.isUsewarning,jdbcType=VARCHAR},
      IS_OVER = #{record.isOver,jdbcType=VARCHAR},
      REP_TYPE = #{record.repType,jdbcType=VARCHAR},
      STOCK_TYPE = #{record.stockType,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.goods.dao.model.StockInfo" >
    update t_stock_info
    <set >
      <if test="repCode != null" >
        REP_CODE = #{repCode,jdbcType=INTEGER},
      </if>
      <if test="catgCode != null" >
        CATG_CODE = #{catgCode,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="gdsId != null" >
        GDS_ID = #{gdsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="realCount != null" >
        REAL_COUNT = #{realCount,jdbcType=INTEGER},
      </if>
      <if test="preOccupyCount != null" >
        PRE_OCCUPY_COUNT = #{preOccupyCount,jdbcType=INTEGER},
      </if>
      <if test="availCount != null" >
        AVAIL_COUNT = #{availCount,jdbcType=INTEGER},
      </if>
      <if test="gdsName != null" >
        GDS_NAME = #{gdsName,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="catgPath != null" >
        CATG_PATH = #{catgPath,jdbcType=VARCHAR},
      </if>
      <if test="sendCount != null" >
        SEND_COUNT = #{sendCount,jdbcType=INTEGER},
      </if>
      <if test="lackCount != null" >
        LACK_COUNT = #{lackCount,jdbcType=INTEGER},
      </if>
      <if test="warningCount != null" >
        WARNING_COUNT = #{warningCount,jdbcType=INTEGER},
      </if>
      <if test="zeroStockFlag != null" >
        ZERO_STOCK_FLAG = #{zeroStockFlag,jdbcType=VARCHAR},
      </if>
      <if test="zeroStockStarttime != null" >
        ZERO_STOCK_STARTTIME = #{zeroStockStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="facStock != null" >
        FAC_STOCK = #{facStock,jdbcType=INTEGER},
      </if>
      <if test="isUsewarning != null" >
        IS_USEWARNING = #{isUsewarning,jdbcType=VARCHAR},
      </if>
      <if test="isOver != null" >
        IS_OVER = #{isOver,jdbcType=VARCHAR},
      </if>
      <if test="repType != null" >
        REP_TYPE = #{repType,jdbcType=VARCHAR},
      </if>
      <if test="stockType != null" >
        STOCK_TYPE = #{stockType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.goods.dao.model.StockInfo" >
    update t_stock_info
    set REP_CODE = #{repCode,jdbcType=INTEGER},
      CATG_CODE = #{catgCode,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=INTEGER},
      GDS_ID = #{gdsId,jdbcType=INTEGER},
      SKU_ID = #{skuId,jdbcType=INTEGER},
      SHOP_ID = #{shopId,jdbcType=INTEGER},
      COMPANY_ID = #{companyId,jdbcType=INTEGER},
      REAL_COUNT = #{realCount,jdbcType=INTEGER},
      PRE_OCCUPY_COUNT = #{preOccupyCount,jdbcType=INTEGER},
      AVAIL_COUNT = #{availCount,jdbcType=INTEGER},
      GDS_NAME = #{gdsName,jdbcType=VARCHAR},
      PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      CATG_PATH = #{catgPath,jdbcType=VARCHAR},
      SEND_COUNT = #{sendCount,jdbcType=INTEGER},
      LACK_COUNT = #{lackCount,jdbcType=INTEGER},
      WARNING_COUNT = #{warningCount,jdbcType=INTEGER},
      ZERO_STOCK_FLAG = #{zeroStockFlag,jdbcType=VARCHAR},
      ZERO_STOCK_STARTTIME = #{zeroStockStarttime,jdbcType=TIMESTAMP},
      FAC_STOCK = #{facStock,jdbcType=INTEGER},
      IS_USEWARNING = #{isUsewarning,jdbcType=VARCHAR},
      IS_OVER = #{isOver,jdbcType=VARCHAR},
      REP_TYPE = #{repType,jdbcType=VARCHAR},
      STOCK_TYPE = #{stockType,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
