<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.cms.dao.mapper.common.CmsItemPropPreMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.cms.dao.model.CmsItemPropPre" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PAGE_ID" property="pageId" jdbcType="INTEGER" />
    <result column="ITEM_ID" property="itemId" jdbcType="INTEGER" />
    <result column="PROP_ID" property="propId" jdbcType="INTEGER" />
    <result column="PROP_NAME" property="propName" jdbcType="VARCHAR" />
    <result column="PROP_VALUE_ID" property="propValueId" jdbcType="VARCHAR" />
    <result column="PROP_VALUE" property="propValue" jdbcType="VARCHAR" />
    <result column="IF_HAVETO" property="ifHaveto" jdbcType="VARCHAR" />
    <result column="PROP_VALUE_TYPE" property="propValueType" jdbcType="VARCHAR" />
    <result column="CONTROL_PROP_ID" property="controlPropId" jdbcType="INTEGER" />
    <result column="PROP_GROUP_ID" property="propGroupId" jdbcType="INTEGER" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="IS_AUTOBUILD" property="isAutobuild" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PAGE_ID, ITEM_ID, PROP_ID, PROP_NAME, PROP_VALUE_ID, PROP_VALUE, IF_HAVETO, PROP_VALUE_TYPE, 
    CONTROL_PROP_ID, PROP_GROUP_ID, SORT_NO, STATUS, IS_AUTOBUILD, REMARK, CREATE_STAFF, 
    CREATE_TIME, UPDATE_STAFF, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.cms.dao.model.CmsItemPropPreCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_item_prop_pre
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_item_prop_pre
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cms_item_prop_pre
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsItemPropPreCriteria" >
    delete from t_cms_item_prop_pre
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.cms.dao.model.CmsItemPropPre" >
    insert into t_cms_item_prop_pre (ID, PAGE_ID, ITEM_ID, 
      PROP_ID, PROP_NAME, PROP_VALUE_ID, 
      PROP_VALUE, IF_HAVETO, PROP_VALUE_TYPE, 
      CONTROL_PROP_ID, PROP_GROUP_ID, SORT_NO, 
      STATUS, IS_AUTOBUILD, REMARK, 
      CREATE_STAFF, CREATE_TIME, UPDATE_STAFF, 
      UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{pageId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, 
      #{propId,jdbcType=INTEGER}, #{propName,jdbcType=VARCHAR}, #{propValueId,jdbcType=VARCHAR}, 
      #{propValue,jdbcType=VARCHAR}, #{ifHaveto,jdbcType=VARCHAR}, #{propValueType,jdbcType=VARCHAR}, 
      #{controlPropId,jdbcType=INTEGER}, #{propGroupId,jdbcType=INTEGER}, #{sortNo,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{isAutobuild,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createStaff,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsItemPropPre" >
    insert into t_cms_item_prop_pre
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pageId != null" >
        PAGE_ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="propId != null" >
        PROP_ID,
      </if>
      <if test="propName != null" >
        PROP_NAME,
      </if>
      <if test="propValueId != null" >
        PROP_VALUE_ID,
      </if>
      <if test="propValue != null" >
        PROP_VALUE,
      </if>
      <if test="ifHaveto != null" >
        IF_HAVETO,
      </if>
      <if test="propValueType != null" >
        PROP_VALUE_TYPE,
      </if>
      <if test="controlPropId != null" >
        CONTROL_PROP_ID,
      </if>
      <if test="propGroupId != null" >
        PROP_GROUP_ID,
      </if>
      <if test="sortNo != null" >
        SORT_NO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="isAutobuild != null" >
        IS_AUTOBUILD,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="propId != null" >
        #{propId,jdbcType=INTEGER},
      </if>
      <if test="propName != null" >
        #{propName,jdbcType=VARCHAR},
      </if>
      <if test="propValueId != null" >
        #{propValueId,jdbcType=VARCHAR},
      </if>
      <if test="propValue != null" >
        #{propValue,jdbcType=VARCHAR},
      </if>
      <if test="ifHaveto != null" >
        #{ifHaveto,jdbcType=VARCHAR},
      </if>
      <if test="propValueType != null" >
        #{propValueType,jdbcType=VARCHAR},
      </if>
      <if test="controlPropId != null" >
        #{controlPropId,jdbcType=INTEGER},
      </if>
      <if test="propGroupId != null" >
        #{propGroupId,jdbcType=INTEGER},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isAutobuild != null" >
        #{isAutobuild,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsItemPropPreCriteria" resultType="java.lang.Long" >
    select count(*) from t_cms_item_prop_pre
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_item_prop_pre
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pageId != null" >
        PAGE_ID = #{record.pageId,jdbcType=INTEGER},
      </if>
      <if test="record.itemId != null" >
        ITEM_ID = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.propId != null" >
        PROP_ID = #{record.propId,jdbcType=INTEGER},
      </if>
      <if test="record.propName != null" >
        PROP_NAME = #{record.propName,jdbcType=VARCHAR},
      </if>
      <if test="record.propValueId != null" >
        PROP_VALUE_ID = #{record.propValueId,jdbcType=VARCHAR},
      </if>
      <if test="record.propValue != null" >
        PROP_VALUE = #{record.propValue,jdbcType=VARCHAR},
      </if>
      <if test="record.ifHaveto != null" >
        IF_HAVETO = #{record.ifHaveto,jdbcType=VARCHAR},
      </if>
      <if test="record.propValueType != null" >
        PROP_VALUE_TYPE = #{record.propValueType,jdbcType=VARCHAR},
      </if>
      <if test="record.controlPropId != null" >
        CONTROL_PROP_ID = #{record.controlPropId,jdbcType=INTEGER},
      </if>
      <if test="record.propGroupId != null" >
        PROP_GROUP_ID = #{record.propGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.sortNo != null" >
        SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.isAutobuild != null" >
        IS_AUTOBUILD = #{record.isAutobuild,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_item_prop_pre
    set ID = #{record.id,jdbcType=INTEGER},
      PAGE_ID = #{record.pageId,jdbcType=INTEGER},
      ITEM_ID = #{record.itemId,jdbcType=INTEGER},
      PROP_ID = #{record.propId,jdbcType=INTEGER},
      PROP_NAME = #{record.propName,jdbcType=VARCHAR},
      PROP_VALUE_ID = #{record.propValueId,jdbcType=VARCHAR},
      PROP_VALUE = #{record.propValue,jdbcType=VARCHAR},
      IF_HAVETO = #{record.ifHaveto,jdbcType=VARCHAR},
      PROP_VALUE_TYPE = #{record.propValueType,jdbcType=VARCHAR},
      CONTROL_PROP_ID = #{record.controlPropId,jdbcType=INTEGER},
      PROP_GROUP_ID = #{record.propGroupId,jdbcType=INTEGER},
      SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=VARCHAR},
      IS_AUTOBUILD = #{record.isAutobuild,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsItemPropPre" >
    update t_cms_item_prop_pre
    <set >
      <if test="pageId != null" >
        PAGE_ID = #{pageId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="propId != null" >
        PROP_ID = #{propId,jdbcType=INTEGER},
      </if>
      <if test="propName != null" >
        PROP_NAME = #{propName,jdbcType=VARCHAR},
      </if>
      <if test="propValueId != null" >
        PROP_VALUE_ID = #{propValueId,jdbcType=VARCHAR},
      </if>
      <if test="propValue != null" >
        PROP_VALUE = #{propValue,jdbcType=VARCHAR},
      </if>
      <if test="ifHaveto != null" >
        IF_HAVETO = #{ifHaveto,jdbcType=VARCHAR},
      </if>
      <if test="propValueType != null" >
        PROP_VALUE_TYPE = #{propValueType,jdbcType=VARCHAR},
      </if>
      <if test="controlPropId != null" >
        CONTROL_PROP_ID = #{controlPropId,jdbcType=INTEGER},
      </if>
      <if test="propGroupId != null" >
        PROP_GROUP_ID = #{propGroupId,jdbcType=INTEGER},
      </if>
      <if test="sortNo != null" >
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isAutobuild != null" >
        IS_AUTOBUILD = #{isAutobuild,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.cms.dao.model.CmsItemPropPre" >
    update t_cms_item_prop_pre
    set PAGE_ID = #{pageId,jdbcType=INTEGER},
      ITEM_ID = #{itemId,jdbcType=INTEGER},
      PROP_ID = #{propId,jdbcType=INTEGER},
      PROP_NAME = #{propName,jdbcType=VARCHAR},
      PROP_VALUE_ID = #{propValueId,jdbcType=VARCHAR},
      PROP_VALUE = #{propValue,jdbcType=VARCHAR},
      IF_HAVETO = #{ifHaveto,jdbcType=VARCHAR},
      PROP_VALUE_TYPE = #{propValueType,jdbcType=VARCHAR},
      CONTROL_PROP_ID = #{controlPropId,jdbcType=INTEGER},
      PROP_GROUP_ID = #{propGroupId,jdbcType=INTEGER},
      SORT_NO = #{sortNo,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      IS_AUTOBUILD = #{isAutobuild,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
