<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.cms.dao.mapper.common.CmsPageAttrPubMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.cms.dao.model.CmsPageAttrPub" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PAGE_ATTR_ID" property="pageAttrId" jdbcType="INTEGER" />
    <result column="PAGE_ID" property="pageId" jdbcType="INTEGER" />
    <result column="BACKGROUND_COLOR" property="backgroundColor" jdbcType="VARCHAR" />
    <result column="BACKGROUND_PIC" property="backgroundPic" jdbcType="VARCHAR" />
    <result column="SHOW_BACK_FLAG" property="showBackFlag" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="BACKGROUP_SHOW_TYPE" property="backgroupShowType" jdbcType="VARCHAR" />
    <result column="MATCHING_COLOUR" property="matchingColour" jdbcType="VARCHAR" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PAGE_ATTR_ID, PAGE_ID, BACKGROUND_COLOR, BACKGROUND_PIC, SHOW_BACK_FLAG, STATUS, 
    BACKGROUP_SHOW_TYPE, MATCHING_COLOUR, CREATE_STAFF, CREATE_TIME, UPDATE_STAFF, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.cms.dao.model.CmsPageAttrPubCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_page_attr_pub
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_page_attr_pub
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cms_page_attr_pub
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsPageAttrPubCriteria" >
    delete from t_cms_page_attr_pub
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.cms.dao.model.CmsPageAttrPub" >
    insert into t_cms_page_attr_pub (ID, PAGE_ATTR_ID, PAGE_ID, 
      BACKGROUND_COLOR, BACKGROUND_PIC, SHOW_BACK_FLAG, 
      STATUS, BACKGROUP_SHOW_TYPE, MATCHING_COLOUR, 
      CREATE_STAFF, CREATE_TIME, UPDATE_STAFF, 
      UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{pageAttrId,jdbcType=INTEGER}, #{pageId,jdbcType=INTEGER}, 
      #{backgroundColor,jdbcType=VARCHAR}, #{backgroundPic,jdbcType=VARCHAR}, #{showBackFlag,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{backgroupShowType,jdbcType=VARCHAR}, #{matchingColour,jdbcType=VARCHAR}, 
      #{createStaff,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsPageAttrPub" >
    insert into t_cms_page_attr_pub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pageAttrId != null" >
        PAGE_ATTR_ID,
      </if>
      <if test="pageId != null" >
        PAGE_ID,
      </if>
      <if test="backgroundColor != null" >
        BACKGROUND_COLOR,
      </if>
      <if test="backgroundPic != null" >
        BACKGROUND_PIC,
      </if>
      <if test="showBackFlag != null" >
        SHOW_BACK_FLAG,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="backgroupShowType != null" >
        BACKGROUP_SHOW_TYPE,
      </if>
      <if test="matchingColour != null" >
        MATCHING_COLOUR,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pageAttrId != null" >
        #{pageAttrId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=INTEGER},
      </if>
      <if test="backgroundColor != null" >
        #{backgroundColor,jdbcType=VARCHAR},
      </if>
      <if test="backgroundPic != null" >
        #{backgroundPic,jdbcType=VARCHAR},
      </if>
      <if test="showBackFlag != null" >
        #{showBackFlag,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="backgroupShowType != null" >
        #{backgroupShowType,jdbcType=VARCHAR},
      </if>
      <if test="matchingColour != null" >
        #{matchingColour,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.cms.dao.model.CmsPageAttrPubCriteria" resultType="java.lang.Long" >
    select count(*) from t_cms_page_attr_pub
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_page_attr_pub
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pageAttrId != null" >
        PAGE_ATTR_ID = #{record.pageAttrId,jdbcType=INTEGER},
      </if>
      <if test="record.pageId != null" >
        PAGE_ID = #{record.pageId,jdbcType=INTEGER},
      </if>
      <if test="record.backgroundColor != null" >
        BACKGROUND_COLOR = #{record.backgroundColor,jdbcType=VARCHAR},
      </if>
      <if test="record.backgroundPic != null" >
        BACKGROUND_PIC = #{record.backgroundPic,jdbcType=VARCHAR},
      </if>
      <if test="record.showBackFlag != null" >
        SHOW_BACK_FLAG = #{record.showBackFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.backgroupShowType != null" >
        BACKGROUP_SHOW_TYPE = #{record.backgroupShowType,jdbcType=VARCHAR},
      </if>
      <if test="record.matchingColour != null" >
        MATCHING_COLOUR = #{record.matchingColour,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_page_attr_pub
    set ID = #{record.id,jdbcType=INTEGER},
      PAGE_ATTR_ID = #{record.pageAttrId,jdbcType=INTEGER},
      PAGE_ID = #{record.pageId,jdbcType=INTEGER},
      BACKGROUND_COLOR = #{record.backgroundColor,jdbcType=VARCHAR},
      BACKGROUND_PIC = #{record.backgroundPic,jdbcType=VARCHAR},
      SHOW_BACK_FLAG = #{record.showBackFlag,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      BACKGROUP_SHOW_TYPE = #{record.backgroupShowType,jdbcType=VARCHAR},
      MATCHING_COLOUR = #{record.matchingColour,jdbcType=VARCHAR},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.cms.dao.model.CmsPageAttrPub" >
    update t_cms_page_attr_pub
    <set >
      <if test="pageAttrId != null" >
        PAGE_ATTR_ID = #{pageAttrId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null" >
        PAGE_ID = #{pageId,jdbcType=INTEGER},
      </if>
      <if test="backgroundColor != null" >
        BACKGROUND_COLOR = #{backgroundColor,jdbcType=VARCHAR},
      </if>
      <if test="backgroundPic != null" >
        BACKGROUND_PIC = #{backgroundPic,jdbcType=VARCHAR},
      </if>
      <if test="showBackFlag != null" >
        SHOW_BACK_FLAG = #{showBackFlag,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="backgroupShowType != null" >
        BACKGROUP_SHOW_TYPE = #{backgroupShowType,jdbcType=VARCHAR},
      </if>
      <if test="matchingColour != null" >
        MATCHING_COLOUR = #{matchingColour,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.cms.dao.model.CmsPageAttrPub" >
    update t_cms_page_attr_pub
    set PAGE_ATTR_ID = #{pageAttrId,jdbcType=INTEGER},
      PAGE_ID = #{pageId,jdbcType=INTEGER},
      BACKGROUND_COLOR = #{backgroundColor,jdbcType=VARCHAR},
      BACKGROUND_PIC = #{backgroundPic,jdbcType=VARCHAR},
      SHOW_BACK_FLAG = #{showBackFlag,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      BACKGROUP_SHOW_TYPE = #{backgroupShowType,jdbcType=VARCHAR},
      MATCHING_COLOUR = #{matchingColour,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
