<!DOCTYPE html>
<html>
<head>

#parse("/sys/sys_head.vm")
<link href="$!{CSS_PATH}/amazeui.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="$!{CSS_PATH}/public.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="$!{CSS_PATH}/mall.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
	
$screen_content
	
	
</body>
</html>