@charset "UTF-8";
.iicon {
  background: url("../images/iicon.png") no-repeat;
  vertical-align: middle;
  display: inline-block;
  width: 37px;
  height: 37px;
}
.iicon-head {
  background-position: 0px -61px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.iicon-custom {
  background-position: -327px 5px;
}
.iicon-PC {
  background-position: 8px 7px;
}
.iicon-info {
  background-position: -35px 6px;
}
.iicon-password {
  background-position: -89px 5px;
}
.iicon-exit {
  background-position: -138px 5px;
}
.iicon-def {
  background-position: 7px -144px;
}
.iicon-ind01 {
  background-position: -51px -147px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind02 {
  background-position: -102px -149px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind03 {
  background-position: -157px -149px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind04 {
  background-position: -211px -149px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind05 {
  background-position: -264px -149px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind06 {
  background-position: -314px -147px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind07 {
  background-position: 0px -211px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind08 {
  background-position: -52px -211px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind09 {
  background-position: -103px -208px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind10 {
  background-position: -152px -208px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind11 {
  background-position: -200px -208px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind12 {
  background-position: -252px -208px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind13 {
  background-position: -367px -146px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind14 {
  background-position: -412px -148px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind15 {
  background-position: -450px -150px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind16 {
  background-position: -357px -211px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind17 {
  background-position: -314px -210px;
  width: 24px!important;
  height: 24px;
}
.iicon-ind18 {
  background-position: -397px -212px;
  width: 24px!important;
  height: 24px;
}
.iicon-addcril {
  background-position: -225px 0px;
  width: 24px!important;
  height: 24px;
}
.iicon-minuscril {
  background-position: -273px 0px;
  width: 24px!important;
  height: 24px;
}
