	    #if($null.isNull($catgList) || $catgList.isEmpty())
		
	      #else
	         <div style="margin-left:20px;">
			     <div class="formSep"></div>
					  <h4 class="formSep">
					      已选择分类
					 </h4>
		<div class="nItem">
			<div style="overflow-x: auto;">
	          <div class="row-fluid">
					  <div class="row-fluid" style="margin-bottom: 10px;">
									<div class="span6">
										<a class="btn " id="btn_catg_del_batch" href="javascript:void(0)"><i class="icon-remove icon-white"></i>批量删除</a>
									</div>
                             </div> 
                              <table id="catgTable" class="seller-table">
	                              <thead>
	                                  <tr role="row">
	                                      <th id="catgTable_row_1" class="center selectColumn sorting_disabled" rowspan="1" colspan="1" aria-label="选择" align="center" style="width: 35px; vertical-align: middle; text-align: center; padding: 0px;"><input type="checkbox" id="dt_row_all_check" title="全选/全取消" style="margin: 0px;"></th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="分类编码" style="width: 60px;">分类编码</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="分类名称" style="width: 100px;">分类名称</th>
	                                      <th id="catgTable_row_4" class="sorting_disabled" rowspan="1" colspan="1" aria-label="操作" style="width: 80px;">操作</th>
	                                   </tr>
	                                </thead>
	                                 <tbody id="catgTableTbody">
	                                  #foreach( $catgVO in $catgList)
	                                  <tr id="$!{catgVO.catgCode}-$!{catgVO.catgName}" role="row" class=odd">
										    <td name="catgTableTbody_row_1" class=" center selectColumn" align="center" style="width: 35px; vertical-align: middle; text-align: center; padding: 0px;">
											<input type="checkbox" id="$!{catgVO.catgCode}" catgCode="$!{catgVO.catgCode}" name="checkboxcatg" >
											</td>
											<td>$!{catgVO.catgCode}</td>
											<td>#escapeHtml( "$!{catgVO.catgName}")</td>
											<td name="catgTableTbody_row_4"><a class="btn" data="$!{catgVO.catgCode}" name="delGdsRow" href="javascript:void(0)"><i class="icon-remove icon-white"></i>删除</a></td>
											</tr>
	                                   #end
	                                </tbody>
	                          </table>
	                      </div>
	                    </div>
                      </div>
               </div> 
           #end      
