#parse("/module/mod-tree.vm")
#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
#parse("/module/mod-upload.vm")
#parse("sys/sys_param.vm")

<style>
	.rknav{
	
	}
	div#das {
        width: 250px;
        margin-left: 0;
        border-right: 1px solid #ddd;
    }
</style>

<link href="$CSS_PATH/cms/advertise-img.css" rel="stylesheet" type="text/css"/>
<link href="$CSS_PATH/pageConfig/utils/cms-link-input.css" rel="stylesheet" type="text/css" media="screen"/>

<!--<script type="text/javascript" src="$!{RESOURCE_PATH}/js-old/frameajax/ajaxfileupload.js"></script>-->
<script type="text/javascript" src="$RESOURCE_PATH/jquery/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="$RESOURCE_PATH/jquery/ztree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="$RESOURCE_PATH/jquery/ztree/js/jquery.ztree.exedit-3.5.js"></script>
<script type="text/javascript" src="$RESOURCE_PATH/jquery/ztree/js/jquery.ztree.exhide-3.5.js"></script>

<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/public/utils/cmsLinkInputUtil.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/link/main-link.js?version=$!{JS_VERSION}" ></script>

<script type="text/javascript">
function replaceSpace(obj){
 obj.value = obj.value.replace(/s/gi,'')
}
</script>
<div class="well well-searchForm">
	<form id="searchForm" class="form-horizontal" style="margin-bottom: 0px;">
		<div class="row-fluid">
			<div class="span4">
				<div class="control-group">
					<label class="control-label">所属站点：</label>
					<div class="controls" >
						<select id="sysSiteIdSearch" name="sysSiteIdSearch">
							#siteList($!{siteId})
                        </select>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="control-group">
					<label class="control-label">链接类型：</label>
					<div class="controls" >
						<select id="cmsLinkTypeSearch" name="cmsLinkTypeSearch">
							#listParam('CMS_LINK_TYPE',$!{linkType})
                        </select>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
	</form>
</div>
<div class="row-fluid" style="margin-bottom: 10px;">
	<div class="span6">
		<a class="btn" id="btn_menu_dir_add" href="javascript:void(0)"><i class="icon-plus icon-white"></i>新增链接</a>
		<a class="btn btn-danger" id="btn_menu_del" href="javascript:void(0)"><i class="icon-trash icon-white"></i>删除</a>
	</div>
</div>
<div class="row-fluid borderb">
    <div class="span3">
	   <div class="rknav pull-left" id="das">
            <div class="rk-search"   id="zTreeClear">
                <input id="searchValue" type="text" value=""/>
                <i id="treeSerach" class="icon-search"></i>
            </div>
            <div class="tree-w" id="menuContent" style="height:640px;overflow:auto;">
                <ul id="tree" class="ztree" ></ul>
            </div>
        </div>
	</div>
     <div class="span7">
		   <div class="rk-editc pull-left">
            <form id="linkdetail" action="" class="form-horizontal required-validate">
				<input type="hidden" id="siteinfoId_hid" name="siteinfoId_hid"/>
				<input type="hidden" id="linkUrl_hid" name="linkUrl_hid"/>
                <div class="row-fluid"  style="margin-top:20px;">
                        <div class="control-group">
                            <label class="control-label" >链接编码：</label>
                            <div class="controls">
								<input type="text"  name="id" id="id" readonly="readonly"/>
                            </div>
                        </div>
						<div class="control-group">
                            <label class="control-label" >
								<span class="red">*</span>
								父/上级链接：
							</label>
                            <div class="controls">
								<input type="text" id="linkParentName" name="linkParentName" readonly="readonly"/>
                            	<input type="hidden" id="linkParent" name="linkParent" value="$!{linkParent}" readonly="readonly"/>
							</div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" >链接名称：</label>
                            <div class="controls">
                                <input type="text" id="linkName" name="linkName" class="htmlcheck required" maxlength="32" />
								<span class="help-inline">请填写链接名称！</span>
							</div>
                        </div>
						<div class="control-group">
                            <label class="control-label" >所属站点：</label>
                            <div class="controls">
								<select name="siteId" id="siteId" class="required">
									#siteList($!{siteId})
                                </select>
								<span class="help-inline">请选择所属站点！</span>
                            </div>
                        </div>
					    <div class="control-group">
                            <label class="control-label" >链接类型：</label>
                            <div class="controls">
								<select name="linkType" class="required">
									#listParam('CMS_LINK_TYPE',$!{linkType})
                                </select>
								<span class="help-inline">请选择链接类型！</span>
                            </div>
                        </div>
						<div class="control-group" id="url_div">
                            <label class="control-label" >链接地址：</label>
                            <div class="controls">
                                <input type="text" id="linkUrl" name="linkUrl" class="required" maxlength="100"/>
								<button type="button" class="btn" id="select_channel"><i class="icon-magic"></i>栏目</button>
								<button type="button" class="btn" id="select_article"><i class="icon-magic"></i>文章</button>
								<button type="button" class="btn" id="clean_url"><i class="icon-remove-sign icon-white"></i>清空</button>
								<span class="help-inline" id="linkUrl_span">例如：http://www.163.com，最大长度不能超过100个字符！</span>
							</div>
                        </div>
						<div class="control-group" id="sortOrderDiv">
                            <label class="control-label" >排序：</label>
                            <div class="controls">
                                <input type="text" id="sortNo" name="sortNo" class="checkInteger htmlcheck" onBlur="replaceSpace(this)" min="1" max="100"/>
								<span class="help-inline">请填写1-100的整数，值越小，排序越靠前！</span>
                            </div>
                        </div>
            			<div class="control-group">
		    				<label class="control-label" for="name">上传图片：</label>
		    				<div class="controls">
		  					    <input type="text" id="mediaUuid" name="mediaUuid" class="input-large" placeholder="请选择图片" readonly="readonly">
								<div id="uploadFileObj" class="btn btn-primary" data-place-width="100" data-place-height="100" data-place-size="100"><i class="icon-upload-alt"></i> 上传图片</div>
		    					<button type="button" class="btn" id="clean_image"><i class="icon-remove-sign icon-white"></i> 清空</button>
		    				</div>
		    			</div>
            			<div class="control-group">
            				<div class="controls">
                                <span id="uploadWarn" class="help-inline" style="color:#FF0000" >温馨提醒：请上传小于100k的图片（jpg,png,jpeg,gif,bmp），规格为100*100px！</span>
            				</div>
            				<p></p>
            				<p></p>
            			</div>
                </div>
			</form>
            <div class="text-center">
				<button type="button" class="btn btn-info" id="btn_menu_save"><i class="icon-ok-sign icon-white"></i>保存</button>
                <!--
				<input value="保存" id="btn_menu_save" type="submit" class="btn btn-info"/>
				<input value="清空" id="btn_menu_clear" type="submit" class="btn btn-primary"/>-->
            </div>
			<div class="span2">
    			
    		</div>
		<div class="clear"></div>
		</div>
	 </div>
	  <div class="span2" style="margin-left: 0;">
		<div class="panel panel-default" style='width:150px'>
			<div class="panel-heading">
				<h3 class="panel-title">图片预览</h3>
			</div>
			<div class="panel-body">
                <input id="imagePreviewHidden" type="hidden" value="#genImageUrl('','120x130!')" ></input>
				<img id="imagePreview" src="#genImageUrl($!{linkIcon},'120x130!')" width="120" height="130" class="img-polaroid">
			</div>
		</div>
	  </div>
</div>