<!DOCTYPE html>
<html>
<head>
<title>供应链电商</title>

#parse("/sys/sys_head.vm")

</head>
<body>


<div id="maincontainer" class="clearfix">
	<!-- main content -->
	<div id="contentwrapper">
	    <div class="main_content">
	    	$screen_content
    	</div>
	</div>
	<!-- main content -->
</div>

</body>
</html>