#parse("/sys/sys_param.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/seller/cms/leaflet/models/leaflet-gds-list.js?version=$!{JS_VERSION}"></script>
<div style="overflow-x:auto;" >
	<table id="dataGridTable" class="seller-table table-striped" role="grid"
	       aria-describedby="dataGridTable_info" style="width: 1107px;">
         <thead>
           <tr>
           	   <td>
				操作
			   </td>
               <td>
				公告编码
			   </td>
               <td style="width: 200px">
				主题
			   </td>
               <td>
				类型
			   </td>
               <td>
				发布时间
			   </td>
               <td>
				失效时间
			   </td>
           </tr>
         </thead>
        <tbody>
               #if(!$gridResult || !$gridResult.getList() || $!{gridResult.getList().size()}<=0)
        		<tr>
    				<td colspan='6'>
    					很遗憾，暂无数据！
    				</td>
    		    </tr>
        	   #else
            	   #foreach($info in $gridResult.getList())
            		<tr>
            			<td class="operation-bar">
							<a href='javascript:void(0)' class="select-leaflet-info" data-i="$!{info.id}" data-n="$!{info.infoTitle}">选定</a>
                   		</td>
    	                <td class="info-id">$!{info.id}</td>
    	                <td>$!{info.infoTitle}</td>
    	                <td>$!{info.typeName}</td>
    	                <td>$!{info.pubTime}</td>
    	                <td>$!{info.lostTime}</td>
    	            </tr>
    			   #end
    		   #end
         </tbody>
     </table>
</div>
<div class="pagination bPage pagination-right ecppage" id="pageControlbar" 
	data-total-page="$!{gridResult.totalPage}" 
	data-total-row="$!{gridResult.totalRow}" 
	data-page-size="$!{gridResult.pageSize}" 
	data-page-number="$!{gridResult.pageNumber}" 
	data-status="begin">
</div>
