#parse("/module/mod-form.vm")
#parse("/module/mod-upload.vm")
#parse("sys/sys_param.vm")

<link href="$!{CSS_PATH}/goods/product-mgr.css" rel="stylesheet" type="text/css" media="screen"/>

<script type="text/javascript" src="$!{RESOURCE_PATH}/js-old/frameajax/ajaxfileupload.js"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/templateLib/templateLib-edit.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}" ></script>

<script type="text/javascript">
 function replaceSpace(obj){
 obj.value = obj.value.replace(/s/gi,'')
}
</script>


<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}" />

<div class="alert alert-error hide formValidateMessages" >
	##showSpringAllError("vo")
</div>

<div class="formBox row-fluid">
	<form id="detailInfoForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" method="post" action="$!{CONTEXT_PATH}/place/save">
		<div class="span8">
			<input type="hidden" id="id" name="id" value="$!{respVO.id}" />
			<input type="hidden" id="reqType" name="reqType" value="$!{reqType}" />
    		<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">模板名称：</label>
    				<div class="controls">
    					<input type="text" class="input-large required" maxlength="32" name="templateName" id="templateName" value="$!{respVO.templateName}" #if($!{reqType}  == 'view') disabled #end placeholder="输入模板名称" />
						<span class="help-inline">不允许重复且最大长度不能超过32个字符！</span>
					</div>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">模板类型：</label>
    				<div class="controls">
    					<select id="templateType" name="templateType" #if($!{reqType}  == 'view'|| $!{isManage} == true ) disabled #end class="input-large required" >
							#listParam('CMS_TEMPLATE_TYPE',$!{respVO.templateType})
    					</select>  
						<span class="help-inline">请选择页面类型！</span>
    				</div>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">所属站点：</label>
    				<div class="controls">
    					<select id="siteId" name="siteId" class="input-large required" value="$!{respVO.siteId}" selected><!--#if($!{respVO.siteId} == $!{site.id}) selected  #end class="required"-->
							#siteList($!{respVO.siteId})
    					</select>
						<span class="help-inline">请选择所属站点！</span>
    				</div>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
                    <label class="control-label">平台类型：</label>
                    <div class="controls">
    					<select id="platformType" name="platformType" class="input-large required" #if($!{reqType}  == 'view' || $!{reqType}  == 'edit') disabled #end>
    						#listParam('CMS_PLATFORM_TYPE',$!{respVO.platformType})
                        </select>
    					<span class="help-inline">请选择平台类型！</span>
                    </div>
                </div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label">页面类型：</label>
    				<div class="controls">
    					<select id="pageTypeId" name="pageTypeId" class="input-large required" #if($!{reqType}  == 'view' || $!{reqType}  == 'edit') disabled #end>
							#foreach($pageType in $pageTypeList)
    							<option value="$!{pageType.id}" #if($!{respVO.pageTypeId} == $!{pageType.id}) selected  #end >#escapeHtml($!{pageType.pageTypeName})</option>
        					#end
    					</select>  
						<span class="help-inline">请选择页面类型！</span>
    				</div>
    			</div>
    		</div>
			<div class="formSep">
    			<div class="control-group">
    				<label class="control-label" for="name">模板缩略图：</label>
    				<div class="controls">
					    <input type="text" id="showPic" name="showPic" class="input-large" #if($!{reqType}  == 'view') disabled #end placeholder="请选择图片" value="#escapeHtml($!{respVO.showPic})" readonly="readonly">
						#if($!{reqType}  != 'view')
    						<div id="showPicUpload" class="btn btn-primary"><i class="icon-upload-alt"></i> 上传缩略图</div>
        					<button type="button" class="btn" id="showPic_clean_image"><i class="icon-remove-sign icon-white"></i> 清空</button>
        				#end
					</div>
    			</div>
    		</div>
			#if($!{reqType}  != 'view')
			<div class="formSep" id="uploadWarn_div">
    			<div class="control-group">
    				<div class="controls">
                        <span id="uploadWarn" class="help-inline" style="color:#FF0000" >温馨提醒：请上传小于100k的图片（jpg格式），规格为260*370px！</span>
    				</div>
    			</div>
    		</div>
			#end
			<div class="text-center">
				<button type="button" class="btn" id="btnFormNext">下一步</button>
				#if($!{reqType}  != 'view')
				<button type="button" class="btn btn-info" id="btnFormSave"><i class="icon-ok-sign icon-white"></i>保存</button>
				#end
				<button type="button" class="btn" id="btnReturn"><i class="icon-remove-sign icon-white"></i>取消</button>
    		</div>
        </div>
		<div class="span4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">图片预览</h3>
				</div>
				<div class="panel-body">
					<img id="imagePreview" src="#genImageUrl($!{respVO.showPic},'260x370!')" width="260" height="370" class="img-polaroid">
				</div>
			</div>
		</div>
	</form>
</div>
	
