	    #if($null.isNull($coupInfoList) || $coupInfoList.isEmpty())
		
	      #else
	         <div style="margin-left:20px;">
			     <div class="formSep"></div>
					  <h4 class="formSep">
					         已选择优惠券列表
					 </h4>
	          <div class="row-fluid">
					  <div class="row-fluid" style="margin-bottom: 10px;">
									<div class="span6">
										 <a class="btn " id="btn_coup_del_batch" href="javascript:void(0)"><i class="icon-remove icon-white"></i>批量删除</a>
									</div>
                             </div> 
                             
	                          <table id="coupTable" class="seller-table coupon-tb"  role="grid" aria-describedby="dataGridTable_info">
	                              <thead>
	                                  <tr role="row">
	                                      <th id="gdsTable_row_1" class="center selectColumn sorting_disabled" rowspan="1" colspan="1" aria-label="选择" align="center" style="width: 35px; vertical-align: middle; text-align: center; padding: 0px;"><input type="checkbox" id="dt_row_all_check" title="全选/全取消" style="margin: 0px;"></th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="优惠券编码" style="width: 60px;">优惠券编码</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="优惠券名称" style="width: 100px;">优惠券名称</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="额度" style="width: 50px;">额度</th>
	                                      <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="发行总量" style="width: 80px;">发行总量</th>
	                                      <th id="coupTable_row_12" class="sorting_disabled" rowspan="1" colspan="1" aria-label="操作" style="width: 80px;">操作</th>
	                                   </tr>
	                                </thead>
	                                 <tbody id="coupTableTbody">
	                                  #foreach( $coupInfoVO in $coupInfoList)
	                                  <tr id="$!{coupInfoVO.id}" role="row" class=odd">
										     <td name="coupTableTbody_td_1" class=" center selectColumn" align="center" style="width: 35px; vertical-align: middle; text-align: center; padding: 0px;">
											<input type="checkbox" id="$!{coupInfoVO.id}"  name="checkboxcoup" >
											</td>
											<td>$!{coupInfoVO.id}</td>
											<td  class="td-hhtxt" > <div>$!{coupInfoVO.coupName}</div></td>
											<td> 
											#if($!{coupInfoVO.coupValue} == -1 )
						            			 抵用券
						            		#else
						            			#moneyNum($!{coupInfoVO.coupValue})
											#end
											</td>
											<td>#escapeHtml("$!{coupInfoVO.coupNum}")</td>
											<td name="coupTableTbody_td_12"><a class="btn" data="$!{coupInfoVO.id}" name="delCoupRow" href="javascript:void(0)"><i class="icon-remove icon-white"></i>删除</a></td>
											</tr>
	                                   #end
	                                </tbody>
	                          </table>
                        </div>
               </div> 
           #end      
             <div class="row-fluid" >
                        <div class="span12">
                         </div>
                    </div>
