#parse("/sys/sys_param.vm")
#set($showRecord = "")##展示数量

#set($hideDiv = '')##是否默认隐藏
#set($componentMethod = "")##组件标识符  只有其有值才会执行组件
#set($crossItemObj = "")
##判断是否是发布页面
#if($!{pagePub})
	#set($crossItemObj = $!{crossItem.itemPropPubRespDTOList})
#else
	#set($crossItemObj = $!{crossItem.itemPropPreRespDTOList})
#end
##判断是否为编辑页且是否配置属性   如果为编辑页且没有配置属性  则将类名设为空  使其无法激活组件方法  但依然会引入组件  使局部刷新可实现
#if(true != $!{pageEdit} || ($!{crossItemObj} && $!{crossItemObj.size()}>0))
	#set($componentMethod = $!{crossItem.modularRespDTO.modularComponentRespDTO.componentRespDTO.componentMethod})
	#set($hideDiv = "hide")
#end


#foreach($prop in $crossItemObj)
	#if($!{prop.propId}=="1032")
		##展示数量
		#set($showRecord = "$!{prop.propValue}")
	#end
#end
<div class="phone-modular tpl-myPoint $!{hideDiv} ecp-component $!{componentMethod}"  data-is-pub="$!{pagePub}" data-component-method="$!{componentMethod}"  data-module="$!{crossItem.modularRespDTO.modularComponentRespDTO.componentRespDTO.componentUrl}">
    #if(!$!{componentMethod} || '' == $!{componentMethod})
	#parse("/pageConfig/pageConfigWap/edit/nodata/modular-nodata-wap.vm")
	#else 
    <div class="modular-body">
	    <div class="myPoint">
	         <div class="point-detail">我的积分 <span class="p-color point-score">0</span></div>
	          #if($showRecord && $showRecord == '1')
	          <span class="point-btn"><a href="javascript:void(0);" lazy-href='#translate("CMS_SITE_MAPPING","2")/point/order/record'>兑换记录</a></span>
	          #end
        </div>
    </div>
    #end
</div>