#parse("sys/sys_param.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/pageConfig/edit/hotImg/jquery.hotimg.js?v=${JS_VERSION}"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/pageConfig/edit/hotImg/jquery.imagesloaded.min.js?v=${JS_VERSION}"></script>
#set($title = "")##标题
#set($ifShowTitle = "")##是否显示标题
#set($showAmount = "")##展示数量
#set($ifRoll = "")##是否轮播
#set($placeId = "")##内容位置。用来加载数据的。
#set($showCenter = "")##标题是否居中显示
#set($hotPicId = "")##内容位置。用来加载数据的。
#set($hotItemPropId = "")##标题是否居中显示
#set($componentMethod = "")##组件标识符  只有其有值才会执行组件
#set($crossItemObj = "")
##判断是否是发布页面
#if($!{pagePub})
	#set($crossItemObj = $!{crossItem.itemPropPubRespDTOList})
#else
	#set($crossItemObj = $!{crossItem.itemPropPreRespDTOList})
#end
##判断是否为编辑页且是否配置属性   如果为编辑页且没有配置属性  则将类名设为空  使其无法激活组件方法  但依然会引入组件  使局部刷新可实现
#if(true != $!{pageEdit} || ($!{crossItemObj} && $!{crossItemObj.size()}>0))
	#set($componentMethod = $!{crossItem.modularRespDTO.modularComponentRespDTO.componentRespDTO.componentMethod})
#end


##专题页头   热点需要用到
#foreach($!picItem in $crossItemObj)
	#set($hotPicId = $!{picItem.propValue})
	#set($hotItemPropId = $!{picItem.id})
#end
<div id="imgMap_$!{hotItemPropId}" style="height:100%;" class="hotImg-content tpl-banner ecp-component $!{componentMethod}" data-status="1" data-pagePub="$!{pagePub}"  data-hotPicId="$hotPicId" data-hotItemPropId="$hotItemPropId"  data-placeWidth="100%" data-placeHeight="100%" data-showAmount="$showAmount" data-component-method="$!{componentMethod}" data-module="$!{crossItem.modularRespDTO.modularComponentRespDTO.componentRespDTO.componentUrl}">
	#if(!$!{componentMethod} || '' == $!{componentMethod})
		##判断是否已经配置了模板相应的属性
	   	#parse("/pageConfig/pageConfig/edit/nodata/modular-nodata.vm")
	#end
</div>
	
