
#parse("sys/sys_param.vm")
<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/manage/extend/ebc.date.js" ></script>
<script type="text/javascript" src="$BUSIJS_PATH/seller/order/pay/ptPayTab.js?version=$!{JS_VERSION}" ></script>

<div >

                <table class="seller-table">
                    <thead>
                    <tr>
                        <td style="width: 170px">支付通道名称</td>
                        <td style="width: 150px">订单编号</td>
                        <td style="width: 150px">实付金额</td>
                        <td>订单状态</td>
                        <td>店铺名称</td>
                        <td>会员名</td>
                        <td>支付时间</td>
                    </tr>
                    </thead>
                    <tbody>
					#if(!$bankPayListPage.list || $bankPayListPage.list.size() == 0)
            	       <tr class="fav-opt">
            			<td colspan="7">
            			        #if(!$msg)很遗憾，暂无数据#else $!msg #end
            			</td>
            		</tr>
            	    #end
            		#foreach ($record in $bankPayListPage.list)
                    <tr>
                        <td>#translate('ORD_PAY_WAY',$!{record.payWay})</td>
						<td><a href="javascript:void(0);" class="orderId">$!{record.id}</a></td>
						<td>#moneyNum($!{record.realMoney})</td>
						<td>#translate('ORD_ORDER_STATUS',$!{record.status})</td>
						<td>$!{record.shopName}</td>
                        <td>$!{record.staffName}</td>
						<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{record.payTime})</td>
                    </tr>
					#end
                    </tr>
                    </tbody>
                </table>

                <div class="row-fluid">
                    <div id="pageControlbar" class="ecppage" data-total-page="$!{bankPayListPage.totalPage}" data-total-row="$!{bankPayListPage.totalRow}" data-page-size="$!{bankPayListPage.pageSize}" data-page-number="$!{bankPayListPage.pageNumber}" data-status="begin"></div>
                </div>
</div>