#parse("sys/sys_param.vm")
#if($!{gdsList} && $!{gdsList.size()} > 0)
#foreach($gds in $!{gdsList})
<li>
    <a href="#if($!{gds.url} && $!{gds.url} !='')
				${CONTEXT_PATH}$!{gds.url}" target='_blank'
			#else 
				javascript:void(0);"
			#end>
        <div class="img-wrap">
            <img src="$!{gds.mainPic.URL}" alt="$!{gds.gdsName}"/>
        </div>
        <div class="cont">
            <p class="tit">$!{gds.gdsName}</p>

            <div class="c-orange">
           		#foreach($score in $!{gds.scores})
					#if($!{score.ifDefault} == '1')
						#if($!{score.score} && $!{score.score} != '' )
						<span class="">$!{score.score}积分</span>
						#end
						#if($!{score.score} && $!{score.score} != ''  && $!{score.price} && $!{score.price} != '' )
						+
						#end
						#if($!{score.price} && $!{score.price} != '' )
						<span class=""><em>¥</em>#moneyNum($!{score.price})</span>
						#end
					#end
				#end
            </div>
        </div>
    </a>
</li>
#end
#end

