 #parse("/sys/sys_param.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/seller/coupon/list/coup-type-list.js?version=$!{JS_VERSION}" ></script>
				 <table class="seller-table mt15 table-striped">
			                       <thead>
			                           <tr>
			                                <td >选择</td>
			                                <td >类型名称</td>
			                                <td >类别</td>
								            <td >使用规则</td>
								            <td >领取规则</td>
			                            </tr>
			                       </thead>
			                <tbody>
					        	#if(!$coupPage.getResult()||$coupPage.count==0)
					        		<tr><td colspan='5'>很遗憾，暂无数据。</td><tr>
					        	#end
					        	#foreach($attr in $coupPage.getResult())
				        		<tr>
				        			<td><input type="radio" name="1"  id="$!{attr.id}"/></td>
					                <td style="width:50px;">#escapeHtml("$!{attr.coupTypeName}")</td>
					                <td >
					                #if($!{attr.typeLimit} == '0')
					             		  平台券
					                #else
					             		   店铺券
					                #end</td>
					                <td class="td-hhtxt " > <div style="width: 450px">#escapeHtml(" $!{attr.useRuleCodeDesc}")</div></td>
					                <td >#escapeHtml("$!{attr.getRuleCodeDesc}")</td>
					            </tr>
								#end
						</tbody>
				</table>
			    <div class="fav-opt clearfix" style="margin-top: 20px;">
			        <div class="row-fluid">
						<div id="pageControlbar" class="ecppage" data-total-page="${coupPage.pageCount}" data-total-row="${coupPage.count}" data-page-size="${coupPage.pageSize}" data-page-number="${coupPage.pageNo}" data-status="begin"></div>
					</div>
			    </div>
