#parse("/sys/sys_head.vm")
#if($!{pc})
<link href="$!{CSS_PATH}/pageConfig/template-public.css" rel="stylesheet" type="text/css" media="screen"/>
#else
	  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
#end
<link href="$!{CSS_PATH}/pageConfig/phone/amazeui/amazeui.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="$!{CSS_PATH}/pageConfig/phone/template-public-phone.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="$!{CSS_PATH}/pageConfig/phone/template-mall-phone.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="$!{CSS_PATH}/pageConfig/phone/template-prom-phone.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="$!{BUSIJS_PATH}/pageConfig/pageConfigWap/amazeui/amazeui.js?version=$!{JS_VERSION}" ></script>
<script src="$!{BUSIJS_PATH}/pageConfig/pageConfigWap/util.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{RESOURCE_PATH}/javascript/requirejs/require.js?v=${JS_VERSION}"></script>
<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/website/extend/requirejs.common.js?v=${JS_VERSION}"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/pageConfigWap/edit/page-common-edit-wap.js?v=${JS_VERSION}"></script>
#if($!{pc})
	
#else
<script type="text/javascript" src="$!{BUSIJS_PATH}/pageConfig/pageConfigWap/flexible/flexible.js?v=${JS_VERSION}"></script>
#end
$screen_content

