#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript"
        src="$!{BUSIJS_PATH}/pageConfig/modular/modularPara-grid.js?version=$!{JS_VERSION}"></script>
<script type="text/javascript"
        src="$!{BUSIJS_PATH}/pageConfig/public/artTemplate/template-debug.js?version=$!{JS_VERSION}"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/cms/common/cms-util.js?version=$!{JS_VERSION}"></script>

<!--  隐藏域  保存查询条件-->
<input type="hidden" id="searchParams" value="$!{searchParams}"/>
<input type="hidden" id="searchModularParams" value="$!{searchModularParams}"/>
<input type="hidden" id="modularId" value="$!{modularId}"/>

<!--搜索区域-->
<div class="well well-searchForm">
    <form id="searchForm" class="form-horizontal" style="margin-bottom: 0px;">
        <div class="row-fluid">
            <div class="span4">
                <div class="control-group">
                    <label class="control-label">状态：</label>
                    <div class="controls">
                        <select id="siteId" name="status" class="input-medium ">
                            <option value="" selected >--请选择--</option>
							#listParam('CMS_STATUS',"")
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--操作按钮区域-->
<div class="row-fluid" style="margin-bottom: 10px;">
    <div class="span6">
	    #if ($!{isValid}!=1)
        <a class="btn" id="btn_select_prop" href="javascript:void(0)"><i class="icon-magic"></i>选择属性</a>
    	#end
	    <a class="btn" id="btn_code_return" href="javascript:void(0)"><i class="icon-reply icon-whit"></i>返回模块列表</a>
    </div>
    <div class="pull-right">
        <a class="btn btn-info" id="btnFormSearch" href="javascript:void(0)"><i class="icon-search icon-white"></i>查询</a>
        <a class="btn" id="btnFormReset" href="javascript:void(0)"><i class="icon-refresh"></i>重置</a>
    </div>
</div>

<!--列表区域-->
<div class="row-fluid">
    <table id="dataGridTable"></table>
</div>