
    <!--文本-->
    <div class="wrap1000">
        <div class="h-tit">
            上门自提
        </div>
        <div class="h-com">
            <p>为确保您现场取书及时，请来之前在网上下好订单，并<b>电话告知我们</b>您所需图书，我们会在两个工作日内配好书后与您联系。<p>
            <p>您也可以直接到人民卫生出版社邮购部付款取书（付款方式：现金、支票均可）<p>

        </div>
    </div>

