#parse("/sys/sys_param.vm")
    <!--文本-->
    <div class="wrap1000">
        <div class="h-tit">
            热点问题
        </div>
        <div class="h-com">
            <p><b>我已经付款了，但订单状态未修改是什么原因? </b></p>
            <br>
            <p>银行和邮局付款我们2-5天能收到汇款单，如果您汇款后长时间订单状态没有修改，请您跟我们联系或确认汇款信息是否准确。如果您选择的付款方式和您实际使用的付款方式不符，我们将无法人工修改您的订单状态。</p>
            <br>
            <p><b>怎样快速查到我需要的书? </b></p>
            <br>
            <p>首页的左侧中部“产品分类”处，您可以根据类别查找。或是在右上角搜索栏里，输入关键字查找。</p>
            <br>
            <p><b>如何知道此书是否有货? </b></p>
            <br>
            <p>图书带有购买橘色标识
                <img src="$IMAGE_PATH//buybtn.png" alt=""/>
                即为有货;带有灰色标识
                <img src="$IMAGE_PATH//qhbtn.png" alt=""/>
                则为暂时缺货;带有黑色标识
                <img src="$IMAGE_PATH//tybtn.png" alt=""/>
                表示此书已经不会再版; 如果没有标识，说明此书还没出版。对于缺货的图书，如果您大量需用书需求，请联系在线客服，我们会帮您核实能否加印。</p>
            <br>
            <p><b>网购可以通过何种方式支付? </b></p><br>
            <p>邮局汇款，银行汇款，在线支付，上门付款。</p>
            <br>
            <p><b>你们多长时间能收到款，我们多长时间能收到书? </b></p><br>
            <p>银行/邮局还需要经过打印、整理、汇兑等过程，所以我们收到汇款单一般需要2~5天左右。在线支付为实时到帐</p>
            <p><b>到货时间：</b>邮局挂号为1-2周，快递为1-5天。</p>
            <br>
            <p><b>我需要最新的书目应该如何索取？</b></p><br>
            <p>您可以再订单的备注处标明“需要最新书目”，我们将会将书目随您的定书一起寄给您。</p>
            <br>
            <p><b>订单状态是什么意思? </b></p><br>
            <p>等待付款： 请按照确认后的预计支付金额汇款，为了及时发货，汇完款后请在订购人留言下输入付款信息，这样能方便我们及时查收汇款。</p>
            <p>付款已确认：您已经提交了您的汇款信息，我们将在第一时间为您确认汇款。因部分银行不是实时到帐，获得确认的时间不尽相同。</p>
            <p>已发货： 您的订单所购货物已经从货运承运处发出，并有了回执信息，一旦您收到货物，确认无误后请登录网上书店，对此订单进行收货确认。</p>
        </div>
    </div>

