#parse("/sys/sys_param.vm")
    <!--文本-->
    <div class="wrap1000">
        <div class="h-tit">
            上门支付
        </div>
        <div class="h-com">

            <p>您也可以直接到人民卫生出版社邮购部付款取书（付款方式：现金、支票均可）。</p>
            <p>请来之前与工作人员取得联系:17310925570 ，17310865575</p>
            <br>
            <p class="red">温馨提示</p>
            <p class="red">抱歉我们目前不提供以下支付方式</p>
            <p class="red">货到付款或刷卡服务。</p>
            <br>
            <p><b>人民卫生出版社乘车路线：</b></p>
            <p>乘37、51、122、434、特3、特12 到“肿瘤医院”下车，路东即到。</p>
            <p>乘34（孛罗营 → 虎坊桥 方向）、36到“潘家园路西口” 下车，向西行约200米路南即到。</p>
            <p>乘34（虎坊桥 → 孛罗营 方向）到“华威西里” 下车，向西行约600米路南即到。</p>
            <br>
            <p>地铁十号线潘家园站，A口出，乘坐36到“潘家园路西口”下车，向西行约200米路南即到。乘34到“潘家园路西口”下车，向西行约600米路南即到。</p>
            <br>
            <p><img src="$IMAGE_PATH/dz-img.jpg" alt=""/></p>
        </div>
    </div>

