#parse("/sys/sys_param.vm")
   <!--文本-->
    <div class="wrap1000">
        <div class="h-tit">
            购物流程
        </div>
        <div class="h-com">
            <p class="h-img"><img src="$IMAGE_PATH/help-images.jpg" alt=""/></p>

            <p>1. 老用户：直接输入用户名和密码登陆。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;新用户：注册用户成为会员（现在去注册）</p>
            <p>2. 挑选商品，并检查购物信息是否准确。</p>
            <p>3. 放入购物车。</p>
            <p>4. 进入结算中心。</p>
            <p>5. 填写收货人信息。</p>
            <p>6. 选择付款方式。 　　</p>
            <p>7. 选择配送方式。</p>
            <p>8. 提交订单。</p>
            <p>完成上述所有流程后您可以点击＂提交订单＂，订单提交以后页面会提示订单号。</p>
            <br>
            <p><b>购物提示：</b></p>
            <br/>　
            <p>1. 订单状态解释：</p>
            <p>（1）待付款： 请按照确认后的总金额支付汇款，为了及时发货，汇完款后请在订购人留言下输入付款信息，这样能方便我们
                及时查收汇款。</p>

            <p>（2）已付款： 您已经提交了您的汇款信息，我们将在第一时间为您确认汇款。因部分银行不是实时到帐，获得确认的时间不
                尽相同。</p>

            <p>（3）已发货： 您的订单所购货物已经从货运承运处发出，并有了回执信息。</p>
            <br/>
            <p> 2. 如果长时间未收到商品可能出现的问题：</p>

            <p>（1）输入付款信息： 为了及时发货，您在汇完款后，请在订购人留言处输入您的付款信息，以便我们财务人员及时查收汇款。</p>
            <p>（2）订单中的收货地址、邮编、电话、e-mail地址等信息错误或不详细会影响您订单的配送，所以，请您确保以上各项信息的
                准确性，以便商品及时、准确地发出。</p>
            <p>（3）汇款到达但是遇到收货地址不详、汇款金额不足或库存不足的订单，我们将主动和您联系。</p>
            <p>（4）可能在运输过程中，由于不可抗力造成延迟。</p>
            <br/>
            <p>3. 发票制度说明：</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;发票开具：在提交订单页面时可以修改发票开具。您可以填写抬头，并从下拉菜单中选择发票内容。</p>
            <p>（1）我们提供的发票可用作单位报销使用。</p>
            <p>（2）如需发票，请在提交订单前在“发票开具”处填写发票抬头、选择发票内容。发票将随商品一起送到。</p>
            <p>（3）发票的内容栏内原则上只允许使用“图书”和“电子音像制品”，如有特殊要求请在订购人留言里说明。</p>
            <p>（4）一个包裹对应一张发票，发票会随每次包裹一同发出。</p>
            <br/><br/>

            <p class="red">如果您在收到货物时请检查发票，并在送货签收单上签字，一旦签字即代表您已收到发票，并且发票无误。对于顾客人为因素引起
                的发票遗失，我们无法为您补开发票。</p>
        </div>
    </div>

</div>
