
    <!--文本-->
    <div class="wrap1000">
        <div class="h-tit">
            网上支付
        </div>
        <div class="h-com">
            <p>选择在线支付先确认您的银联卡已开通网上银行业务，否则您将无法完成在线支付。</p>
            <br>
            <p>造成“支付被拒绝”的常见原因</p><br>
            <p>· 所持银联卡尚未开通网上在线支付功能</p>
            <p>· 所持银联卡已过期、作废、挂失</p>
            <p>· 所持银联卡内余额不足</p>
            <p>· 输入银联卡卡号或密码不符</p>
            <p>· 输入证件号不符</p>
            <p>· 银行系统数据传输出现异常</p>
            <p>· 网络中断</p>
        </div>
    </div>

