
    <!--文本-->
    <div class="wrap1000">
        <div class="h-tit">
            邮局汇款
        </div>
        <div class="h-com">

            <p>汇款地址：北京朝阳区潘家园南里19号世界医药图书大厦B座人民卫生出版社</p>
            <p>邮　　编：100021</p>
            <p>收 款 人：邮购部</p>
            <p>收款时间一般为款汇出后的3-5个工作日内。</p>
            <br><br>
            <p class="red"><b>注意事项：</b> </p>
            <p class="red">在办理汇款时，请您在电汇单上附言栏中注明订单号（非常重要！！！）。因为邮局方面的原因，您留下的订单号可能无法在电汇单上显示出来，这样将造成我们无法查到订单号以致延误订单发出。请您务必确认是否在汇款单中留好订单号。 
            如果在您汇款一段时间后，订单仍然没有确认收款，请与我们在线客服联系</p>
            <br>
            <p class="red">联系人：李梦迪</p>
            <p class="red">电　话：（010）59787351</p>
            <p class="red">邮　箱：yougoubu@163.com</p>
			<!--
            <p class="red">Q Q　：3090494419</p>
			-->
        </div>
    </div>

