                 <!--按钮-->
                <div class="heading ">
                   <button class="btn btn-primary" id="btnEditCategory">编辑 </button>
                </div>
				<!--表单-->
                <form class="form-horizontal" id="viewForm">
                    <div class="row-fluid">
                        <div class="span6">
							<div class="control-group">
                                <label for="" class="control-label">分类编码：</label>
                                <div class="controls">
                                    <input class="required input-block-level" type="text" name="catgCode" id="v-catg-code" readonly="readonly" >
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="" class="control-label">名称：</label>
                                <div class="controls">
                                    <input class="required input-block-level" type="text" name="catgName" id="v-catg-name" readonly="readonly" >
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="" class="control-label">上级分类：</label>
                                <div class="controls">
                                    <input class="input-block-level" type="text" type="text" disabled="disabled" name="parentName" id="v-parent-name" readonly="readonly" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="" class="control-label">排序：</label>
                                <div class="controls">
                                    <input class="input-block-level" type="text" name="sortNo" id="sort-no" readonly="readonly" />
                                </div>
                            </div>
							
							<div class="control-group">
                                <label for="" class="control-label">店铺：</label>
                                <div class="controls">
									<select name="shopId" id="v-shop-id" class="required" disabled="disabled">
										<option value="">-请选择-</option>
										#sellerList($!{reqVO.shopId})
                                    </select>
                                </div>
                            </div>
							
							<!--
							<div class="control-group">
                                <label for="" class="control-label">归属目录：</label>
                                <div class="controls">
									<select name="catlogId" id="v-catlog-id" class="required input-block-level" disabled="disabled">
										<option value="">-请选择-</option>
										#catlogList($!{reqVO.catlogId})
                                    </select>
                                </div>
                            </div>
							
                            <div class="control-group">
                                <label for="" class="control-label">URL：</label>
                                <div class="controls">
                                    <input class="input-block-level" type="text" name="catgUrl" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="" class="control-label">在首页展示：</label>
                                <div class="controls">
                                    <label class="radio inline sType-check">
                                        <input type="radio" name="ifShow" value="1" disabled="disabled" > 是
                                    </label>
									<label class="radio inline sType-check">
                                        <input type="radio" name="ifShow" value="0" checked="checked" disabled="disabled" > 否
                                    </label>
                                </div>
                            </div>
							-->
                        </div>
                        <div class="span6 sType-upload">
                            <div class="img-wrap">
								<img src="$!{IMAGE_PATH}/seller-def.png" alt="" id="view-imgPreviewHold" style="display:none">
							    <img src="$!{IMAGE_PATH}/seller-def.png" alt="" id="view-imgPreview" style="display:none">
                            </div>
                            <div class="sType-info">
                                图片格式必须是：jpg,png,jpeg,gif,bmp,并且小于100k
                            </div>
                        </div>
                    </div>
                </form>

    <!-- main content -->


