<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>模板配置预览</title>
    #parse("/sys/sys_head.vm")
    <link href="$!{CSS_PATH}/pageConfig/template-public.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="$!{CSS_PATH}/pageConfig/template-config.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="$!{CSS_PATH}/pageConfig/template-prom.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="$!{CSS_PATH}/pageConfig/template-shop.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="$!{CSS_PATH}/pageConfig/template-mallIndex.css" rel="stylesheet" type="text/css" media="screen"/>
	<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/manage/extend/ebc.date.js"></script>
</head>

<body>
$screen_content
</body>
</html>

