#set($title = "")##标题
#set($ifShowTitle = "")##是否显示标题
#set($icon = "")##图标
#set($ifShowIcon = "")##是否显示图标
#set($ifAnalys = "")##是否取行为分析自动获取
#set($componentMethod = "")##组件标识符  只有其有值才会执行组件
#set($crossItemObj = "")
##判断是否是发布页面
#if($!{pagePub})
	#set($crossItemObj = $!{crossItem.itemPropPubRespDTOList})
#else
	#set($crossItemObj = $!{crossItem.itemPropPreRespDTOList})
#end
##判断是否为编辑页且是否配置属性   如果为编辑页且没有配置属性  则将类名设为空  使其无法激活组件方法  但依然会引入组件  使局部刷新可实现
#if(true != $!{pageEdit} || ($!{crossItemObj} && $!{crossItemObj.size()}>0))
	#set($componentMethod = $!{crossItem.modularRespDTO.modularComponentRespDTO.componentRespDTO.componentMethod})
#end

#foreach($prop in $crossItemObj)
	#if($!{prop.propId}=="1000")
		##标题
		#set($title = "$!{prop.propValue}")
	#elseif($!{prop.propId}=="1001" && $!{prop.propValue}=="1")
		##是否展示标题。0表示不展示标题
		#set($ifShowTitle = "true")
	#elseif($!{prop.propId} == "1008")
		##图标
		#set($icon = "$!{prop.propValue}")
	#elseif($!{prop.propId} == "1009" && $!{prop.propValue}=="1")
		##是否显示图标
		#set($ifShowIcon = "true")
	#elseif($!{prop.propId}=="1022" && $!{prop.propValue}=="1")
		##行为分析
		#set($ifAnalys = "true")
	#end
#end
#set($reqAttr ="data-status='1' data-gds-size='5' data-if-analys='$!{ifAnalys}' data-place-width='150' data-place-height='150'")
<!--猜你喜欢 start-->
<div class="mallTpl-fav ecp-component $!{componentMethod}"  $!{reqAttr} data-component-method="$!{componentMethod}"  data-module="$!{crossItem.modularRespDTO.modularComponentRespDTO.componentRespDTO.componentUrl}">
    #if(!$!{componentMethod} || '' == $!{componentMethod})
		##判断是否已经配置了模板相应的属性
	   	#parse("/pageConfig/pageConfig/edit/nodata/modular-nodata.vm")
	#else
	    #if($ifShowTitle =="true")
	    <div class="modular-head">
	    		#if($ifShowIcon == "true" && $icon && $icon != '')
					<i class="ficon" style="background:url(${aiTool.genImageUrl($!{icon},'25x25!')})"></i>
				#end
	    	$!{title}
	    </div>
	    #end
	    <div class="modular-body">
	        <div class="fav-wrap guess-data-body" style="min-height:267px;">
	            <ul class="tpl-books">
	                <div class='tpl-loading'></div>
	            </ul>
	            <div class="favList">
	            </div>
	        </div>
	    </div>
	#end
</div>
<!--猜你喜欢 end-->