#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
#parse("sys/sys_param.vm")
#parse("/module/mod-editor.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/goods/type/gds-type-propconfig.js?version=$!{JS_VERSION}" ></script>

<!-- main content -->
	<div class="heading">
	   属性配置
	</div>
	
	<input type="hidden" id="typeId" value="$!{respDTO.id}" />
	
<form class="form-horizontal" style="margin-bottom: 0px;" id="propBaseInfoForm">
    <div class="row-fluid">
    	<div class="span4">
    		<div class="control-group">
    			<label class="control-label">类型编码：</label>
    			<div class="controls">
    			     <input type="text" name="typeId" value="$!{respDTO.id}" class="input-medium" readonly/>
    			</div>
    		</div>
    	</div>
    	<div class="span4">
    		<div class="control-group">
    			<label class="control-label">类型名称：</label>
    			<div class="controls">
    			     <input type="text" name="typeName" value="$!{respDTO.typeName}" class="input-medium" readonly/>
    			</div>
    		</div>
    	</div>
    </div>
</form>
<div class="heading">
    			已配置属性
</div>
<div class="well well-searchForm">
	<form id="configedPropsForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" onsubmit="return false;">
    	<div class="row-fluid">
			<div class="span4">
    			<div class="control-group">
    				<button type="button" class="btn btn-danger" id="batch-del-props"><i class="icon-trash icon-white"></i> 批量删除</button>
    			</div>
            </div>
    		<div class="span8">
    			<div class="control-group">
    				<label class="control-label">属性名称：</label>
    				<div class="controls">
						<input type="hidden" name="typeId" value="$!{respDTO.id}"/>
    					<input type="text" name="propName" class="input-medium htmlcheck" value="" placeholder="输入属性名称查询">
							<button type="button" class="btn btn-info" id="search-btn-3"><i class="icon-search"></i> 查询</button>
    				</div>
    			</div>
    		</div>
    		<div class="clear"></div>
    	</div>
	</form>
</div>

<div class="row-fluid">
    <div style=" height:300px;overflow:auto;">
	  <table id="configedPropGridTable"></table>
    </div>
</div>
	
<div class="heading">
            可选属性
</div>

<div class="well well-searchForm">
	<form id="optionalPropsForm" class="form-horizontal  required-validate" style="margin-bottom: 0px;" onsubmit="return false;">
    	<div class="row-fluid">
			<div class="span4">
    			<div class="control-group">
    				<button type="button" class="btn" id="batch-add-props">批量添加</button>
    			</div>
            </div>
    		<div class="span8">
    			<div class="control-group">
    				<label class="control-label">属性名称：</label>
    				<div class="controls">
						<input type="hidden" name="typeId" value="$!{respDTO.id}"/> 
    					<input type="text" name="propName" class="input-medium htmlcheck" value="" placeholder="输入属性名称查询"/>
							<button type="button" class="btn" id="search-btn-4">查询</button>
    				</div>
    			</div>
    		</div>
    		<div class="clear"></div>
    	</div>
	</form>
</div>
<div class="row-fluid">
    <div style=" height:300px;overflow:auto;">
	  <table id="optionalPropGridTable"></table>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
		<center>
	       <button type="button" class="btn" id="btnPropBack">返回</button>
	   </center>
    </div>
</div>
