#parse("sys/sys_param.vm")

<div class="ui-content-fixBottom">
	#parse("/search/search-box-homepage.vm")
	#if($!{noRelease}) ##未发布商城首页
		</br>
		</br>
		</br>
	    <div class="phone-modular tpl-slider">
			<div class="modular-body">
				<div class="nodata" style="height:90px;text-align:center;padding-top:30px;">
					<span style="color:red;">积分商城首页未配置！</span>
				</div>
			</div>
		</div>
	#else
		#parse("/pageConfig/pageConfigWap/publish/page-common-publish-wap.vm")
	#end
</div>
<script>##用于底部栏目切换  必须在main-bottom-navbar之前
$(function(){
	$.cookie('SUPPORT-WEB-COOKIE-MOUDEL', "homepage", {path : '/'});
});
</script>
#parse("/main/main-bottom-navbar.vm")

