<div class="item">
    <div class="mod-dprice">
        <div class="d-content">
            <table>
                <tbody>
                    <tr class="amount">
						<td class="amount-title ladder-3">起批量</td>
						#foreach($priceInfo in $!{gdsDetailInfo.prices})
                            <td class="ladder-3-$velocityCount">
                                <span class="value">≥$!{priceInfo.price.startAmount}</span>
                                <span class="unit">件</span>
                            </td>
						#end
                    </tr>
                    <tr class="price">
                        <td class="price-title ladder-3">价格</td>
						#foreach($priceInfo in $!{gdsDetailInfo.prices})
                            <td class="ladder-3-$velocityCount">
                                <span class="value ">#money($!{priceInfo.price.price})</span>
                            </td>
						#end
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="line-dash"></div>
<div class="item ">
	#set($onePropId = '')
	#set($oneSelectPropId = '')
	#foreach($param in $!{gdsDetailInfo.params})
		#if($velocityCount==1)
			#set($onePropId = $!{param.id})
            <label>
					选择$!{param.propName}
            </label>
            <div class="check-switch">
        		 #foreach($value in $!{param.values})
					#if($velocityCount==1)
						#set($oneSelectPropId = $!{value.id} ) 
					#end
                    <label class="#if($velocityCount==1)selected#end">
                        <input type="checkbox"/>
            				$!{value.propValue}
                    </label>
        		 #end
            </div>
		#end
	#end
</div>
<div class="item mb10">
    <div class="pro-kc">
        <div class="d-content">
            <table class="pro-sku">
                <tbody>
					<tr>
						#foreach($sku in $!{gdsDetailInfo.skuInfos})
							#if($velocityCount==1)
        						#set($selected = '')
        						#foreach($prop in $!{sku.props})
    								#if($onePropId != $!{prop.id})
    									<td>$!{prop.propName}</td>
    								#end
    							#end
							#end
						#end
						<td>单价（元）</td>
						<td>剩余库存</td>
						<td>数量</td>
					</tr>
					#foreach($sku in $!{gdsDetailInfo.skuInfos})
						#set($selected = '')
						#foreach($prop in $!{sku.props})
							#foreach($value in $!{prop.values})
								#if($oneSelectPropId == $!{value.id})
									#set($selected = '1')
								#end
							#end
						#end
						#if($selected == '1')
							<tr>
                                #foreach($prop in $!{sku.props})
    								#if($onePropId != $!{prop.id})
        								#foreach($value in $!{prop.values})
        									<td class="name">
        									$!{value.propValue}
        									</td>
        								#end
    								#end
    							#end
                            <td class="price">
                                <span>
                                    <em class="value">
    									</em>
    									#foreach($skuPrice in $!{sku.sku2PriceRespDTOs})
    										#moneyNum($!{skuPrice.price.price})
    									#end
    									<em class="price-unit">元</em>
                                </span>
                            </td>
                            <td class="count">
                                <span>
                                    <em class="value">$!{sku.realAmount}</em>
                                    <em class="unit">件</em>
                                    <em class="txt">可售</em>
                                </span>
                            </td>
                            <td class="amount">
                                <div class="count-input">
                                    <a href="#" class="minus">-</a>
                                    <input name="" class="itxt" type="text" value="0">
                                        <a href="#" class="add">+</a>
                        		</div>
    							<span class="no-control fd-hide" style="display: none;">缺货</span>
                        	</td>
                        </tr>
					#end
					#end
				</tbody>
			</table>
		</div>
</div>
<div class="prosku-list" style="display: block;">
    <div class="list-total">
        <p class="amount">
            <span class="value">0</span>
            <span class="unit">件</span>
        </p>
        <p class="price">
            <span class="value">0</span>
            <span class="price-unit">元</span>
        </p>
        <!-- <p class="profit">
        <span class="icon-belt-card"></span>
        <span class="profit-info">市场返利
        <span class="profit-value">2.00 元</span>
        </span>
        </p>
        -->
    </div>
    <script>
        $(function(){
        $('.list-selected').click(function(e){
        	$(this).toggleClass('expand');
        e.preventDefault();
        });
        })
    </script>
    <div class="list-selected" style="z-index: 1;">
        <a href="#" class="link-list">
            <span class="link-list-txt">
                已选清单
                <!-- <i class="micon micon-down">
                <em></em>
                <span></span>
                </i>
                -->
            </span>
        </a>
        <div class="list-info">
            <table class="table-list">
                <tbody>
                    <tr class="last-row">
                        <td class="prop">五座健康皮毛刺底</td>
                        <td class="amount">
                            <span class="value">4</span>
                            <span class="unit">件</span>
                        </td>
                        <td class="desc">
                            <ul>
                                <li>
                                    <span class="name">古典枣红</span>
                                    <span class="ch-num">
											（<em class="value">1</em>）
                                    </span>
                                </li>
                                <li>
                                    <span class="name">古典枣红</span>
                                    <span class="ch-num">
											（<em class="value">1</em>）
                                    </span>
                                </li>
                                <li>
                                    <span class="name">古典枣红</span>
                                    <span class="ch-num">
											（<em class="value">1</em>）
                                    </span>
                                </li>
                                <li>
                                    <span class="name">古典枣红</span>
                                    <span class="ch-num">
											（<em class="value">1</em>）
                                    </span>
                                </li>
                                <li>
                                    <span class="name">古典枣红</span>
                                    <span class="ch-num">
											（<em class="value">1</em>）
                                    </span>
                                </li>
                                <li>
                                    <span class="name">古典枣红</span>
                                    <span class="ch-num">
											（<em class="value">1</em>）
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
        </div>
