
#parse("sys/sys_param.vm")
<script type="text/javascript" src="$BUSIJS_PATH/seller/order/delyed-list.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/manage/extend/ebc.date.js" ></script>

<div >

                <table class="seller-table">
                    <thead>
                    <tr>
                        <td style="width: 170px">订单编号</td>
                        <td style="width: 150px">下单日期</td>
                        <td style="width: 150px">支付时间</td>
                        <td>实付金额</td>
                        <td>联系人</td>
                        <td>配送方式</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
					#if(!$delyedListPage.list || $delyedListPage.list.size() == 0)
            	       <tr class="fav-opt">
            			<td colspan="7">
            			        #if(!$msg)很遗憾，暂无数据#else $!msg #end
            			</td>
            		</tr>
            	    #end
            		#foreach ($record in $delyedListPage.list)
                    <tr>
                        <td><a href="javascript:void(0);" class="orderId">$!{record.orderId}</a></td>
						<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{record.orderDate})</td>
                        <td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{record.payTime})</td>
                        <td>#moneyNum($!{record.realMoney})</td>
                        <td>$!{record.contactName}</td>
                        <td>#translate('STAFF_SHOP_DISTRIBUTION_WAY',$!{record.dispatchType})</td>
                        <td><a href="javascript:void(0);" onclick="delivery_list.publish('$!{record.orderId}')">发货</a></td>
                    </tr>
					#end
                    </tr>
                    </tbody>
                </table>

                <div class="row-fluid">
                    <div id="pageControlbar" class="ecppage" data-total-page="$!{delyedListPage.totalPage}" data-total-row="$!{delyedListPage.totalRow}" data-page-size="$!{delyedListPage.pageSize}" data-page-number="$!{delyedListPage.pageNumber}" data-status="begin"></div>
                </div>
</div>