#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/manage/extend/ebc.date.js" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/goods/gift/gift-grid.js?version=$!{JS_VERSION}" ></script>

		<div class="well well-searchForm">
			<form id="searchForm" class="form-horizontal required-validate" style="margin-bottom: 0px;" method="post">
			<div class="row-fluid">
				<div class="span4">
					<div class="control-group">
						<label class="control-label">店铺名称：</label>
						<div class="controls" >
							<select id="shopId" name="shopId">
								#shoplist($!{shopId})
                            </select>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="control-group">
						<label class="control-label">赠品编码：</label>
						<div class="controls">
							<input type="text" name="giftId" class="input-medium digits" value="" placeholder="输入赠品编码">
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="control-group">
						<label class="control-label">赠品名称：</label>
						<div class="controls">
							<input type="text" name="giftName" class="input-medium" value="" placeholder="输入赠品名称">
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			</form>
		</div>
		
		
		<div class="row-fluid" style="margin-bottom: 10px;">
			<div class="span8">
				<a class="btn" id="btn_code_add" href="#"><i class="icon-plus icon-white"></i> 新增赠品</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-info" id="btnFormSearch" href="#"><i class="icon-search icon-white"></i> 查询</a>
				<a class="btn" id="btnFormReset" href="#"><i class="icon-refresh"></i> 重置</a>
			</div>
		</div>
	
		<div class="row-fluid">
			<table id="dataGridTable"></table>
		</div>
			
		<form id="hiddenId" method="post" action="${CONTEXT_PATH}/search/doSearch">
			<input type="hidden" value="$!{shopId}" id="goShopId" name="goShopId"/>
        </form>