<li class="caroSwitch$fixed addsymbo">
    +
</li>
<li class="caroSwitch$fixed">
    <div class="p-img">
        <a href="${CONTEXT_PATH}/gdsdetail/$!{info.skuInfo.gdsId}-$!{info.skuInfo.id}">
            <img width="150" height="150" src="${aiTool.genImageUrl($!{info.skuInfo.mainPic.mediaUuid},'150x150!')}" alt=""/>
        </a>
    </div>
    <p class="p-name">
        <a href="${CONTEXT_PATH}/gdsdetail/$!{info.skuInfo.gdsId}-$!{info.skuInfo.id}">
            $!{info.skuInfo.gdsName}
        </a>
    </p>
    <p class="p-actor c-gray">
        #foreach($value in $!{info.skuInfo.allPropMaps.get('1001').values})
			$!{value.propValue}
        #end
    </p>
	<input type="hidden" gdsStatus="$!{info.skuInfo.gdsStatus}" index="$velocityCount" name="fixedCombineCheck" gdsTypeId='$!{info.skuInfo.gdsTypeId}' promId='$!{info.promId}' mainCatgs="$!{info.skuInfo.mainCatgs}" name="combineCheck" gdsName='$!{info.skuInfo.gdsName}' gdsId='$!{info.skuInfo.gdsId}' skuId='$!{info.skuInfo.id}' skuProps='$!{info.skuInfo.skuProps}'>
    <p class="p-pri">
        <b class="c-red">
				&yen;<font name="combinePriceAfter">#moneyNum($!{info.price})</font>
        </b>
        <b class="c-gray t-mline">
				&yen;<font name="combinePrice">#moneyNum($!{info.skuInfo.realPrice})</font>
        </b>
    </p>
</li>
#set($buyprice = ($buyprice + $!{info.price}))
#set($yuanprice = ($yuanprice + $!{info.skuInfo.realPrice}))
#set($cutprice =  ($cutprice +( $!{info.skuInfo.realPrice} - $!{info.price})))