<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.coupon.dao.mapper.common.CoupTypeLogMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.coupon.dao.model.CoupTypeLog" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="COUP_TYPE_NAME" property="coupTypeName" jdbcType="VARCHAR" />
    <result column="USE_RULE_CODE" property="useRuleCode" jdbcType="VARCHAR" />
    <result column="GET_RULE_CODE" property="getRuleCode" jdbcType="VARCHAR" />
    <result column="TYPE_LIMIT" property="typeLimit" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="INTEGER" />
    <result column="CREATE_TIME_LOG" property="createTimeLog" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF_LOG" property="createStaffLog" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TYPE_ID, COUP_TYPE_NAME, USE_RULE_CODE, GET_RULE_CODE, TYPE_LIMIT, STATUS, SORT_NO, 
    REMARK, CREATE_TIME, CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF, CREATE_TIME_LOG, CREATE_STAFF_LOG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.coupon.dao.model.CoupTypeLogCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_coup_type_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_coup_type_log
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_coup_type_log
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.coupon.dao.model.CoupTypeLogCriteria" >
    delete from t_coup_type_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.coupon.dao.model.CoupTypeLog" >
    insert into t_coup_type_log (ID, TYPE_ID, COUP_TYPE_NAME, 
      USE_RULE_CODE, GET_RULE_CODE, TYPE_LIMIT, 
      STATUS, SORT_NO, REMARK, 
      CREATE_TIME, CREATE_STAFF, UPDATE_TIME, 
      UPDATE_STAFF, CREATE_TIME_LOG, CREATE_STAFF_LOG
      )
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{coupTypeName,jdbcType=VARCHAR}, 
      #{useRuleCode,jdbcType=VARCHAR}, #{getRuleCode,jdbcType=VARCHAR}, #{typeLimit,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateStaff,jdbcType=INTEGER}, #{createTimeLog,jdbcType=TIMESTAMP}, #{createStaffLog,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.coupon.dao.model.CoupTypeLog" >
    insert into t_coup_type_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="coupTypeName != null" >
        COUP_TYPE_NAME,
      </if>
      <if test="useRuleCode != null" >
        USE_RULE_CODE,
      </if>
      <if test="getRuleCode != null" >
        GET_RULE_CODE,
      </if>
      <if test="typeLimit != null" >
        TYPE_LIMIT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="sortNo != null" >
        SORT_NO,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="createTimeLog != null" >
        CREATE_TIME_LOG,
      </if>
      <if test="createStaffLog != null" >
        CREATE_STAFF_LOG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="coupTypeName != null" >
        #{coupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="useRuleCode != null" >
        #{useRuleCode,jdbcType=VARCHAR},
      </if>
      <if test="getRuleCode != null" >
        #{getRuleCode,jdbcType=VARCHAR},
      </if>
      <if test="typeLimit != null" >
        #{typeLimit,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="createTimeLog != null" >
        #{createTimeLog,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaffLog != null" >
        #{createStaffLog,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.coupon.dao.model.CoupTypeLogCriteria" resultType="java.lang.Long" >
    select count(*) from t_coup_type_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_coup_type_log
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null" >
        TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.coupTypeName != null" >
        COUP_TYPE_NAME = #{record.coupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.useRuleCode != null" >
        USE_RULE_CODE = #{record.useRuleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.getRuleCode != null" >
        GET_RULE_CODE = #{record.getRuleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.typeLimit != null" >
        TYPE_LIMIT = #{record.typeLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNo != null" >
        SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      </if>
      <if test="record.createTimeLog != null" >
        CREATE_TIME_LOG = #{record.createTimeLog,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaffLog != null" >
        CREATE_STAFF_LOG = #{record.createStaffLog,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_coup_type_log
    set ID = #{record.id,jdbcType=INTEGER},
      TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      COUP_TYPE_NAME = #{record.coupTypeName,jdbcType=VARCHAR},
      USE_RULE_CODE = #{record.useRuleCode,jdbcType=VARCHAR},
      GET_RULE_CODE = #{record.getRuleCode,jdbcType=VARCHAR},
      TYPE_LIMIT = #{record.typeLimit,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=INTEGER},
      CREATE_TIME_LOG = #{record.createTimeLog,jdbcType=TIMESTAMP},
      CREATE_STAFF_LOG = #{record.createStaffLog,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.coupon.dao.model.CoupTypeLog" >
    update t_coup_type_log
    <set >
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="coupTypeName != null" >
        COUP_TYPE_NAME = #{coupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="useRuleCode != null" >
        USE_RULE_CODE = #{useRuleCode,jdbcType=VARCHAR},
      </if>
      <if test="getRuleCode != null" >
        GET_RULE_CODE = #{getRuleCode,jdbcType=VARCHAR},
      </if>
      <if test="typeLimit != null" >
        TYPE_LIMIT = #{typeLimit,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      </if>
      <if test="createTimeLog != null" >
        CREATE_TIME_LOG = #{createTimeLog,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaffLog != null" >
        CREATE_STAFF_LOG = #{createStaffLog,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.coupon.dao.model.CoupTypeLog" >
    update t_coup_type_log
    set TYPE_ID = #{typeId,jdbcType=INTEGER},
      COUP_TYPE_NAME = #{coupTypeName,jdbcType=VARCHAR},
      USE_RULE_CODE = #{useRuleCode,jdbcType=VARCHAR},
      GET_RULE_CODE = #{getRuleCode,jdbcType=VARCHAR},
      TYPE_LIMIT = #{typeLimit,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      SORT_NO = #{sortNo,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=INTEGER},
      CREATE_TIME_LOG = #{createTimeLog,jdbcType=TIMESTAMP},
      CREATE_STAFF_LOG = #{createStaffLog,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
