<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengshi.ecp.staff.dao.mapper.common.DataAuthMapper" >
  <resultMap id="BaseResultMap" type="com.zengshi.ecp.staff.dao.model.DataAuth" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="AUTH_CODE" property="authCode" jdbcType="VARCHAR" />
    <result column="FUNC_ID" property="funcId" jdbcType="INTEGER" />
    <result column="AUTH_TYPE" property="authType" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="VARCHAR" />
    <result column="SYS_CODE" property="sysCode" jdbcType="VARCHAR" />
    <result column="AUTH_SRC" property="authSrc" jdbcType="INTEGER" />
    <result column="AUTH_DESC" property="authDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, AUTH_CODE, FUNC_ID, AUTH_TYPE, ENABLED, SYS_CODE, AUTH_SRC, AUTH_DESC
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zengshi.ecp.staff.dao.model.DataAuthCriteria" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_data_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_data_auth
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_data_auth
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zengshi.ecp.staff.dao.model.DataAuthCriteria" >
    delete from t_data_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zengshi.ecp.staff.dao.model.DataAuth" >
    insert into t_data_auth (ID, NAME, AUTH_CODE, 
      FUNC_ID, AUTH_TYPE, ENABLED, 
      SYS_CODE, AUTH_SRC, AUTH_DESC
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{authCode,jdbcType=VARCHAR}, 
      #{funcId,jdbcType=INTEGER}, #{authType,jdbcType=VARCHAR}, #{enabled,jdbcType=VARCHAR}, 
      #{sysCode,jdbcType=VARCHAR}, #{authSrc,jdbcType=INTEGER}, #{authDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zengshi.ecp.staff.dao.model.DataAuth" >
    insert into t_data_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="authCode != null" >
        AUTH_CODE,
      </if>
      <if test="funcId != null" >
        FUNC_ID,
      </if>
      <if test="authType != null" >
        AUTH_TYPE,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
      <if test="sysCode != null" >
        SYS_CODE,
      </if>
      <if test="authSrc != null" >
        AUTH_SRC,
      </if>
      <if test="authDesc != null" >
        AUTH_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null" >
        #{funcId,jdbcType=INTEGER},
      </if>
      <if test="authType != null" >
        #{authType,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="authSrc != null" >
        #{authSrc,jdbcType=INTEGER},
      </if>
      <if test="authDesc != null" >
        #{authDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zengshi.ecp.staff.dao.model.DataAuthCriteria" resultType="java.lang.Long" >
    select count(*) from t_data_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_data_auth
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.authCode != null" >
        AUTH_CODE = #{record.authCode,jdbcType=VARCHAR},
      </if>
      <if test="record.funcId != null" >
        FUNC_ID = #{record.funcId,jdbcType=INTEGER},
      </if>
      <if test="record.authType != null" >
        AUTH_TYPE = #{record.authType,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null" >
        ENABLED = #{record.enabled,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCode != null" >
        SYS_CODE = #{record.sysCode,jdbcType=VARCHAR},
      </if>
      <if test="record.authSrc != null" >
        AUTH_SRC = #{record.authSrc,jdbcType=INTEGER},
      </if>
      <if test="record.authDesc != null" >
        AUTH_DESC = #{record.authDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_data_auth
    set ID = #{record.id,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      AUTH_CODE = #{record.authCode,jdbcType=VARCHAR},
      FUNC_ID = #{record.funcId,jdbcType=INTEGER},
      AUTH_TYPE = #{record.authType,jdbcType=VARCHAR},
      ENABLED = #{record.enabled,jdbcType=VARCHAR},
      SYS_CODE = #{record.sysCode,jdbcType=VARCHAR},
      AUTH_SRC = #{record.authSrc,jdbcType=INTEGER},
      AUTH_DESC = #{record.authDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengshi.ecp.staff.dao.model.DataAuth" >
    update t_data_auth
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        AUTH_CODE = #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null" >
        FUNC_ID = #{funcId,jdbcType=INTEGER},
      </if>
      <if test="authType != null" >
        AUTH_TYPE = #{authType,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null" >
        SYS_CODE = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="authSrc != null" >
        AUTH_SRC = #{authSrc,jdbcType=INTEGER},
      </if>
      <if test="authDesc != null" >
        AUTH_DESC = #{authDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengshi.ecp.staff.dao.model.DataAuth" >
    update t_data_auth
    set NAME = #{name,jdbcType=VARCHAR},
      AUTH_CODE = #{authCode,jdbcType=VARCHAR},
      FUNC_ID = #{funcId,jdbcType=INTEGER},
      AUTH_TYPE = #{authType,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=VARCHAR},
      SYS_CODE = #{sysCode,jdbcType=VARCHAR},
      AUTH_SRC = #{authSrc,jdbcType=INTEGER},
      AUTH_DESC = #{authDesc,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>