#parse("sys/sys_param.vm")

<h3>内容简介</h3>
<div class="clearfix">
<div class="row-fluid">
    <div class="span4">
    	<form class="form-horizontal mt20">
            <div class="control-group">
                <label class="control-label">账户适用对象：</label>
                <div class="controls">
                    <select name="shopId" id="shopId" enabled>
                    	<option value="">请选择</option>
						#foreach($key in $!{shopMap.keySet()})
							<option value="$!{key}">$!{shopMap.get($key)}</option>
						#end
                    </select>
                </div>
            </div>
    	</form>
    </div>
    <div class="span2">
        <div class="control-group mt20 pull-right">
            <div class="controls">
                <button class="btn" id="queryCommitBtn"><i class="icon-search"></i> 查询</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row-fluid">
    <div id="pageMainBox">
    	#parse("/staff/buyer/acct/tab/page/balance-list.vm")
    </div>
</div>
